.list-normal, .list-number {
    @apply space-y-[0.17em];
    & > li {
        @apply relative pl-[1em]
               before:absolute before:top-0 before:left-0 before:w-[1em] before:text-center;
    }
}

.list-normal {
    & > li {
        @apply before:content-["-"];
    }
}

.list-number {
    counter-reset: section;
    & > li {
        &::before {
            counter-increment: section; 
            content: counter(section)"."; 
        }
    }
}