@layer components {
    .tabs {
        @apply flex flex-wrap gap-1.5 tracking-tight break-keep
               md:gap-2
               lg:gap-2.5;
        & li {
            @apply flex-1;
        }
        & .tabs-link {
            @apply flex items-center justify-center border-0.5 px-2 py-1 h-[3.125rem] border-gray2 rounded-md bg-gray2 text-black2 text-center leading-[1.1] text-base break-all
                   md:h-15 md:text-lg
                   lg:h-[4.375rem] lg:text-xl;
            &.active {
                @apply bg-white border-black2 text-black2 font-bold;
            }
        }
        &.is-small {
            @apply gap-1
                   md:gap-1.5
                   lg:gap-2;
            & .tabs-link {
                @apply px-0 h-10 text-sm
                       md:px-3.5 md:h-[3.125rem] md:text-base
                       lg:h-[3.125rem] lg:text-base;
            }
        }
        &[class*="is-cols-"] {
            & li {
                @apply flex-none;
            }
        }
        &.is-cols-3 {
            & li {
                @apply w-[calc(33.33333%-0.25rem)]
                       md:w-[calc(33.33333%-0.33333rem)]
                       lg:w-[calc(33.33333%-0.41666rem)];
            }
            &.is-small {
                & li {
                    @apply w-[calc(33.33333%-0.16666rem)]
                           md:w-[calc(33.33333%-0.25rem)]
                           lg:w-[calc(33.33333%-0.33333rem)];
                }
            }
        }
        &.is-cols-4 {
            & li {
                @apply w-[calc(25%-0.28125rem)]
                       md:w-[calc(25%-0.375rem)]
                       lg:w-[calc(25%-0.46875rem)];
            }
            &.is-small {
                & li {
                    @apply w-[calc(25%-0.1875rem)]
                           md:w-[calc(25%-0.28125rem)]
                           lg:w-[calc(25%-0.375rem)];
                }
            }
        }
        &.is-cols-5 {
            & li {
                @apply w-[calc(25%-0.3rem)]
                       md:w-[calc(20%-0.4rem)]
                       lg:w-[calc(20%-0.5rem)];
            }
            &.is-small {
                & li {
                    @apply w-[calc(25%-0.2rem)]
                           md:w-[calc(20%-0.3rem)]
                           lg:w-[calc(20%-0.4rem)];
                }
            }
        }
        &.is-cols-6 {
            & li {
                @apply w-[calc(25%-0.28125rem)]
                       md:w-[calc(16.66667%-0.41666rem)]
                       lg:w-[calc(16.66667%-0.52083rem)];
            }
            &.is-small {
                & li {
                    @apply w-[calc(25%-0.1875rem)]
                           md:w-[calc(16.66667%-0.28125rem)]
                           lg:w-[calc(16.66667%-0.41666rem)];
                }
            }
        }
    }
}