@layer components {
    .tooltip {
        @apply z-65 tracking-tight border border-black2 rounded bg-[#525252] text-white font-sans whitespace-nowrap shadow-[0px_2px_4px_#00000080];
        & .tooltip-inner {
            @apply py-1 px-3.5 rounded-lg bg-[#525252] text-sm;
        }
        & .tooltip-arrow {
            @apply before:absolute before:top-0 before:left-0 before:w-0 before:h-0 before:border-solid
                   after:absolute after:top-0 after:left-0 after:w-0 after:h-0 after:border-solid;
        }
        &.bs-tooltip-auto[data-popper-placement^=top], &.bs-tooltip-top {
            & .tooltip-arrow {
                @apply -bottom-[5px] w-[10px] h-[5px]
                       before:border-[5px] before:border-b-0 before:border-transparent before:border-t-black2
                       after:-mt-px after:ml-px after:border-[4px] after:border-b-0 after:border-transparent after:border-t-[#525252];
            }
        }
        &.bs-tooltip-auto[data-popper-placement^=bottom], &.bs-tooltip-bottom {
            & .tooltip-arrow {
                @apply -top-[5px] w-[10px] h-[5px]
                       before:border-[5px] before:border-t-0 before:border-transparent before:border-b-black2
                       after:mt-px after:ml-px after:border-[4px] after:border-t-0 after:border-transparent after:border-b-[#525252];
            }
        }
        &.bs-tooltip-auto[data-popper-placement^=left], &.bs-tooltip-start {
            & .tooltip-arrow {
                @apply -right-[5px] w-[5px] h-[10px]
                       before:border-[5px] before:border-r-0 before:border-transparent before:border-l-black2
                       after:mt-px after:-ml-px after:border-[4px] after:border-r-0 after:border-transparent after:border-l-[#525252];
            }
        }
        &.bs-tooltip-auto[data-popper-placement^=right], &.bs-tooltip-end {
            & .tooltip-arrow {
                @apply -left-[5px] w-[5px] h-[10px]
                       before:border-[5px] before:border-l-0 before:border-transparent before:border-r-black2
                       after:mt-px after:ml-px after:border-[4px] after:border-l-0 after:border-transparent after:border-r-[#525252];
            }
        }
    }
}