:root {
    --key1 : #6E2A85;
    --key2 : #E63985;
    --key3 : #BA366B;
    --key4 : #B76F2C;
    --key5 : #459199;
    --key6 : #42A075;
    --key7 : #619341;
    --key8 : #5E6755;
    --key1-gradient  : linear-gradient(142deg, #662E79 0%, #DC4199 100%);
    --key2-gradient  : linear-gradient(142deg, #CF3B7C 0%, #F69664 100%);
    --key3-gradient  : linear-gradient(142deg, #B9366B 0%, #E3853C 100%);
    --key4-gradient  : linear-gradient(142deg, #B46B29 0%, #EBB964 100%);
    --key5-gradient  : linear-gradient(142deg, #459199 0%, #4FC09E 100%);
    --key6-gradient  : linear-gradient(142deg, #3F9E77 0%, #73C04F 100%);
    --key7-gradient  : linear-gradient(142deg, #619442 0%, #C7877A 100%);
    --key8-gradient  : linear-gradient(142deg, #5E6755 0%, #AC6491 100%);
    --key1-gradient2 : linear-gradient(104deg, #662E79 0%, #DC4199 100%);
    --key2-gradient2 : linear-gradient(104deg, #CF3B7C 0%, #F69664 100%);
    --key3-gradient2 : linear-gradient(104deg, #B9366B 0%, #E3853C 100%);
    --key4-gradient2 : linear-gradient(104deg, #B46B29 0%, #EBB964 100%);
    --key5-gradient2 : linear-gradient(104deg, #459199 0%, #4FC09E 100%);
    --key6-gradient2 : linear-gradient(104deg, #3F9E77 0%, #73C04F 100%);
    --key7-gradient2 : linear-gradient(104deg, #619442 0%, #C7877A 100%);
    --key8-gradient2 : linear-gradient(104deg, #5E6755 0%, #AC6491 100%);
}

html, body {
    @apply scroll-smooth text-black2;
    -webkit-overflow-scrolling: touch;
    font-family: "NanumSquareNeo";
}

body {
    @apply text-sm md:text-base;
}

strong {
    @apply font-extrabold;
}

@layer components {
    .modal {
        @apply hidden fixed top-0 left-0 w-full h-full overflow-x-hidden overflow-y-auto;
        & .modal-dialog {
            @apply relative pointer-events-none m-0 h-full sm:my-2 sm:h-[calc(100%_-_1rem)] sm:mx-auto;
            &.modal-lg {
                max-width: 580px;
                & .modal-content {
                    @apply sm:max-h-[60rem];
                }
            }
            &.modal-xl {
                max-width: 768px;
            }
            &.modal-2xl {
                max-width: 1024px;
            }
        }
        & .modal-content {
            @apply relative flex flex-col w-full h-full bg-white shadow-none pointer-events-auto sm:border-[0.1875rem] sm:border-black1 sm:rounded-[1.875rem] sm:h-[calc(100vh_-_1rem)] sm:max-h-[51.125rem];
        }
        & .modal-header {
            @apply flex items-center justify-between px-2.5 h-[2.8125rem] sm:px-5 sm:h-15;
            & img {
                @apply h-4;
            }
            & [data-bs-dismiss="modal"] {
                @apply -mr-2.5 w-8 h-8 overflow-hidden -indent-96 bg-no-repeat bg-center bg-[url(../images/ico-close.svg)] bg-[length:1.125rem] sm:-mr-3.5 sm:w-11 sm:h-11 sm:bg-[length:1.5rem];
            }
        }
        & .modal-body {
            @apply px-2.5 py-4 sm:p-5 scroll-smooth;
            overflow: overlay;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                @apply w-4.5 h-4.5;
            }
            &::-webkit-scrollbar-thumb {
                @apply rounded-lg border-1.5 border-solid border-transparent bg-[#d8d8d8] transition-all duration-300;
                background-clip: content-box;
            }
            &:last-child {
                @apply pb-10;
            }
        }
        & .modal-banner {
            @apply flex-none -mx-2.5 sm:-mx-5;
            & img {
                @apply w-full;
            }
        }
        & .modal-footer {
            @apply flex items-center justify-center px-5 py-7.5 space-x-3;
        }
    }

    .modal-backdrop {
        @apply bg-black/70;
        &.show {
            @apply opacity-100;
        }
    }

    .offcanvas {
        @apply fixed flex inset-0 flex-col overflow-auto invisible max-w-full max-h-full transition duration-200 ease-in-out bg-white;
        & .offcanvas-header {
            @apply sticky top-0 bg-transparent flex items-center justify-between px-2.5 h-[2.8125rem] sm:px-5 sm:h-15;
            & [data-bs-dismiss="offcanvas"] {
                @apply absolute top-2 right-0.5 -mt-px w-8 h-8 overflow-hidden -indent-96 bg-no-repeat bg-center bg-[url(../images/ico-close.svg)] bg-[length:1.125rem] sm:top-2.5 sm:right-1 sm:w-11 sm:h-11 sm:bg-[length:1.5rem];
            }
        }
        & .offcanvas-body {
            @apply flex-grow;
            overflow: overlay;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                @apply w-4.5 h-4.5;
            }
            &::-webkit-scrollbar-thumb {
                @apply rounded-lg border-1.5 border-solid border-transparent bg-[#d8d8d8] transition-all duration-300;
                background-clip: content-box;
            }
        }
        &.offcanvas-start {
            @apply right-auto w-96;
        }
        &.offcanvas-top {
            @apply bottom-auto h-1/3;
        }
        &.offcanvas-end {
            @apply left-auto w-96;
        }
        &.offcanvas-bottom {
            @apply top-auto h-1/3;
        }
        &.offcanvas-fullpage {
            @apply w-full h-full duration-500;
        }
    }

    .offcanvas-backdrop {
        @apply bg-black/70;
        &.show {
            @apply opacity-100;
        }
    }

    .form-input {
        @apply px-4 h-[3.4375rem] rounded-lg bg-gray2;
    }

    .form-check {
        @apply inline-block overflow-hidden text-sm leading-normal align-middle md:text-base;
        & .form-check-input {
            @apply float-left mt-[0.125em] h-[1.25em] border border-gray1 bg-no-repeat bg-contain bg-white appearance-none cursor-pointer;
            &:checked {
                @apply bg-black2 border-black2;
                & + .form-check-label {
                    @apply font-bold;
                }
            }
            &[type="radio"] {
                @apply bg-none shadow-[inset_0_0_0_0.25em_white];
            }
        }
        & .form-check-label {
            @apply inline-block;
        }
        &.form-switch {
            @apply py-1 pl-9 relative leading-4;
            & .form-check-input {
                @apply mt-0 -ml-9 w-7.5 h-4 border-gray2 rounded-full bg-gray2 transition-all duration-300 shadow-sm align-top;
                background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
                &:checked {
                    @apply border-black2 bg-black2;
                    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);
                    & + .form-check-label {
                        @apply text-black2;
                    }
                }
            }
            & .form-check-label {
                @apply text-[1em] leading-4 align-top;
            }
        }
        &:not(.form-switch) {
            & .form-check-input {
                @apply w-[1.25em] transition duration-200 bg-center;
                &:focus {
                    @apply outline-0;
                }
                &[type="checkbox"] {
                    @apply rounded-[0.25em];
                }
                &[type="radio"] {
                    @apply rounded-full;
                }
            }
            & .form-check-label {
                @apply ml-[0.375em];
            }
        }
    }

    .dropdown {
        @apply relative;
    }

    .dropdown-toggle {
        @apply w-full;
    }

    .dropdown-menu {
        @apply hidden -left-px w-full max-h-59 overflow-auto border border-black2 rounded-md bg-white text-black2 translate-y-1 whitespace-normal break-all;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            @apply w-3 h-3;
        }
        &::-webkit-scrollbar-thumb {
            @apply rounded-lg border-1 border-solid border-transparent bg-[#d8d8d8] transition-all duration-300;
            background-clip: content-box;
        }
        & li {
            &:first-child {
                & .dropdown-item {
                    @apply border-t-0;
                }
            }
        }
        & .dropdown-item {
            @apply border-t border-t-[#d8d8d8] block py-2.5 px-4 text-sm leading-snug active:bg-neutral-100;
        }
    }

    .label {
        @apply inline-flex items-center justify-center px-3 rounded-full h-5.5 bg-gray1 text-[0.8125rem] font-normal text-white;
        & + .label {
            @apply mr-0.5 last:mr-0;
        }
    }

    .label-color1 {
        background: var(--key1-gradient2);
    }

    .label-color2 {
        background: var(--key2-gradient2);
    }

    .label-color3 {
        background: var(--key3-gradient2);
    }

    .label-color4 {
        background: var(--key4-gradient2);
    }

    .label-color5 {
        background: var(--key5-gradient2);
    }

    .label-color6 {
        background: var(--key6-gradient2);
    }

    .label-color7 {
        background: var(--key7-gradient2);
    }

    .label-color8 {
        background: var(--key8-gradient2);
    }

    .btn {
        @apply px-4 h-[3.4375rem] border-0 rounded-lg bg-gray1 text-center text-base text-white font-bold ring-0;
        &:hover, &:focus, &:active {
            @apply bg-gray1 ring-0;
        }
    }

    .btn-small {
        @apply px-3 h-[2.625rem] rounded-md text-sm;
    }

    .btn-primary {
        @apply bg-black2;
        &:hover, &:focus, &:active {
            @apply bg-black2;
        }
    }

    .btn-outline-primary {
        @apply border-[0.1875rem] border-black2 bg-white/50 backdrop-blur-sm text-black2;
        &:hover, &:focus, &:active {
            @apply border-black2 bg-white/50;
        }
        & .btn-small {
            @apply border-0.5;
        }
    }

    .btn-request {
        @apply rounded-full w-61 h-[2.625rem];
        &::after {
            @apply content-empty ml-2.5 w-[0.6875rem] h-2.5 bg-cover bg-[url(../images/ico-window-white.svg)];
        }
    }

    .btn-share {
        @apply relative w-10 h-10 overflow-hidden rounded-full -indent-96;
        &::after {
            @apply content-empty absolute top-1/2 left-1/2 w-5 h-5 bg-no-repeat bg-[length:100%] bg-center bg-[url(../images/ico-share-white.svg)] -translate-x-1/2 -translate-y-1/2;
        }
    }

    .btn-color1 {
        background: var(--key1-gradient2);
    }

    .btn-color2 {
        background: var(--key2-gradient2);
    }

    .btn-color3 {
        background: var(--key3-gradient2);
    }

    .btn-color4 {
        background: var(--key4-gradient2);
    }

    .btn-color5 {
        background: var(--key5-gradient2);
    }

    .btn-color6 {
        background: var(--key6-gradient2);
    }

    .btn-color7 {
        background: var(--key7-gradient2);
    }

    .btn-color8 {
        background: var(--key8-gradient2);
    }

    .text-color1 {
        @apply text-[var(--key1)];
    }

    .text-color2 {
        @apply text-[var(--key2)];
    }

    .text-color3 {
        @apply text-[var(--key3)];
    }

    .text-color4 {
        @apply text-[var(--key4)];
    }

    .text-color5 {
        @apply text-[var(--key5)];
    }

    .text-color6 {
        @apply text-[var(--key6)];
    }

    .text-color7 {
        @apply text-[var(--key7)];
    }

    .text-color8 {
        @apply text-[var(--key8)];
    }

    .text-color1-mask {
        background: var(--key1-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .text-color2-mask {
        background: var(--key2-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .text-color3-mask {
        background: var(--key3-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .text-color4-mask {
        background: var(--key4-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .text-color5-mask {
        background: var(--key5-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .text-color6-mask {
        background: var(--key6-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .text-color7-mask {
        background: var(--key7-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .text-color8-mask {
        background: var(--key8-gradient2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
}