
*.iml
*.log
target/
eroumapi/
eroum/
version
HELP.md
.gradle
.svn/
build/
bin/
src/node_modules/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### api문서 ###


### Eclipse ###
.settings/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/webapp/WEB-INF/classes/
src/main/webapp/node_modules
src/test/java/icube/TilkoTest.java
src/main/webapp/WEB-INF/jsp/main/.DS_Store
src/.DS_Store
src/main/java/icube/.DS_Store
src/main/.DS_Store
src/.DS_Store
.DS_Store
.metadata


### personal ###
regist_step2_bk1.jsp
regist_step1_bk1.jsp
regist_step1_bk2.jsp
recipient_info_modal_bk1.jsp
searchBokji_bk1.jsp
sub_bk1.jsp
sub_bk2.jsp
list_bk1.jsp
test-result_bk1.jsp
요양정보간편조회-서브메인_bk1.html
어르신복지서비스-모달.html
검색서비스_231010.html
infomation.html
sitemap2.html
test.html
tailwind.html
index copy.html
.gitignore