@layer components {
    .scrollbars-content {
        @apply scrollbars -mx-1.5;
        & .table-list, & .table-detail {
            @apply table-auto mx-0 w-auto min-w-full;
        }
    }

    .box-gradient, .box-gray {
        @apply flex flex-wrap w-fit relative max-w-full p-1 min-h-15 rounded-md align-middle leading-tight font-medium text-center md:min-h-[4.375rem];
    }

    .box-gradient {
        &::before {
            @apply content-empty absolute top-1 left-1 right-1 bottom-1 rounded-md blur-xs;
            background: linear-gradient(122deg, #F7C825 0%, #24DADE 25%, #746FE5 50%, #C418BC 76%, #FE0146 100%);
        }
        & .content {
            @apply relative flex flex-wrap items-center z-5 px-3.5 py-3 w-full border rounded-md border-black/40 bg-white md:px-5;
            & > * {
                @apply mr-1 md:mr-3 last:mr-0;
            }
        }
    }
    
    .box-gray {
        @apply items-center px-3.5 py-4 border rounded-md border-gray2 bg-gray2 md:px-5;
        & > * {
            @apply mr-2 md:mr-3 last:mr-0;
        }
    }

    .box-result {
        @apply px-5 py-9 rounded-lg bg-gray2 text-center font-medium text-sm md:text-base md:py-13 md:rounded-[1rem];
        &.is-large {
            @apply py-14 bg-no-repeat bg-[right_0.875rem_bottom_0.75rem] bg-[url(../images/txt-eroum-white.svg)] bg-[length:auto_1rem] md:py-29 md:bg-[length:auto_auto];
        }
    }

    .list-normal, .list-number {
        @apply space-y-[0.17em];
        & li {
            @apply relative pl-[1em] before:absolute before:top-0 before:left-0 before:w-[1em] before:text-center;
        }
    }

    .list-normal {
        & li {
            @apply before:content-["-"];
        }
    }

    .list-number {
        counter-reset: section;
        & li {
            &::before {
                counter-increment: section; 
                content: counter(section)"."; 
            }
        }
    }
    
    .error {
        @apply mt-1 text-[0.8125rem] md:text-sm;
    }

    .text-grade1 {
        @apply text-[#FE9015];
    }
    .text-grade2 {
        @apply text-[#3FA54D];
    }
    .text-grade3 {
        @apply text-[#BF944C];
    }
}

html {
    @apply scrollbars scroll-smooth overflow-visible;
}

body {
    @apply block relative pt-12 w-screen h-screen max-h-screen text-sm scrollbars scroll-smooth overflow-x-hidden text-black2 md:pt-16 lg:pt-21 md:text-base;
    overflow-y: overlay;
    &::-webkit-scrollbar {
        @apply w-3 h-3;
    }
    &::-webkit-scrollbar-thumb {
        @apply rounded-lg border-0.5;
    }
}