.checkpoint-title {
    @apply mx-auto mt-5 mb-4 w-full max-w-[1244px] text-center md:mt-7.5 md:mb-8 lg:mt-10 lg:mb-12;
    & span {
        @apply block relative mx-auto w-fit font-bold leading-[1.2] text-2xl md:text-[2.375rem] lg:text-[3.125rem];
        & em {
            @apply block text-4xl text-[1.1] md:text-[3.25rem] lg:text-[4.375rem];
        }
        & strong {
            @apply text-[#FF8F15] font-black;
        }
    }
    & small {
        @apply block mt-7 text-center text-sm md:mt-12 md:text-base lg:mt-12 lg:text-lg;
    }
}

.checkpoint-navigation {
    @apply sticky flex z-15 top-18 -mx-2.5 w-[calc(100%_+_1.25rem)] bg-white md:top-25;
    & .container {
        @apply max-w-none w-auto overflow-auto overflow-y-visible 2xl:relative 2xl:w-fit 2xl:left-1/2 2xl:-translate-x-1/2;
        &::-webkit-scrollbar {
            @apply w-0 h-0;
        }
    }
    & ul {
        @apply flex text-[0.625rem] leading-snug text-center tracking-tighter mx-auto w-fit md:text-xs 2xl:text-sm;
    }
    & li {
        @apply flex-none mr-0.5 lg:mr-1;
        &:last-child {
            @apply mr-0;
        }
    }
    & a {
        @apply block py-1.5 px-0.5 min-w-19 border border-white rounded md:rounded-md md:py-3.5 md:w-22 lg:w-26 whitespace-nowrap;
        &::before {
            @apply content-empty block mb-1 h-10 bg-center bg-no-repeat bg-[length:auto_2.25rem] md:mb-1.5 md:h-[3.3rem] md:bg-[length:auto_3rem] lg:mb-2 lg:h-[4.125rem] lg:bg-[length:auto_3.75rem];
        }
        &.nav-item1 {
            &::before {
                @apply bg-[url(../images/img-checkpoint1.svg)];
            }
        }
        &.nav-item2 {
            &::before {
                @apply bg-[url(../images/img-checkpoint2.svg)];
            }
        }
        &.nav-item3 {
            &::before {
                @apply bg-[url(../images/img-checkpoint3.svg)];
            }
        }
        &.nav-item4 {
            &::before {
                @apply bg-[url(../images/img-checkpoint4.svg)];
            }
        }
        &.nav-item5 {
            &::before {
                @apply bg-[url(../images/img-checkpoint5.svg)];
            }
        }
        &.nav-item6 {
            &::before {
                @apply bg-[url(../images/img-checkpoint6.svg)] bg-[length:auto_1.5rem] md:bg-[length:auto_2rem] lg:bg-[length:auto_2.5rem];
            }
        }
        &.nav-item7 {
            &::before {
                @apply bg-[url(../images/img-checkpoint7.svg)];
            }
        }
        &.nav-item8 {
            &::before {
                @apply bg-[url(../images/img-checkpoint8.svg)] bg-[length:auto_2.0625rem] md:bg-[length:auto_2.75rem] lg:bg-[length:auto_3.4375rem];
            }
        }
        &.nav-item9 {
            &::before {
                @apply bg-[url(../images/img-checkpoint9.svg)] bg-[length:auto_2.68125rem] md:bg-[length:auto_3.25rem] lg:bg-[length:auto_4.0625rem];
            }
        }
        &.nav-item10 {
            &::before {
                @apply bg-[url(../images/img-checkpoint10.svg)] bg-[length:auto_2.175rem] md:bg-[length:auto_2.9rem] lg:bg-[length:auto_3.625rem];
            }
        }
        &.nav-item11 {
            &::before {
                @apply bg-[url(../images/img-checkpoint11.svg)] bg-[length:auto_0.9rem] md:bg-[length:auto_1.2rem] lg:bg-[length:auto_1.5rem];
            }
        }
        &.nav-item12 {
            &::before {
                @apply bg-[url(../images/img-checkpoint12.svg)] bg-[length:auto_0.9rem] md:bg-[length:auto_1.2rem] lg:bg-[length:auto_1.5rem];
            }
        }
        &.nav-item13 {
            &::before {
                @apply bg-[url(../images/img-checkpoint13.svg)] bg-[length:auto_1.575rem] md:bg-[length:auto_2.1rem] lg:bg-[length:auto_2.625rem];
            }
        }
        &.nav-item14 {
            &::before {
                @apply bg-[url(../images/img-checkpoint14.svg)] bg-[length:auto_2.175rem] md:bg-[length:auto_2.9rem] lg:bg-[length:auto_3.625rem];
            }
        }
        &.active, &.is-active {
            @apply border-gray1;
            &.nav-item1 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint1-on.svg)];
                }
            }
            &.nav-item2 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint2-on.svg)];
                }
            }
            &.nav-item3 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint3-on.svg)];
                }
            }
            &.nav-item4 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint4-on.svg)];
                }
            }
            &.nav-item5 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint5-on.svg)];
                }
            }
            &.nav-item6 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint6-on.svg)];
                }
            }
            &.nav-item7 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint7-on.svg)];
                }
            }
            &.nav-item8 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint8-on.svg)];
                }
            }
            &.nav-item9 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint9-on.svg)];
                }
            }
            &.nav-item10 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint10-on.svg)];
                }
            }
            &.nav-item11 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint11-on.svg)];
                }
            }
            &.nav-item12 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint12-on.svg)];
                }
            }
            &.nav-item13 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint13-on.svg)];
                }
            }
            &.nav-item14 {
                &::before {
                    @apply bg-[url(../images/img-checkpoint14-on.svg)];
                }
            }
        }
    }
}

.checkpoint-container {
    @apply mt-9 mx-auto w-full max-w-[1100px] md:mt-12 lg:mt-15;
}

.checkpoint-item-name {
    @apply text-center text-[1.875rem] tracking-tight leading-tight font-bold md:text-[2.75rem] lg:text-[3.75rem];
    & .name {
        @apply block;
    }
    & .thumb {
        @apply flex items-center justify-center mt-[0.35em] min-h-[7.375rem] md:min-h-39 lg:min-h-49;
    }
}

.checkpoint-item-date {
    @apply flex items-center justify-center flex-wrap mt-7 space-x-20 md:mt-7.5 md:space-x-22 leading-none;
    & sup, & sub, & strong {
        @apply inline-block leading-none;
    }
    & sup {
        @apply top-[1em] mr-[0.1em] align-top text-[0.6875rem] md:text-sm;
    }
    & sub {
        @apply bottom-[0.625em] -ml-[0.1em] align-bottom text-sm font-bold md:text-lg lg:text-xl;
    }
    & strong {
        @apply font-serif text-4xl leading-tight md:text-[2.5rem] lg:text-7xl;
    }
    & .title {
        @apply text-center w-full mb-3 text-lg md:mb-0 md:w-auto md:text-xl font-black lg:text-2xl;
        & + p {
            @apply md-max:ml-0 !important;
        }
    }
}

.checkpoint-item-note {
    @apply mt-11 mx-auto max-w-[1060px] md:mt-17 lg:mt-23;
    & dt {
        @apply relative pt-0.5 pr-2 pl-5 w-fit uppercase rounded-full bg-black2 font-serif text-[0.6875rem] text-white md:py-0.5 md:pr-3 md:pl-8 md:text-sm;
        &::before {
            @apply content-empty absolute bottom-1.5 left-1.5 w-4 h-3.5 bg-cover bg-[url(../images/ico-index-check.svg)] md:bottom-2 md:left-3 md:w-[1.4375rem] md:h-[1.3125rem];
        }
    }
    & dd {
        @apply mt-2 md:text-lg lg:text-[1.375rem];
        & ul {
            & li {
                @apply relative pl-[1em] font-light;
                &::before {
                    @apply absolute top-0 left-0 font-black;
                    content: "✓";
                }
            }
        }
    }
}

.checkpoint-item-desc {
    @apply mt-7 text-center md:mt-7.5 md:text-lg lg:text-[1.375rem];
}

.checkpoint-item-link {
    @apply btn-primary flex mt-13 mx-auto w-50 h-[2.875rem] md:mt-15 md:w-75 md:h-15;
}

[class*="checkpoint-item-group"] {
    @apply flex flex-wrap mt-7 p-4 pt-4.5 pb-6.5 rounded-lg bg-neutral-100 md:pt-6 md:px-7 md:pb-10 md:rounded-[1rem] lg:pt-8 lg:pl-10 lg:pr-[10%] lg:pb-13;
    & .desc {
        @apply mb-9 w-full text-sm tracking-tight md:mb-15 md:text-lg lg:mb-18 lg:text-[1.375rem];
        word-break: keep-all;
    }
    & .content {
        @apply flex flex-wrap flex-col items-start w-full md:flex-row;
        & dl {
            @apply w-full flex flex-none mt-9 items-start tracking-tight md:mt-0 md:ml-8 md:w-auto;
            & dt {
                @apply flex-none text-xs md:mr-2 md:text-sm;
            }
            & dd {
                @apply flex-1 text-center mt-2;
                & ul {
                    @apply flex flex-1 sm-max:justify-around;
                    & li {
                        & span {
                            @apply mx-auto flex items-end justify-center;
                        }
                        & strong {
                            @apply block mt-2;
                            & small {
                                @apply block mt-1.5 text-center text-[0.6875rem] leading-snug font-normal md:text-sm;
                            }
                        }
                        &:last-child {
                            @apply mr-0;
                        }
                    }
                }
            }
            &:first-child {
                @apply mt-0 md:ml-0;
            }
        }
    }
    & .checkpoint-item-date {
        @apply w-full mt-10 space-x-0 lg:-mt-3 lg:ml-auto lg:space-x-20 lg:w-auto xl:space-x-25;
        & p {
            @apply w-1/2 lg:w-auto;
        }
    }
    & + .checkpoint-item-product {
        @apply mt-26;
    }
}

.checkpoint-item-group1 {
    & .content {
        & dl {
            & dd {
                & ul {
                    & li {
                        @apply sm:mr-10;
                        & span {
                            @apply w-15 sm:w-20 md:w-25;
                            & img {
                                @apply h-15 sm:h-20 md:h-25;
                            }
                        }
                    }
                }
            }
        }
    }
}

.checkpoint-item-group2 {
    & .content {
        & dl {
            & dd {
                & ul {
                    & li {
                        @apply sm:mr-6;
                        & span {
                            @apply w-15 sm:w-20 md:w-25;
                            & img {
                                @apply h-[2.875rem] sm:h-15 md:h-19;
                            }
                        }
                    }
                }
            }
        }
    }
}

.checkpoint-item-group3 {
    & .content {
        & dl {
            & dd {
                & ul {
                    & li {
                        @apply sm:mr-2;
                        & span {
                            @apply w-16 sm:w-21 md:w-27;
                            & img {
                                @apply h-16 sm:h-[5.3125rem] md:h-[6.625rem];
                            }
                        }
                    }
                }
            }
        }
    }
}

.checkpoint-item-group4 {
    & .content {
        & dl {
            & dt {
                @apply mr-1.5 sm:mr-4 md:mr-6.5;
            }
            & dd {
                @apply flex-none w-fit max-w-full mt-2 md:mt-4;
            }
        }
    }
    & .product1, & .product2 {
        & .thum {
            @apply flex justify-center space-x-2 xs:space-x-2.5;
            & img {
                @apply h-12 sm:h-[3.9375rem] md:h-[4.875rem];
            }
        }
    }
    & .product1 {
        @apply flex mb-3 pb-3 w-fit border-b border-dashed border-black2 sm:mb-4.5 sm:pb-4.5 md:mb-6 md:pb-6;
        & .item {
            @apply mr-1.5 xs:mr-2;
            &:last-child {
                @apply mr-0;
            }
        }
        & .name {
            @apply mx-auto mb-3 px-[1em] w-fit rounded-full bg-black2 text-white text-xs sm:mb-4.5 sm:text-[0.8125rem] md:mb-6 md:text-sm;
        }
    }
    & .product2 {
        @apply flex justify-between;
        & .item {
            @apply flex items-center space-x-2 xs:space-x-2.5;
        }
        & .name {
            @apply text-xs font-bold sm:text-[0.8125rem] md:text-sm;
        }
    }
}

.checkpoint-item-group5 {
    & .content {
        & dl {
            & dd {
                @apply mt-6 sm:mt-10;
                & ul {
                    @apply sm-max:justify-between;
                    & li {
                        @apply w-18 sm:mr-8 sm:w-22;
                        & span {
                            @apply h-13 sm:h-16;
                            & img {
                                @apply scale-[0.8] origin-bottom-center sm:scale-100;
                            }
                        }
                    }
                }
            }
        }
    }
}

.checkpoint-item-product {
    @apply flex mt-35;
    word-break: keep-all;
    & .thumb {
        @apply w-[5.125rem] md:mr-2.5 md:w-[8.5625rem] lg:w-48;
        & img {
            @apply mx-auto;
        }
    }
    & .content {
        @apply flex-1;
    }
    & .name {
        @apply flex relative pb-2 items-center border-b border-[#e5e5e5];
        &::before {
            @apply content-empty absolute left-0 -bottom-px w-21 h-px bg-[#191919] md:w-29 lg:w-37;
        }
        & dt {
            @apply w-21 text-center leading-snug font-bold tracking-tighter text-[1.375rem] md:w-29 md:text-4xl lg:w-37 lg:text-[2.625rem];
        }
        & dd {
            @apply flex-1 ml-2 font-medium leading-tight tracking-tight md:ml-4.5 lg:ml-7;
        }
    }
    & .recommend {
        @apply mt-4 flex items-start md:mt-5;
        & > dt {
            @apply w-21 leading-[1.15] text-center font-bold text-[#FF2C2C] text-[0.6875rem] md:w-29 md:text-[0.8125rem] lg:w-37;
            & strong {
                @apply block text-base md:text-[1.1875rem];
            }
        }
        & > dd {
            @apply ml-2 flex-1 md:ml-4.5 lg:ml-7;
            & .desc {
                @apply -mt-1 flex items-center min-h-9.5 font-medium leading-snug;
            }
            & .checkpoint-item-note {
                @apply mt-4.5 -ml-[10.375rem] md:mt-6 md:ml-0 lg:mt-7.5 lg:ml-0;
            }
        }
    }
}

.checkpoint-img-content {
    @apply mx-auto max-w-[800px];
    & .tab {
        @apply relative;
        & a {
            @apply absolute;
        }
    }
}

.style-guide-bathroom {
    @apply px-5 bg-[#F5F5F7];
    & .bathroom-visual {
        @apply relative pt-19 pb-29 -mx-5 px-5 overflow-hidden text-center md:pt-29 md:pb-44 lg:pt-38 lg:pb-58 2xl:pt-48 2xl:pb-73;
        & .slogan {
            @apply relative z-5 text-xs leading-snug font-serif md:text-sm xl:text-base;
            & strong {
                @apply font-black text-base md:text-xl lg:text-2xl;
            }
            & i {
                @apply inline-block relative top-[0.75em] mx-[0.25em] w-2.5 h-2.5 bg-cover align-top;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.95' height='9.018' viewBox='0 0 9.95 9.018'%3E%3Cg id='Group_4' data-name='Group 4' transform='translate(0.219 0.219)'%3E%3Cpath id='Line_3' data-name='Line 3' d='M.5.5l8,7' transform='translate(0.532 0) rotate(3.814)' fill='none' stroke='%23333' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_3-2' data-name='Line 3' d='M-.5.5l-8,7' transform='translate(8.98 0) rotate(-3.814)' fill='none' stroke='%23333' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
        }
        & .title {
            @apply relative z-5 mt-[0.5em] text-6xl leading-[1.48] font-bold md:text-[3.75rem] lg:text-[5rem] 2xl:text-[6.25rem];
            & em {
                @apply xl:tracking-tighter;
            }
        }
        & .desc {
            @apply block relative z-5 mt-[0.3em] text-xs leading-snug font-medium md:text-sm xl:text-base 2xl:text-lg;
        }
        & .images {
            @apply absolute top-0 left-0 w-full h-[120%] bg-cover bg-center bg-[url(../images/img-main-visual1.jpg)];
            transition: transform .6s cubic-bezier(0.15, 0.73, 0.35, 0.9);
        }
    }
    & .bathroom-card {
        @apply grid gap-x-4 gap-y-5 py-10 mx-auto max-w-[1020px] font-bold md:grid-cols-2 md:gap-y-6 md:py-14 lg:py-18 lg:gap-x-5 lg:gap-y-7;
        & .card-item {
            @apply relative leading-[1.167] break-keep select-none lg:min-h-[600px];
            &.is-active {
                & .item-front {
                    @apply scale-[0.97];
                    &::before {
                        @apply opacity-100 visible;
                    }
                    & .name , & .part , & .desc, & .link {
                        @apply opacity-0 invisible;
                    }
                }
                & .item-rear {
                    @apply opacity-100 visible;
                }
                & .item-toggle {
                    @apply scale-[0.97];
                    & button {
                        @apply scale-[1.05] rotate-45;
                        &::after {
                            @apply opacity-100 visible;
                        }
                    }
                }
            }
        }
        & .item-front {
            @apply px-4 pt-6 pb-3 flex flex-col w-full min-h-full overflow-hidden rounded-[1rem] bg-no-repeat bg-left-bottom bg-white transition-all duration-500 md:px-6 md:pt-8 md:pb-4 md:rounded-[1.125rem] lg:px-7 lg:pt-10 lg:pb-5 lg:rounded-[1.25rem];
            &::before {
                @apply content-empty absolute top-0 left-0 -z-5 w-full h-full transition-all duration-500 opacity-0 origin-center;
            }
            & .name {
                @apply w-fit font-black transition-[opacity,visibility] duration-500 text-2xl md:text-3xl lg:text-4xl;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }
            & .part {
                @apply mt-[0.6em] text-lg transition-[opacity,visibility] duration-500 md:text-xl lg:text-2xl;
            }
            & .desc {
                @apply relative mt-[1.6em] mb-[1.5em] pl-[1.5em] text-[0.9375rem] font-bold transition-[opacity,visibility] duration-500 md:text-lg;
                &::before {
                    @apply absolute top-0 left-0 w-[1em];
                    content: "👍🏻";
                }
            }
            & .link {
                @apply flex items-center overflow-hidden relative z-5 w-fit py-[0.6em] px-[1.525em] rounded-full border-0 bg-transparent leading-[1.2] transition-[transform,background-color,background-image,border,color] text-[0.8125rem] md:text-[0.9375rem];
                & i {
                    @apply relative ml-[0.67em] w-[0.3333em] h-[0.6667em] bg-no-repeat;
                    &::before, &::after {
                        @apply content-empty absolute top-0 left-0 w-full h-full bg-no-repeat transition-[opacity,visibility] bg-cover bg-right-center duration-500;
                    }
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.414' height='11.414' viewBox='0 0 6.414 11.414'%3E%3Cg id='Group_6' data-name='Group 6' transform='translate(0.207 0.207)'%3E%3Cpath id='Line_4' data-name='Line 4' d='M.5.5l5,5' fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_4-2' data-name='Line 4' d='M.5,5.5l5-5' transform='translate(0 5)' fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                    &::after {
                        @apply opacity-0 invisible;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.414' height='11.414' viewBox='0 0 6.414 11.414'%3E%3Cg id='Group_6' data-name='Group 6' transform='translate(0.207 0.207)'%3E%3Cpath id='Line_4' data-name='Line 4' d='M.5.5l5,5' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_4-2' data-name='Line 4' d='M.5,5.5l5-5' transform='translate(0 5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }
                &::before, &::after {
                    @apply content-empty absolute -z-5 top-0 left-0 w-full h-full bg-gray2 bg-no-repeat transition-[opacity,visibility] duration-500;
                }
                &::after {
                    @apply opacity-0 invisible;
                }
                &:hover, &:focus {
                    @apply text-white;
                    &::after {
                        @apply opacity-100 visible;
                    }
                    & i {
                        &::before {
                            @apply opacity-0 invisible;
                        }
                        &::after {
                            @apply opacity-100 visible;
                        }
                    }
                }
            }
            & .image {
                @apply m-auto -mb-2 md:-mb-3.5;
            }
            & .btn {
                @apply flex-none mt-auto -mx-1 md:-mx-2;
                &:hover, &:focus {
                    @apply bg-white text-black2;
                }
            }
        }
        & .item-rear {
            @apply flex items-center justify-center flex-col px-[2.75%] pt-[9.75%] pb-[5.5%] w-full min-h-full text-white transition-all duration-500 opacity-0 visible;
            & .logo {
                @apply  relative z-10;
                & img {
                    @apply object-cover h-20 lg:h-25;
                }
            }
            & .info {
                @apply flex justify-around w-full relative z-10 mt-4.5 lg:mt-6;
                & sup, & sub, & strong {
                    @apply inline-block leading-none text-xs md:text-sm;
                }
                & sup {
                    @apply top-[1em] mr-[0.1em] align-top;
                }
                & sub {
                    @apply bottom-[1.125em] ml-[0.1em] align-bottom;
                }
                & strong {
                    @apply text-[2.75rem] leading-tight md:text-[3.25rem] lg:text-[3.75rem];
                }
            }
            & .desc {
                @apply relative z-10 mt-4 text-center text-[0.9375rem] leading-snug md:mt-5 md:text-lg;
            }
            & .thumb {
                @apply flex justify-center relative z-10 my-7 space-x-2.5 md:space-x-3.5 md:my-9;
                & img {
                    @apply w-18 h-18 rounded-md lg:w-23 lg:h-23;
                }
            }
            & .link {
                @apply relative z-10 mt-auto py-[0.875em] pr-[2.75em] pl-[1.75em] rounded-full bg-no-repeat bg-[length:0.4375em] bg-[right_1.5em_center] bg-white text-black2;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.414' height='11.414' viewBox='0 0 6.414 11.414'%3E%3Cg id='Group_6' data-name='Group 6' transform='translate(0.207 0.207)'%3E%3Cpath id='Line_4' data-name='Line 4' d='M.5.5l5,5' fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_4-2' data-name='Line 4' d='M.5,5.5l5-5' transform='translate(0 5)' fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
        }
        & .item-toggle {
            @apply absolute top-0 left-0 w-full h-full transition-all duration-500;
            & button {
                @apply absolute w-8.5 h-8.5 right-3 bottom-3 overflow-hidden rounded-full bg-cover transition-all duration-500 md:w-11 md:h-11 md:right-4 md:bottom-4 lg:w-14 lg:h-14 lg:right-5 lg:bottom-5;
                &::before, &::after {
                    @apply content-empty absolute top-0 left-0 w-full h-full bg-no-repeat transition-[opacity,visibility] bg-center bg-[length:1.125rem] duration-500 md:bg-[length:1.375rem] lg:bg-[length:1.6875rem];
                }
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27'%3E%3Cpath id='Rectangle_2' data-name='Rectangle 2' d='M12,25.5V15H1.5a1.5,1.5,0,1,1,0-3H12V1.5a1.5,1.5,0,1,1,3,0V12H25.5a1.5,1.5,0,0,1,0,3H15V25.5a1.5,1.5,0,0,1-3,0Z' fill='%23fff' opacity='1'/%3E%3C/svg%3E%0A");
                }
                &::after {
                    @apply opacity-0 invisible bg-white;
                }
            }
        }
        & .is-card1 {
            & .item-front {
                &::before {
                    background: linear-gradient(143deg, #82236F 0%, #C24A4A 100%);
                }
                & .name {
                    background-image: linear-gradient(100deg, #82236F 0%, #C24A4A 100%);
                }
                & .desc {
                    @apply mb-[1em];
                }
                & .link {
                    &::after {
                        background: linear-gradient(143deg, #82236F 0%, #C24A4A 100%);
                    }
                }
                & .image {
                    @apply w-[82.43243243243243%];
                }
            }
            & .item-toggle {
                & button {
                    &::before {
                        @apply bg-[rgba(115,89,73,0.36)];
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27'%3E%3Cpath id='Rectangle_2' data-name='Rectangle 2' d='M12,25.5V15H1.5a1.5,1.5,0,1,1,0-3H12V1.5a1.5,1.5,0,1,1,3,0V12H25.5a1.5,1.5,0,0,1,0,3H15V25.5a1.5,1.5,0,0,1-3,0Z' fill='%23C24A4A' opacity='1'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
        & .is-card2 {
            & .item-front {
                &::before {
                    background: linear-gradient(147deg, #385CB8 0%, #40A7A7 100%);
                }
                & .name {
                    background-image: linear-gradient(102deg, #3759BA 0%, #40A7A7 100%);
                }
                & .link {
                    &::after {
                        background: linear-gradient(147deg, #385CB8 0%, #40A7A7 100%);
                    }
                }
                & .image {
                    @apply w-[88.73873873873874%];
                }
            }
            & .item-toggle {
                & button {
                    &::before {
                        @apply bg-[rgba(91,115,73,0.36)];
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27'%3E%3Cpath id='Rectangle_2' data-name='Rectangle 2' d='M12,25.5V15H1.5a1.5,1.5,0,1,1,0-3H12V1.5a1.5,1.5,0,1,1,3,0V12H25.5a1.5,1.5,0,0,1,0,3H15V25.5a1.5,1.5,0,0,1-3,0Z' fill='%2340A7A7' opacity='1'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
        & .is-card3 {
            & .item-front {
                &::before {
                    background: linear-gradient(146deg, #1E339B 0%, #B048AD 100%);
                }
                & .name {
                    background-image: linear-gradient(123deg, #2C43B3 0%, #DF52DB 100%);
                }
                & .link {
                    &::after {
                        background: linear-gradient(146deg, #1E339B 0%, #B048AD 100%);
                    }
                }
                & .image {
                    @apply w-[95.4954954954955%];
                }
            }
            & .item-toggle {
                & button {
                    &::before {
                        @apply bg-[rgba(89,73,115,0.36)];
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27'%3E%3Cpath id='Rectangle_2' data-name='Rectangle 2' d='M12,25.5V15H1.5a1.5,1.5,0,1,1,0-3H12V1.5a1.5,1.5,0,1,1,3,0V12H25.5a1.5,1.5,0,0,1,0,3H15V25.5a1.5,1.5,0,0,1-3,0Z' fill='%23B048AD' opacity='1'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
        & .is-card4 {
            & .item-front {
                &::before {
                    background: linear-gradient(143deg, #82236F 0%, #C24A4A 100%);
                }
                & .name {
                    background-image: linear-gradient(96deg, #EABB0C 0%, #E86006 100%);
                }
                & .link {
                    &::after {
                        background: linear-gradient(143deg, #82236F 0%, #C24A4A 100%);
                    }
                }
                & .image {
                    @apply w-[87.38738738738739%];
                }
            }
            & .item-toggle {
                & button {
                    &::before {
                        @apply bg-[rgba(174,141,121,0.36)];
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27'%3E%3Cpath id='Rectangle_2' data-name='Rectangle 2' d='M12,25.5V15H1.5a1.5,1.5,0,1,1,0-3H12V1.5a1.5,1.5,0,1,1,3,0V12H25.5a1.5,1.5,0,0,1,0,3H15V25.5a1.5,1.5,0,0,1-3,0Z' fill='%23C24A4A' opacity='1'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
    }
}

.style-guide-livingroom {
    @apply relative;
    & .livingroom-title {
        @apply absolute z-15 top-14 left-0 right-0 px-5 text-white text-center md:top-[7%] 2xl:top-[8.75%];
        text-shadow: 0px 0px 2px #333;
        word-break:keep-all;
        & .slogan {
            @apply relative z-5 text-xs leading-snug font-serif md:text-sm xl:text-base;
            & strong {
                @apply font-black text-base md:text-xl lg:text-2xl;
            }
            & i {
                @apply inline-block relative top-[0.75em] mx-[0.25em] w-2.5 h-2.5 bg-cover align-top;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.95' height='9.018' viewBox='0 0 9.95 9.018'%3E%3Cg id='Group_4' data-name='Group 4' transform='translate(0.219 0.219)'%3E%3Cpath id='Line_3' data-name='Line 3' d='M.5.5l8,7' transform='translate(0.532 0) rotate(3.814)' fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_3-2' data-name='Line 3' d='M-.5.5l-8,7' transform='translate(8.98 0) rotate(-3.814)' fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
        }
        & .title {
            @apply relative z-5 mt-[0.1em] text-6xl leading-[1.48] font-bold md:text-[3.75rem] xl:text-[5rem] 2xl:text-[6.25rem];
            & em {
                @apply xl:tracking-tighter;
                -webkit-text-stroke: 1px white;
            }
        }
        & .desc {
            @apply block relative z-5 mt-[0.2em] text-xs leading-snug font-medium md:text-sm xl:text-base 2xl:text-lg;
        }
    }
    & .livingroom-alert {
        @apply block absolute z-20 top-[calc(12rem_+_5%)] left-1/2 p-9 pb-6.5 -translate-x-1/2 text-xs rounded-lg bg-black/30 text-center select-none text-white backdrop-blur-md whitespace-nowrap md:hidden;
        -webkit-backdrop-filter: blur(16px);
        & img {
            @apply mb-4 mx-auto;
        }
    }
    & .livingroom-visual {
        @apply w-screen overflow-x-auto overflow-y-hidden min-h-[600px];
        @apply md-max:h-[calc(100vh_-_10.25rem)] !important;
        & .simplebar-wrapper, .simplebar-content-wrapper, .simplebar-content {
            @apply h-full !important;
        }
        & .container {
            @apply relative w-auto max-w-none min-h-[600px] h-full;
        }
        & .background {
            @apply relative z-5 max-w-none min-w-full h-full;
        }
        & .dragscroll {
            @apply overflow-hidden !important;
        }
        & .simplebar-horizontal {
            @apply right-[3.359375%] left-[3.359375%] bottom-[4.216867469879518%] lg:right-[6.71875%] lg:left-[6.71875%] h-2.5 md-max:hidden;
            &::before {
                @apply content-empty absolute top-1/2 left-0 -z-5 w-full h-px bg-[#d8d8d8] -translate-y-1/2;
            }
        }
        & .simplebar-scrollbar {
            @apply rounded-full bg-white w-full;
            &::before {
                @apply hidden;
            }
        }
        & .object {
            @apply absolute z-10 opacity-0 invisible;
            & .photo {
                @apply w-full max-w-none;
            }
            & .name {
                & em {
                    @apply block mb-1 text-[0.8125rem] text-white font-bold whitespace-nowrap text-center md:text-sm lg:text-base;
                }
                & i {
                    @apply flex relative mx-auto w-12 h-12 transition-colors duration-300 rounded-full bg-[#F9C23C]/90 md:w-15 md:h-15 lg:w-19 lg:h-19 2xl:w-23 2xl:h-23;
                    & .f, & .r {
                        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-opacity duration-300;
                    } 
                    & .f {
                        @apply w-full h-full;
                        &::before, &::after {
                            @apply content-empty absolute top-1/2 left-1/2 w-[30.43%] h-[30.43%] bg-white -translate-x-1/2 -translate-y-1/2;
                        }
                        &::before {
                            @apply w-px;
                        }
                        &::after {
                            @apply h-px;
                        }
                    }
                    & .r {
                        @apply opacity-0 invisible text-[0.6875rem] font-bold text-black2 uppercase md:text-sm lg:text-sm;
                    }
                }
            }
            &:hover {
                & i {
                    @apply bg-[#F9C23C];
                    & .f {
                        @apply opacity-0 invisible;
                    }
                    & .r {
                        @apply opacity-100 visible;
                    }
                }
            }
            &.is-visible {
                @apply opacity-100 visible;
            }
        }
        & .object-1 {
            @apply top-[43.238554%] left-[25.5673360107095%] w-[10.9375%];
            & .name {
                @apply absolute left-full bottom-full translate-y-[47.862%] translate-x-[-47.347%] md:translate-x-[-29.347%];
                & em {
                    @apply text-black2;
                }
            }
        }
        & .object-2 {
            @apply top-[47.14739%] left-[48.834003%] w-[12.3203125%];
            & .name {
                & em {
                    @apply absolute right-0 bottom-full -translate-x-1/4;
                }
                & i {
                    @apply absolute right-0 bottom-0 translate-y-[32.608%] translate-x-[43.17%] md:translate-x-[52.17%];
                }
            }
        }
        & .object-3 {
            @apply top-[52.149%] right-[28.803659%] w-[3.535546875%];
            & .name {
                @apply absolute top-0 left-0 translate-x-[-57.961%] -translate-y-1/2 md:translate-x-[-67.961%];
            }
        }
        & .object-4 {
            @apply top-[55.789157%] right-[22.939759%] w-[7.1875%];
            & .name {
                @apply absolute top-1/2 left-0 translate-x-[-16%] -translate-y-1/2;
            }
        }
    }
    & .livingroom-steps {
        @apply flex space-x-1 absolute z-20 right-3 bottom-[5.1643%] left-3 md:space-x-0 md:right-[3.359375%] md:left-[3.359375%] md:bottom-[4.216867469879518%] lg:right-[6.71875%] lg:left-[6.71875%];
        & .steps {
            @apply w-1/4 text-[0.8125rem] tracking-tight md:absolute md:pt-2.5 md:-bottom-2.5 md:w-auto md:text-sm xl:text-base;
            & a {
                @apply block bottom-full left-1/2 overflow-hidden border border-white bg-white/5 backdrop-blur-md text-white leading-tight font-bold transition-[background,color,opacity,visibility] duration-300;
                @apply px-2 py-1 h-12 rounded-lg md:absolute md:py-2 md:px-3 md:w-29 md:h-14 md:rounded-[1rem] md:-translate-x-1/2 xl:py-3 xl:px-4 xl:w-38 xl:h-18;
                -webkit-backdrop-filter: blur(16px);
                &::after {
                    @apply opacity-0 content-empty absolute -z-5 bottom-0 right-0 w-full h-full bg-no-repeat bg-white bg-right-bottom bg-[length:63.15789473684211%] transition-[opacity] duration-300;
                }
            }
            & i {
                @apply hidden w-7 h-7 rounded-full bg-white cursor-pointer transition-[background,color] duration-300 xl:w-8 xl:h-8 md:block;
                &.is-active {
                    @apply bg-[#F9C23C];
                }
            }
            &:nth-child(1) {
                @apply left-[36.266808%] lg:left-[36.566808%];
                & a {
                    &::after {
                        @apply md:bg-[url(../images/bg-content-livingroom1.png)];
                    }
                }
            }
            &:nth-child(2) {
                @apply left-[55.88084291187739%] lg:left-[52.98084291187739%];
                & a {
                    @apply md:-translate-x-[80%] 2xl:-translate-x-[65%];
                    &::after {
                        @apply md:bg-[url(../images/bg-content-livingroom2.png)];
                    }
                }
            }
            &:nth-child(3) {
                @apply left-[65.924521%] lg:left-[62.924521%] xl:left-[62.624521%];
                & a {
                    @apply md:-translate-x-[55%] xl:-translate-x-[62%];
                    &::after {
                        @apply md:bg-[url(../images/bg-content-livingroom3.png)];
                    }
                }
            }
            &:nth-child(4) {
                @apply left-[73.86444%] lg:left-[70.86444%] xl:left-[67.86444%];
                & a {
                    @apply md:translate-x-[-12%];
                    &::after {
                        @apply md:bg-[url(../images/bg-content-livingroom4.png)];
                    }
                }
            }
            &.is-active {
                & a {
                    @apply text-black2 z-10;
                    &::after {
                        @apply opacity-100;
                    }
                }
            }
        }
    }
    & .modal {
        & .modal-dialog {
            @apply m-2 max-w-none min-h-0 h-[calc(100%_-_1rem)] bg-transparent;
        }
        & .modal-content {
            @apply flex-none p-0 m-auto max-w-[480px] min-h-0 h-[560px] max-h-[calc(100vh_-_1rem)] rounded-[2rem] md:max-w-[600px] md:h-[700px] md:rounded-[2.5rem];
            &::before {
                @apply hidden;
            }
        }
        & .modal-header, & .modal-body, & .modal-footer {
            @apply px-5 md:px-7;
        }
        & .modal-header {
            @apply justify-start py-5 md:py-7;
            & [data-bs-dismiss] {
                @apply absolute top-1/2 right-3 w-11 h-11 rounded-full bg-black2 overflow-hidden bg-no-repeat bg-[url(../images/ico-close-white.svg)] bg-center bg-[length:47.36842%] -indent-96 -translate-y-1/2 md:right-4 md:w-12 md:h-12 lg:right-5 lg:w-14 lg:h-14;
            }
        }
        & .modal-body {
            @apply flex flex-col flex-1 py-4 min-h-0 md:py-6;
            & .logo {
                @apply flex items-center justify-center relative z-10 h-20 lg:h-25;
                & img {
                    @apply object-cover h-full;
                }
            }
            & .info {
                @apply flex justify-around w-full relative z-10 mt-4.5 lg:mt-6;
                & sup, & sub, & strong {
                    @apply inline-block leading-none text-xs md:text-sm;
                }
                & sup {
                    @apply top-[1em] mr-[0.1em] align-top;
                }
                & sub {
                    @apply bottom-[1.125em] ml-[0.1em] align-bottom;
                }
                & strong {
                    @apply text-[2.75rem] leading-tight md:text-[3.25rem] lg:text-[3.75rem];
                }
            }
            & .desc {
                @apply my-auto text-center text-base leading-snug md:text-xl;
            }
            & .thumb {
                @apply flex justify-center space-x-2 md:space-x-2.5 mt-5;
                & img {
                    @apply w-14 h-14 rounded-md lg:w-17 lg:h-17;
                }
            }
        }
        & .modal-footer {
            @apply p-5 pt-0 md:px-7 md:pb-7;
            & .btn {
                @apply w-full;
                &:hover, &:focus {
                    @apply bg-white text-black2;
                }
            }
        }
    }
}