[class*="main-"] {
    @apply mt-10 mx-auto px-4 max-w-screen-xl
           md:mt-13
           lg:mt-16 lg:px-7
           xl:px-10;
}

.main-visual {
    @apply relative mt-0 mb-11 !px-0 w-full max-w-none min-h-94 max-h-[29.375rem] aspect-[1/1.042]
           md:mb-15 md:min-h-[27.25rem] md:max-h-[34.0625rem] md:aspect-[1/0.2604166666666667]
           lg:mb-19 lg:min-h-[31.25rem] lg:max-h-[46.875rem] lg:aspect-[1/0.2604166666666667];
    & .swiper {
        @apply h-full;
    }
    & .swiper-control {
        @apply absolute z-5 bottom-0 left-1/2 w-full bg-black/20 max-w-screen-xl text-[0.8125rem] text-white/50 -translate-x-1/2
               md:text-base;
    }
    & .swiper-control-container {
        @apply flex items-center gap-1 absolute right-4 bottom-3
               md:bottom-5 md:gap-1.5
               lg:right-7
               xl:right-10
    }
    & .swiper-button {
        @apply flex items-center overflow-hidden rounded-full bg-black/40 backdrop-blur-lg;
    }
    & .swiper-button-prev, & .swiper-button-next, & .swiper-button-toggle {
        @apply flex items-center justify-center static m-0 w-6.5 h-6.5 cursor-pointer
               after:block after:w-full after:h-full after:bg-no-repeat after:bg-center after:opacity-50
               md:w-9 md:h-9
               hover:after:opacity-100;
    }
    & .swiper-button-prev, & .swiper-button-next {
        &::after {
            @apply bg-[length:22.22222222222222%];
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.993' height='16.572' viewBox='0 0 8.993 16.572'%3E%3Cg id='Group_8' data-name='Group 8' transform='translate(8.707 0.286)'%3E%3Cpath id='Line_4' data-name='Line 4' d='M-.421,8-8,.421' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_4-2' data-name='Line 4' d='M-.421.421-8,8' transform='translate(0 7.579)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
    }
    & .swiper-button-prev {
        @apply rotate-180;
    }
    & .swiper-button-toggle {
        @apply w-7 border-x border-x-white/10
               md:w-9.5;
        &::after {
            @apply bg-[length:19.44444444444444%];
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.5' height='15' viewBox='0 0 7.5 15'%3E%3Cg id='Group_6' data-name='Group 6' transform='translate(0 0.5)'%3E%3Cpath id='Line_10' data-name='Line 10' d='M.5,0V14' fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_10-2' data-name='Line 10' d='M.5,0V14' transform='translate(6.5)' fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        &.is-pause {
            &::after {
                @apply bg-[length:30.55555555555556%];
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.414' height='10.802' viewBox='0 0 7.414 10.802'%3E%3Cpath id='Triangle' d='M5.724.955a1,1,0,0,1,1.552,0l4.4,5.414A1,1,0,0,1,10.9,8H2.1a1,1,0,0,1-.776-1.631Z' transform='translate(8 -1.099) rotate(90)' fill='%23fff'/%3E%3C/svg%3E%0A");   
            }
        }
    }
    & .swiper-pagination {
        @apply flex items-center justify-center static ml-1 w-[4.5em] h-6.5 rounded-full bg-[#000]/40 font-medium backdrop-blur-lg
               md:ml-1.5 md:w-[5em] md:h-9;
        & span {
            @apply px-[0.25em];
        }
        & .swiper-pagination-current {
            @apply font-bold text-white;
        }
    }
    & a, & picture {
        @apply block relative h-full overflow-hidden;
    }
    & img {
        @apply mx-auto w-full h-full max-w-full max-h-full object-cover object-top
               lg:w-auto;
    }
}

.main-product {
    @apply relative;
    & .title {
        @apply flex items-center mb-3.5 text-lg font-bold
               md:text-[1.375rem]
               lg:mb-4 lg:text-[1.625rem];
        & img {
            @apply mt-px mr-[0.25em] h-[1em];
        }
    }
    & .swiper-slide {
        @apply w-40
               sm:w-50
               md:w-60
               lg:w-71
               xl:w-auto;
    }
    & .swiper-button-prev, & .swiper-button-next {
        @apply mt-0 top-25 w-9 h-9 rounded-full border border-gray2 bg-white shadow-md opacity-100
               sm:top-29 sm:w-11 sm:h-11       
               md:top-35 md:w-12 md:h-12       
               lg:top-41 lg:w-[3.625rem] lg:h-[3.625rem];
        &::after {
            @apply text-xs font-bold transition-colors duration-300 text-black2/50
                   sm:text-sm
                   md:text-base
                   lg:text-lg;
        }
        &:hover {
            &::after {
                @apply text-black2;
            }
        }
        &.swiper-button-disabled {
            &::after {
                @apply opacity-40;
            }
        }
    }
    & .swiper-button-prev {
        @apply left-1
               xl:-left-0;
    }
    & .swiper-button-next {
        @apply right-1
               xl:-right-0;
    }
}

[class*="main-banner"] {
    & a {
        @apply block overflow-hidden rounded-md;
    }
}

.main-banner1 {
    @apply grid grid-cols-1 gap-3 md:grid-cols-2 md:gap-4 lg:gap-5;
}