section[class*="main-"] {
    @apply mt-2.5 mx-auto px-5 max-w-[1920px] overflow-hidden leading-tight tracking-tight md:mt-7.5 xl:mt-[3.125rem] 2xl:px-20;
    & .container {
        @apply relative px-5 max-w-full rounded-lg bg-no-repeat bg-center bg-cover lg:rounded-[1.25rem];
        word-break: keep-all;
    }
    & .main-link {
        @apply press-action flex items-center justify-center relative mx-auto px-4 pb-px w-32 h-8.5 overflow-hidden rounded-full bg-no-repeat bg-white text-xs text-black2 md:px-6 md:w-45 md:h-11 md:text-[0.9375rem];
        @apply duration-[0.4s];
    }
}

section.main-notice {
    @apply absolute z-20 top-0 left-0 m-0 py-2.5 px-0 w-full max-w-full bg-[#6e6e6e] text-white;
    & .container {
        @apply flex items-center mx-auto px-5 max-w-[1920px] rounded-none 2xl:px-20;
    }
    & .main-title {
        @apply flex-none -mt-0.5 mr-2.5 font-serif font-black text-sm uppercase leading-none tracking-tighter opacity-20 md:mr-2 md:text-base;
    }
    & .main-items {
        @apply flex-1 overflow-hidden;
    }
    & .main-item {
        @apply inline-flex items-start max-w-full align-top;
        & span {
            @apply truncate block text-[0.8125rem] md:text-sm;
        }
        & small {
            @apply flex-none mt-px ml-2 font-serif text-[0.8125rem] md:text-sm;
        }
    }
    &.is-nologin {
        @apply bg-[#6e6e6e]/80;
    }
}

section.main-myinfo {
    @apply mt-0 pt-15 pb-8.5 overflow-visible md:pb-8.5 md:pt-22 xl:pt-[7.125rem] xl:pb-14;
    & .main-user {
        @apply flex items-center;
        & .name {
            @apply text-[1.875rem] font-serif font-thin sm:text-5xl lg:text-[2.625rem];
            & strong {
                @apply pr-[0.15em] pl-[0.2em] font-sans font-bold;
            }
        }
        & .thumb {
            @apply relative ml-2 w-9 h-9 overflow-hidden rounded-full bg-no-repeat bg-gray2 bg-center bg-[url(../images/ico-human3-white.svg)] bg-[length:38%] sm:ml-3 sm:w-12 sm:h-12 lg:ml-5 lg:w-15 lg:h-15;
            box-shadow: rgba(200,200,200,0.2) 3px 10px 5px, rgba(200,200,200,0.2) 5px 20px 10px, rgba(200,200,200,0.2) 8px 32px 16px, rgba(200,200,200,0.2) 24px 64px 32px, rgba(200,200,200,0.15) 48px 100px 32px;
            & img {
                @apply w-full h-full rounded-full object-cover;
            }
        }
    }
    & .main-number {
        @apply inline-grid gap-2.5 grid-cols-3 max-w-full mt-3.5 sm:gap-3 sm:mt-4 md:grid-cols-5 lg:mt-4.5;
        & dl {
            @apply relative max-w-full p-2.5 pr-1.5 pl-10 w-[6.875rem] rounded-lg bg-no-repeat leading-tight sm:p-3.5 sm:pr-2.5 sm:pl-13 sm:w-35 sm:rounded-[1rem] lg:p-4 lg:pr-3 lg:pl-18 lg:w-[10.625rem] lg:rounded-[1.125rem];
            box-shadow: rgba(200,200,200,0.2) 3px 10px 5px, rgba(200,200,200,0.2) 5px 20px 10px, rgba(200,200,200,0.2) 8px 32px 16px, rgba(200,200,200,0.2) 24px 64px 32px, rgba(200,200,200,0.15) 48px 100px 32px;
            & dt {
                @apply text-[0.6875rem] text-center sm:text-xs;
            }
            & dd {
                @apply mt-0.5 font-serif font-bold text-center text-lg sm:mt-1 sm:text-xl lg:mt-2 lg:text-2xl;
            }
            &.recent {
                @apply bg-[length:1.6875rem] bg-[position:left_0.875rem_center] sm:bg-[position:left_1.3125rem_center] sm:bg-[length:2.1875rem] lg:bg-[position:left_1.75rem_center] lg:bg-[length:2.625rem];
                background-image: url(../images/ico-attent-equal.svg);
            }
            &.cart {
                @apply bg-[length:2rem] bg-[position:left_0.75rem_center] sm:bg-[position:left_1.25rem_center] sm:bg-[length:2.5rem] lg:bg-[position:left_1.75rem_center] lg:bg-[length:2.875rem];
                background-image: url(../images/ico-cart.svg);
            }
            &.mileage {
                @apply bg-[length:1.5rem] bg-[position:left_0.875rem_center] sm:bg-[position:left_1.375rem_center] sm:bg-[length:1.875rem] lg:bg-[position:left_2rem_center] lg:bg-[length:2.25rem];
                background-image: url(../images/txt-mileage.svg);
            }
            &.point {
                @apply bg-[length:1.0625rem] bg-[position:left_1.125rem_center] sm:bg-[position:left_1.75rem_center] sm:bg-[length:1.375rem] lg:bg-[position:left_2.375rem_center] lg:bg-[length:1.625rem];
                background-image: url(../images/txt-point.svg);
            }
            &.coupon {
                @apply bg-[length:1.3125rem] bg-[position:left_0.75rem_center] sm:bg-[position:left_1.375rem_center] sm:bg-[length:1.625rem] lg:bg-[position:left_2rem_center] lg:bg-[length:2rem];
                background-image: url(../images/txt-coupon.svg);
            }
            &.mileage, &.point, &.coupon {
                @apply z-5 md-max:row-start-2;
            }
        }
    }
}

section.main-visual {
    @apply relative mt-0;
    & .swiper {
        word-break: keep-all;
        & .swiper-slide {
            @apply relative;
            & .slide-wrapper {
                @apply relative h-80 overflow-hidden rounded-lg sm:h-90 md:h-[30rem] lg:h-[40rem] 2xl:h-[50rem] lg:rounded-[1.25rem];
            }
            & .slide-img {
                @apply absolute top-0 left-0 w-full h-[120%];
                & .photo {
                    @apply absolute top-0 left-1/2 w-screen h-[100%] -ml-[50vw] bg-center bg-[length:auto_100%] bg-no-repeat;
                    transition: transform .6s cubic-bezier(0.15, 0.73, 0.35, 0.9);
                }
            }
            & .slide-content {
                @apply relative h-full;
                & .title {
                    @apply text-6xl font-bold leading-none md:text-[3.75rem] lg:text-[5rem] 2xl:text-[6.25rem];
                    & p {
                        @apply py-[0.19em];
                    }
                    & small {
                        @apply block mt-[0.3em] text-[0.8125rem] leading-snug font-medium md:text-sm lg:text-base 2xl:text-lg;
                    }
                }
                & .btn {
                    @apply py-[0.8em] px-[2.136em] h-auto rounded-full text-[0.8125rem] md:text-sm lg:py-[1em] lg:px-[2.67em] lg:text-base 2xl:text-lg;
                }
            }
            & .slide-summary {
                @apply hidden absolute right-2 bottom-3 text-xs leading-snug font-serif text-white text-right md:block md:right-5 md:bottom-4 md:text-sm lg:bottom-5 lg:text-base 2xl:right-11;
                & strong {
                    @apply font-black text-base md:text-xl lg:text-2xl;
                }
            }
        }
        & .slide-item1 {
            & .slide-img {
                & .photo {
                    @apply bg-[url(../images/img-main-visual1.jpg)];
                }
            }
            & .slide-content {
                @apply text-center pt-10 px-5 sm:pt-14 md:pt-21 lg:pt-28 2xl:pt-35;
                & .title {
                    & em {
                        @apply text-transparent;
                        -webkit-text-stroke: 1px #333;
                    }
                }
                & .btn {
                    @apply mt-[1.56em] border-black2 bg-black2 text-white;
                }
            }
        }
        & .slide-item2 {
            & .slide-img {
                & .photo {
                    @apply bg-[url(../images/img-main-visual2.jpg)] bg-right-top 2xl:bg-[center_top];
                }
            }
            & .slide-content {
                @apply relative z-15 pt-10 text-center text-white sm:pt-14 md:pt-4 md:text-left lg:pt-5.5 2xl:pt-7;
                & .content {
                    @apply relative h-full md:ml-auto md:w-[34rem] lg:w-[45.5rem] md:pr-[3%] 2xl:ml-[57%] 2xl:w-[43%];
                }
                & .title {
                    & em {
                        @apply text-[rgba(255,255,255,0.48)];
                        -webkit-text-stroke: 1px white;
                    }
                }
                & .btn {
                    @apply border-white bg-white text-black2 mt-[1.56em] md:absolute md:left-0 md:bottom-25 lg:bottom-33 2xl:bottom-42;
                }
            }
        }
    }
    & .swiper-paging {
        @apply flex gap-1.5 absolute z-10 left-1/2 bottom-3 -translate-x-1/2 md:bottom-4 lg:bottom-5;
        & button {
            @apply block relative w-17 h-9 bg-white rounded font-black md:w-24 md:h-12 md:rounded-md transition-[box-shadow] duration-300 lg:w-30 lg:h-15;
            & span {
                @apply flex justify-center items-center flex-col w-full h-full text-[0.8125rem] transition-[opacity,visibility] duration-300 md:text-sm lg:text-base;
                &.front {
                    @apply relative z-5;
                    & small {
                        @apply opacity-30;
                    }
                }
                &.rear {
                    @apply absolute z-10 top-0 left-0 opacity-0 invisible;
                    &::before, &::after {
                        @apply content-empty absolute -z-10 top-0 left-0 w-full h-full rounded bg-center bg-cover md:rounded-md;
                    }
                    &::after {
                        @apply -z-5;
                    }
                    & small {
                        @apply opacity-60;
                    }
                }
            }
            & strong {
                @apply font-black;
            }
            & small {
                @apply font-serif text-[0.75em];
            }
            &.page1, &.page2 {
                & span {
                    &.rear {
                        &::after {
                            @apply bg-[#4D4D57]/70;
                        }
                        & strong, & small {
                            @apply text-white;
                        }
                    }
                }
            }
            &.page1 {
                & span {
                    &.rear {
                        &::before {
                            @apply bg-[url(../images/img-main-visual1.jpg)];
                        }
                    }
                }
            }
            &.page2 {
                & span {
                    &.rear {
                        &::before {
                            @apply bg-[url(../images/img-main-visual2.jpg)];
                        }
                    }
                }
            }
            &.is-active {
                @apply shadow-[0px_0px_0px_2px_rgb(255,255,255)];
                & span {
                    &.front {
                        @apply opacity-0 invisible;
                    }
                    &.rear {
                        @apply opacity-100 visible;
                    }
                }
            }
        }
    }
    &.is-nologin {
        @apply px-0 w-full max-w-full transition-all duration-500;
        & .swiper-slide {
            & .slide-wrapper {
                @apply h-89 rounded-none transition-all duration-500 sm:h-[27.8125rem] md:h-[33.375rem] lg:h-[44.5rem] 2xl:h-[55.625rem];
            }
            & .slide-img {
                @apply h-[120%];
            }
            & .slide-content {
                @apply transition-all duration-500;
                & .title, & .desc, & .btn {
                    @apply transition-[margin,bottom,left,padding] duration-500;
                }
            }
        }
        & .slide-item1 {
            & .slide-content {
                @apply pt-17 sm:pt-23 md:pt-34 lg:pt-46 2xl:pt-57;
            }
        }
        & .slide-item2 {
            & .slide-content {
                @apply pt-17 sm:pt-23 md:pt-12 lg:pt-15 2xl:pt-19;
                & .content {
                    @apply md:w-[37.5rem] lg:w-[49.5rem] 2xl:w-[43%];
                }
            }
            & .btn {
                @apply md:bottom-29 lg:bottom-38 2xl:bottom-48;
            }
        }
    }
    &.is-scroll {
        @apply max-w-[1920px] px-5 2xl:px-20;
        & .swiper {
            & .swiper-slide {
                & .slide-wrapper {
                    @apply h-80 sm:h-90 md:h-[30rem] lg:h-[40rem] 2xl:h-[50rem] rounded-lg lg:rounded-[1.25rem];
                }
            }
        }
    }
    @media (orientation: landscape) {
        &.is-nologin {
            @apply duration-1000;
            & .swiper {
                & .swiper-slide {
                    & .slide-wrapper {
                        @apply duration-1000 h-[max(22.25rem,calc(100vh_-_7.25rem))] md:h-[max(33.375rem,calc(100vh_-_7.25rem))] lg:h-[max(44.5rem,calc(100vh_-_10.5rem))] 2xl:h-[max(55.625rem,calc(100vh_-_10.5rem))];
                    }
                }
                & .slide-content {
                    @apply duration-1000;
                }
                & .slide-item2 {
                    & .slide-img {
                        & .photo {
                            @apply bg-right-top xl:bg-[center_top];
                        }
                    }
                    & .slide-content {
                        @apply pt-[8%];
                    }
                }
            }
            &.is-scroll {
                & .swiper {
                    & .swiper-slide {
                        & .slide-wrapper {
                            @apply h-89 sm:h-[27.8125rem] md:h-[33.375rem] lg:h-[44.5rem] 2xl:h-[55.625rem];
                        }
                    }
                }
            }
        }
    }
}

section.main-check {
    @apply mt-13 mb-7.5 md:mt-23 md:mb-10 xl:mt-33 xl:mb-[3.125rem];
    & .main-title {
        @apply text-center text-[1.625rem] break-keep leading-[1.1] tracking-tighter md:text-[2.75rem] xl:text-[3.25rem] 2xl:text-[3.75rem] font-bold;
        & strong {
            background: linear-gradient(100deg, #FF1B1B 0%, #FFCC12 70%, #4DBC44 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
        & small {
            @apply block mt-[0.45em] tracking-tight leading-snug text-sm font-normal md:text-base lg:text-lg;
            & em {
                @apply font-bold;
            }
        }
    }
    & .main-content {
        @apply mt-7 mx-auto max-w-screen-lg leading-[1.4] md:mt-12 xl:mt-16;
        & .content {
            @apply flex items-center justify-center md-max:flex-col;
            & .thumb {
                @apply relative w-full max-w-[23.5rem] aspect-[1/0.85287] sm:w-[45.1%] sm:max-w-[29.25rem];
                & .img {
                    @apply relative w-full h-full overflow-hidden;
                    & img {
                        @apply absolute top-0 left-0 w-full object-fill;
                    }
                }
                &::before {
                    @apply content-empty absolute bottom-0 -z-5 left-1/2 w-[118.976%] h-full bg-[center_bottom] bg-no-repeat -translate-x-1/2 bg-[length:200%] bg-[url(../images/bg-main-check.png)];
                }
            }
            & .detail {
                @apply flex-1 mt-5 md:mt-0;
                & .name {
                    @apply mx-auto w-fit leading-tight text-3xl font-bold md:mx-0 md:text-4xl lg:text-5xl;
                    background: linear-gradient(98deg, #3838B4 0%, #EE1153 48%, #FE921B 100%);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                }
                & .desc {
                    @apply mt-[1.35em] text-sm font-bold md:text-base lg:text-lg;
                }
                & .info {
                    @apply flex items-center justify-center mt-2 text-base leading-none space-x-18 md:space-x-20 md:justify-start md:text-lg lg:space-x-22 lg:text-xl;
                    & sup, & sub, & strong {
                        @apply inline-block leading-none;
                    }
                    & sup {
                        @apply top-[1em] mr-[0.1em] align-top text-[0.6875rem] md:text-sm;
                    }
                    & sub {
                        @apply bottom-[0.625em] -ml-[0.1em] align-bottom text-sm font-bold md:text-lg lg:text-xl;
                    }
                    & strong {
                        @apply font-serif text-4xl leading-tight md:text-[2.5rem] lg:text-7xl;
                    }
                }
                & .btn-primary {
                    @apply flex w-fit justify-start mt-5 pl-4.5 pr-5.5 h-9 mx-auto rounded-full text-[0.8125rem] md:mt-8 md:mx-0 md:pr-7 md:pl-6 md:h-11 md:text-[0.9375rem] lg:mt-10;
                    &::after {
                        @apply content-empty ml-2.5 w-1 h-2 bg-[url(../images/ico-angle-right-white.svg)] bg-cover md:ml-3.5 md:w-1.5 md:h-2.5;
                    }
                }
            }
        }
    }
    & .checkpoint-navigation {
        @apply relative top-0 mt-5.5 md:mt-7.5 xl:mt-9.5;
        & .container {
            @apply px-2.5;
        }
    }
}

section.main-movie {
    @apply text-white;
    & .container {
        @apply grid gap-2.5 p-0 md:gap-7.5 lg:grid-cols-2 xl:gap-[3.125rem];
    }
    & .left-movie, & .right-movie {
        @apply flex-1 flex flex-col px-2.5 py-3 pt-6.5 rounded-lg bg-no-repeat bg-center bg-cover md:p-7.5 lg:rounded-[1.25rem] lg:px-9 xl:px-11;
    }
    & .left-movie {
        @apply bg-[url(../images/bg-main-video.png)];
    }
    & .right-movie {
        @apply bg-[url(../images/bg-main-video4.png)] bg-[length:auto_100%] bg-repeat-x overflow-hidden;
        & .main-title {
            @apply flex items-start;
            & strong {
                @apply mr-2 flex-1 whitespace-nowrap;
            }
            & img {
                @apply w-[7.5875rem] xs:mr-[2.45%] sm:w-[8.5875rem] md:w-[11.45rem] xl:w-[12.75rem] 2xl:w-[14.3125rem];
            }
        }
        & .main-video {
            @apply -mt-11 sm:-mt-12 md:-mt-14 xl:-mt-15 2xl:-mt-17;
            &::before {
                /* @apply content-empty absolute bottom-full right-0 -mb-11 w-[7.5875rem] bg-cover bg-[url(../images/bg-main-video2.png)] aspect-[1/1.08] xs:right-[2.45%] sm:-mb-12 sm:w-[8.5875rem] md:-mb-14 md:w-[11.45rem] xl:-mb-15 xl:w-[12.75rem] 2xl:-mb-17 2xl:w-[14.3125rem]; */
            }
        }
    }
    & .main-title {
        @apply flex-1 text-3xl leading-[1.1] tracking-tighter md:text-[2.75rem] xl:text-[3.25rem] 2xl:text-[3.75rem];
        & strong {
            @apply inline-block;
        }
        & small {
            @apply block mt-[1em] text-[0.8125rem] tracking-tight md:text-[0.9375rem] xl:text-lg;
        }
    }
    & .main-link {
        @apply justify-start mt-3 mx-0 font-bold tracking-tight;
        &::before, &::after {
            @apply content-empty absolute top-1/2 right-4 w-5 h-5 bg-no-repeat bg-center bg-[length:100%] transition-opacity duration-[0.4s] -translate-y-1/2 md:right-6 md:w-6 md:h-6;
        }
        &::before {
            @apply bg-[url(../images/ico-index-youtube.svg)];
        }
        &::after {
            @apply opacity-0 bg-[url(../images/ico-index-youtube-on.svg)];
        }
        &:hover, &:active {
            @apply bg-[#EE3434] text-white;
            &::before {
                @apply opacity-0;
            }
            &::after {
                @apply opacity-100;
            }
        }
    }
    & .main-video {
        @apply flex-none relative mt-6 ml-auto w-full h-auto rounded-lg aspect-[16/10.415] md:max-w-[35.875rem] md:mt-9 md:rounded-[1rem] 2xl:mt-12;
        & iframe {
            @apply relative z-5 w-full h-full rounded-lg md:rounded-[1rem];
        }
    }
}

section.main-guide {
    & .container {
        @apply relative pt-[3.125rem] px-0 bg-no-repeat bg-[#ddc9a4] md:pt-16 md:pb-9.5 xl:pt-25 xl:pb-15 
        bg-[url(../images/bg-index-guide2.jpg)] bg-left-top bg-[length:100%]
        md:bg-[url(../images/bg-index-guide2-2.jpg)] lg:bg-[url(../images/bg-index-guide2-3.jpg)] xl:bg-cover xl:bg-[url(../images/bg-index-guide.jpg)];
        &::before {
            @apply content-empty absolute top-3 right-[0.9375rem] w-[4.1875rem] h-[0.9375rem] bg-no-repeat bg-[url(../images/img-index-guide.svg)] bg-cover md:top-5 md:right-5.5 md:w-[6.3125rem] md:h-5.5 xl:top-7.5 xl:right-9.5 xl:w-[8.375rem] xl:h-7.5;
        }
    }
    & .main-title {
        @apply pr-4 pl-[35.65%] text-xl font-light -tracking-widest md:pr-5 md:pl-[36.1%] md:text-5xl xl:pr-5 xl:text-[3.125rem];
        @media screen and (max-width: 392px) {
            @apply ml-auto pl-0 w-fit;
        }
    }
    & .main-content {
        @apply mt-[30.85%] overflow-hidden md:grid md:grid-cols-[309px_1fr] md:gap-6.5 md:mt-[30%] md:px-8.5 lg:grid-cols-[386px_1fr] lg:mt-[32%] xl:mt-12 xl:pl-[36.1%] xl:pr-16;
        & dl {
            @apply leading-snug rounded-lg p-5 bg-no-repeat backdrop-blur-lg md:px-8 md:py-7.5 md:rounded-[1rem];
            & dt {
                @apply text-xl font-bold md:text-3xl;
            }
            & dd {
                @apply mt-1 text-[0.8125rem] md:mt-3 md:text-base;
            }
            & a {
                @apply press-action flex items-center relative overflow-hidden rounded-full border border-gray1 bg-white mt-2 px-3.5 w-31 h-7.5 text-[0.8125rem] font-medium md:mt-10 md:px-5.5 md:w-38 md:h-9.5 md:text-[0.9375rem];
                &::before, &::after {
                    @apply content-empty absolute top-1/2 bg-no-repeat bg-center bg-[length:100%] transition-opacity duration-[0.4s] -translate-y-1/2;
                }
            }
        }
        & .grade {
            @apply relative z-5 row-span-2 bg-white/50 md-max:bg-[url(../images/bg-index-guide4.jpg)] md-max:bg-[center_top] md-max:bg-cover md-max:overflow-visible md-max:rounded-b-none;
            &::before {
                @apply content-empty absolute right-5 -bottom-5 w-[11.1875rem] aspect-[1/1.03546] bg-cover bg-[url(../images/bg-index-guide3.png)] md:-bottom-7.5 md:w-[73.056%];
            }
            & > * {
                @apply relative z-5;
            }
            & a {
                @apply w-30 border-black2 bg-black2 text-white md:w-[9.125rem] ;
                &::before, &::after {
                    @apply mt-px right-[0.9375rem] w-3.5 h-3.5 md:right-6 md:w-4 md:h-4;
                }
                &::before {
                    @apply bg-[url(../images/ico-index-guide1.svg)];
                }
                &::after {
                    @apply opacity-0 bg-[url(../images/ico-index-guide1-on.svg)];
                }
                &:hover, &:active {
                    @apply border-gray1 bg-white text-black2;
                    &::before {
                        @apply opacity-0;
                    }
                    &::after {
                        @apply opacity-100;
                    }
                }
            }
        }
        & .payment {
            @apply bg-white xl:max-w-[26.75rem] md-max:rounded-none;
            & a {
                &::before, &::after {
                    @apply right-3 w-3 h-3 md:right-4 md:w-4.5 md:h-4.5;
                }
                &::before {
                    @apply bg-[url(../images/ico-index-guide2.svg)];
                }
                &::after {
                    @apply opacity-0 bg-[url(../images/ico-index-guide2-on.svg)];
                }
                &:hover, &:active {
                    @apply bg-black2 text-white;
                    &::before {
                        @apply opacity-0;
                    }
                    &::after {
                        @apply opacity-100;
                    }
                }
            }
        }
        & .partner {
            @apply relative col-start-2 bg-white/90 md-max:bg-[url(../images/bg-index-guide4.jpg)] md-max:bg-[center_bottom] md-max:bg-cover md-max:rounded-t-none;
            &::before {
                @apply content-empty right-6.5 bottom-0 bg-[url(../images/bg-index-guide3.svg)] bg-[length:75px] md:right-13 md:bg-[length:auto];
            }
            & a {
                @apply pl-7 md:pl-8.5;
                &::before, &::after {
                    @apply right-3 w-3 h-3 md:right-4 md:w-4.5 md:h-4.5;
                }
                &::before {
                    @apply bg-[url(../images/ico-index-guide2.svg)];
                }
                &::after {
                    @apply opacity-0 bg-[url(../images/ico-index-guide2-on.svg)];
                }
                & i {
                    @apply absolute top-1/2 left-2.5 w-3 h-4.5 -translate-y-1/2 md:left-3.5 md:w-3.5 md:h-5;
                    &::before, &::after {
                        @apply content-empty absolute top-0 left-0 w-full h-full bg-no-repeat bg-center bg-[length:100%];
                    }
                    &::before {
                        @apply bg-[url(../images/ico-index-guide3.svg)];
                    }
                    &::after {
                        @apply opacity-0 bg-[url(../images/ico-index-guide3-on.svg)];
                    }
                }
                &:hover, &:active {
                    @apply border-[#4CB7C5] bg-[#4CB7C5] text-white;
                    & i {
                        &::before {
                            @apply opacity-0;
                        }
                        &::after {
                            @apply opacity-100;
                        }
                    }
                    &::before {
                        @apply opacity-0;
                    }
                    &::after {
                        @apply opacity-100;
                    }
                }
            }
        }
    }
    & .modal {
        & .modal-content {
            @apply pr-0;
        }
        & [data-bs-dismiss="modal"] {
            @apply p-0 -my-2 -mr-5 ml-auto w-9 h-9 bg-[url(../images/ico-close.svg)] bg-[length:0.875rem] bg-center bg-no-repeat overflow-hidden -indent-96 aspect-square md:-my-3 md:-mr-6 md:w-14 md:h-14 md:bg-[length:1rem];
        }
    }
}