/* 마이페이지 내정보 */
.mypage-myinfo-order {
    @apply p-4 pt-2 bg-[linear-gradient(109deg,_#EFFFFC_0%,_#FCFEF0_34%,_#FAFFF2_67%,_#FFF5FD_100%)]
           xs:pt-4;
    & .order-title {
        @apply flex flex-wrap items-center mb-4 tracking-tight
               md:mb-5;
        & h2 {
            @apply mt-2 text-lg font-bold leading-tight
                   xs:mt-0
                   md:text-xl;
        }
        & .btn {
            @apply ml-1.5
                   md:ml-2;
        }
        & ul {
            @apply flex-none flex mt-2 ml-auto whitespace-nowrap text-sm text-white space-x-1
                   xs:mt-2
                   md:text-[0.9375rem];
            & li {
                @apply py-0.5 px-2.5 rounded bg-black2
                       md:px-3.5;
            }
            & strong {
                @apply font-serif text-base
                       md:text-lg;
            }
        }
    }
    & .order-steps {
        @apply flex flex-wrap gap-x-2 gap-y-3
               md:gap-[0.9375rem];
        & [class*="seq"] {
            @apply w-[calc(33.333333333%_-_0.333333333rem)]
                   md:w-[calc(20%_-_0.75rem)];
        }
        & [class*="seq"] {
            @apply relative tracking-tighter leading-[1.1] text-base
                   before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:rounded-md before:blur-xs
                   after:absolute after:z-5 after:top-0 after:left-0 after:right-0 after:bottom-0 after:rounded-md after:bg-white
                   md:text-xl;
            & .content {
                @apply flex flex-col justify-end relative z-10 px-2.5 pb-1.5 pt-10 min-h-21 h-full rounded-md border border-black/30 bg-white
                       before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:bg-no-repeat before:bg-[left_0.625rem_top_0.625rem]
                       md:pt-11 md:px-3 md:pr-10 md:min-h-26
                       md:before:bg-[left_0.75rem_top_0.75rem];
            }
            & .number {
                @apply absolute -top-0.5 right-3 text-6xl font-black font-serif leading-[1.2] tracking-tightest
                       md:right-4 md:text-[3.75rem];
            }
            &.is-gradient {
                @apply before:bg-[linear-gradient(122deg,_#F7C825_0%,_#24DADE_25%,_#746FE5_50%,_#C418BC_76%,_#FE0146_100%)];
            }
            &:hover {
                @apply text-white;
                & .content {
                    @apply border-black/95 bg-[linear-gradient(124deg,_#333_0%,_#5E5E5E_63%,_#333_100%)];
                }
            }
        }
        & .seq1, & .seq2 {
            @apply text-[#F95813];
            & .content {
                @apply pt-1.5 pb-10 justify-start border-[#F95813]
                       before:bg-[left_0.625rem_bottom_0.625rem] before:bg-[length:1.25rem]
                       md:pt-2.5 md:pb-11
                       md:before:bg-[left_0.75rem_bottom_0.75rem] md:before:bg-[length:1.5rem];
            }
            & .number {
                @apply top-auto -bottom-0.5;
            }
            &:hover {
                @apply text-white;
                & .content {
                    @apply border-[#F3743B] bg-[linear-gradient(155deg,#F04918_0%,#FFA340_73%,#FF820D_100%)];
                }
            }
        }
        & .seq1 {
            & .content {
                @apply before:bg-[url(/html/page/market/assets/images/ico-sequence13.svg)];
            }
            &:hover {
                & .content {
                    @apply before:bg-[url(/html/page/market/assets/images/ico-sequence13-white.svg)];
                }
            }
        }
        & .seq2 {
            & .content {
                @apply before:bg-[url(/html/page/market/assets/images/ico-sequence14.svg)];
            }
            &:hover {
                & .content {
                    @apply before:bg-[url(/html/page/market/assets/images/ico-sequence14-white.svg)];
                }
            }
        }
        & .seq3 {
            & .content {
                @apply before:bg-[url(/html/page/market/assets/images/ico-sequence8.svg)] before:bg-[length:1.75rem]
                       md:before:bg-[length:2rem];
            }
            &:hover {
                & .content {
                    @apply before:bg-[url(/html/page/market/assets/images/ico-sequence8-white.svg)];
                }
            }
        }
        & .seq4 {
            & .content {
                @apply before:bg-[url(/html/page/market/assets/images/ico-sequence9.svg)] before:bg-[length:1.5rem]
                       md:before:bg-[length:1.75rem];
            }
            &:hover {
                & .content {
                    @apply before:bg-[url(/html/page/market/assets/images/ico-sequence9-white.svg)];
                }
            }
        }
        & .seq5 {
            & .content {
                @apply before:bg-[url(/html/page/market/assets/images/ico-sequence10.svg)] before:bg-[length:1.5rem]
                       md:before:bg-[length:1.75rem];
            }
            &:hover {
                & .content {
                    &::before {
                        @apply before:bg-[url(/html/page/market/assets/images/ico-sequence10-white.svg)];
                    }
                }
            }
        }
        & .seq6 {
            & .content {
                @apply before:bg-[url(/html/page/market/assets/images/ico-sequence11.svg)] before:bg-[length:1.5rem]
                       md:before:bg-[length:1.875rem];
            }
            &:hover {
                & .content {
                    @apply before:bg-[url(/html/page/market/assets/images/ico-sequence11-white.svg)];
                }
            }
        }
        & .seq7 {
            & .content {
                @apply before:bg-[url(/html/page/market/assets/images/ico-sequence12.svg)] before:bg-[length:1.625rem]
                        md:before:bg-[length:2rem];
            }
            &:hover {
                & .content {
                    @apply before:bg-[url(/html/page/market/assets/images/ico-sequence12-white.svg)];
                }
            }
        }
    }
    &.is-recipient {
        @apply relative;
        & .order-title {
            & ul {
                @apply md:absolute md:top-40 md:right-4;
            }
        }
        & .order-steps {
            @apply block;
            & .steps1, & .steps2 {
                @apply flex flex-wrap relative gap-x-2 gap-y-3 md:gap-[0.9375rem];
                &::before, &::after {
                    @apply content-empty absolute bg-cover;
                }
                &::before {
                    @apply h-[5px];
                }
            }
            & .steps1 {
                @apply justify-center md:justify-start;
                &::before, &::after {
                    @apply -bottom-6;
                }
                &::before {
                    @apply left-[calc(50%_+_7.25rem)] right-[calc(9%_-_1rem)] md:left-[calc(22.5%_+_7.96875rem)] md:right-[calc(55%_-_1.75rem)];
                    background: linear-gradient(180deg, rgba(255,146,114,1) 0%, rgba(255,141,113,1) 100%);
                }
                &::after {
                    @apply left-[calc(91%_+_0.25rem)] ml-3 w-[25px] h-[50px] md:left-[calc(45%_+_0.9375rem)];
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='50' viewBox='0 0 25 50'%3E%3Cpath id='Oval_5' data-name='Oval 5' d='M0,50H0V45a19.866,19.866,0,0,0,14.135-5.865A19.864,19.864,0,0,0,20,25,20.022,20.022,0,0,0,0,5V0A24.842,24.842,0,0,1,9.731,1.965a24.918,24.918,0,0,1,7.947,5.358,24.918,24.918,0,0,1,5.358,7.947,25.081,25.081,0,0,1,0,19.462,24.918,24.918,0,0,1-5.358,7.947,24.918,24.918,0,0,1-7.947,5.358A24.843,24.843,0,0,1,0,50Z' fill='%23ff8d71'/%3E%3C/svg%3E%0A");
                }
                & [class*="seq"] {
                    @apply order-2 w-[41%] md:w-[22.5%];
                }
                & .title {
                    @apply absolute top-full left-[calc(50%_-_6.53125rem)] mt-2.5 w-[13.0625rem] h-5 overflow-hidden -indent-96 bg-cover md:left-[calc(22.5%_-_5.5625rem)];
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='209.156' height='20' viewBox='0 0 209.156 20'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.09' x2='0.845' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23ffcd7d'/%3E%3Cstop offset='1' stop-color='%23ff9272'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Path_2' data-name='Path 2' transform='translate(2888 -5657.5)'%3E%3Cpath id='Path_2-2' data-name='Path 2' d='M54.009,18.153a6.6,6.6,0,0,1-2.082-5.061V.241h4.71V13.186q.08,3.2,2.961,3.2a2.861,2.861,0,0,0,2.2-.8,3.766,3.766,0,0,0,.747-2.611V.241h4.683V13a7.351,7.351,0,0,1-.921,3.755,5.972,5.972,0,0,1-2.642,2.417A9.274,9.274,0,0,1,59.6,20,8.022,8.022,0,0,1,54.009,18.153Zm-17.358.7a7.817,7.817,0,0,1-2.993-3.269,11.217,11.217,0,0,1-1.127-4.88v-1.1a11.607,11.607,0,0,1,1.047-5.046,7.8,7.8,0,0,1,3-3.376,8.861,8.861,0,0,1,8.847-.013,7.957,7.957,0,0,1,3.007,3.349A11.284,11.284,0,0,1,49.519,9.5v.9a11.56,11.56,0,0,1-1.054,5.04,7.833,7.833,0,0,1-2.993,3.376A8.361,8.361,0,0,1,41.051,20,8.464,8.464,0,0,1,36.651,18.857ZM37.3,8.97,37.291,10.4a8.477,8.477,0,0,0,.947,4.4,3.108,3.108,0,0,0,2.813,1.537,3.073,3.073,0,0,0,2.734-1.51,8.252,8.252,0,0,0,.973-4.345v-.9a8.249,8.249,0,0,0-.967-4.406,3.111,3.111,0,0,0-2.767-1.5C38.688,3.677,37.436,5.458,37.3,8.97ZM147.935,19.76h-4.682V.362H150.9a8.571,8.571,0,0,1,5.4,1.532,5.213,5.213,0,0,1,1.948,4.33,6.335,6.335,0,0,1-.821,3.358,5.862,5.862,0,0,1-2.568,2.158l4.055,7.82v.2l-5.017,0-3.428-6.848h-2.535V19.76h0Zm0-10.459H150.9a2.679,2.679,0,0,0,2.008-.7,2.715,2.715,0,0,0,.673-1.952,2.736,2.736,0,0,0-.68-1.965,2.65,2.65,0,0,0-2-.713h-2.962ZM19.983,19.76H15.3V.362h7.645a8.569,8.569,0,0,1,5.4,1.532A5.213,5.213,0,0,1,30.3,6.224a6.335,6.335,0,0,1-.821,3.358,5.852,5.852,0,0,1-2.568,2.158l4.055,7.82v.2l-5.017,0-3.428-6.848H19.984V19.76h0Zm0-10.459h2.962a2.677,2.677,0,0,0,2.008-.7,2.711,2.711,0,0,0,.673-1.952,2.736,2.736,0,0,0-.68-1.965,2.647,2.647,0,0,0-2-.713H19.984Zm115.79,6.835h-6.407l-1.119,3.623h-4.995l7.113-19.4h4.4l7.166,19.4-5.021,0Zm-5.288-3.611h4.17L132.564,5.8Zm68.14,7.233V3.972h-5.734V.362h16.265v3.61h-5.84V19.759Zm-19.951,0V.362h13.374v3.61h-8.7V8.062h7.346v3.477h-7.346v4.623h8.676v3.6Zm-6.866,0-4.13-7.221-1.918,2.105v5.116h-4.676V.362h4.676V8.915l1.625-2.465L171.568.362h5.782L170.8,8.942l6.554,10.817Zm-54.695,0V15.23l.453-9.273-4.693,13.8h-3.094L105.071,5.944l.454,9.286v4.529h-4.681V.362h6.148l4.334,13.5,4.321-13.5h6.16v19.4Zm-30.844,0V15.23l.454-9.273-4.694,13.8H78.935L74.228,5.944l.454,9.286v4.529H70V.362h6.148l4.334,13.5L84.8.362h6.161v19.4ZM0,19.759V.362H13.373v3.61h-8.7V8.062h7.345v3.477H4.671v4.623h8.676v3.6Z' transform='translate(-2888 5657.5)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_2-3' data-name='Path 2' d='M54.009,18.153a6.6,6.6,0,0,1-2.082-5.061V.241h4.71V13.186q.08,3.2,2.961,3.2a2.861,2.861,0,0,0,2.2-.8,3.766,3.766,0,0,0,.747-2.611V.241h4.683V13a7.351,7.351,0,0,1-.921,3.755,5.972,5.972,0,0,1-2.642,2.417A9.274,9.274,0,0,1,59.6,20,8.022,8.022,0,0,1,54.009,18.153Zm-17.358.7a7.817,7.817,0,0,1-2.993-3.269,11.217,11.217,0,0,1-1.127-4.88v-1.1a11.607,11.607,0,0,1,1.047-5.046,7.8,7.8,0,0,1,3-3.376,8.861,8.861,0,0,1,8.847-.013,7.957,7.957,0,0,1,3.007,3.349A11.284,11.284,0,0,1,49.519,9.5v.9a11.56,11.56,0,0,1-1.054,5.04,7.833,7.833,0,0,1-2.993,3.376A8.361,8.361,0,0,1,41.051,20,8.464,8.464,0,0,1,36.651,18.857ZM37.3,8.97,37.291,10.4a8.477,8.477,0,0,0,.947,4.4,3.108,3.108,0,0,0,2.813,1.537,3.073,3.073,0,0,0,2.734-1.51,8.252,8.252,0,0,0,.973-4.345v-.9a8.249,8.249,0,0,0-.967-4.406,3.111,3.111,0,0,0-2.767-1.5C38.688,3.677,37.436,5.458,37.3,8.97ZM147.935,19.76h-4.682V.362H150.9a8.571,8.571,0,0,1,5.4,1.532,5.213,5.213,0,0,1,1.948,4.33,6.335,6.335,0,0,1-.821,3.358,5.862,5.862,0,0,1-2.568,2.158l4.055,7.82v.2l-5.017,0-3.428-6.848h-2.535V19.76h0Zm0-10.459H150.9a2.679,2.679,0,0,0,2.008-.7,2.715,2.715,0,0,0,.673-1.952,2.736,2.736,0,0,0-.68-1.965,2.65,2.65,0,0,0-2-.713h-2.962ZM19.983,19.76H15.3V.362h7.645a8.569,8.569,0,0,1,5.4,1.532A5.213,5.213,0,0,1,30.3,6.224a6.335,6.335,0,0,1-.821,3.358,5.852,5.852,0,0,1-2.568,2.158l4.055,7.82v.2l-5.017,0-3.428-6.848H19.984V19.76h0Zm0-10.459h2.962a2.677,2.677,0,0,0,2.008-.7,2.711,2.711,0,0,0,.673-1.952,2.736,2.736,0,0,0-.68-1.965,2.647,2.647,0,0,0-2-.713H19.984Zm115.79,6.835h-6.407l-1.119,3.623h-4.995l7.113-19.4h4.4l7.166,19.4-5.021,0Zm-5.288-3.611h4.17L132.564,5.8Zm68.14,7.233V3.972h-5.734V.362h16.265v3.61h-5.84V19.759Zm-19.951,0V.362h13.374v3.61h-8.7V8.062h7.346v3.477h-7.346v4.623h8.676v3.6Zm-6.866,0-4.13-7.221-1.918,2.105v5.116h-4.676V.362h4.676V8.915l1.625-2.465L171.568.362h5.782L170.8,8.942l6.554,10.817Zm-54.695,0V15.23l.453-9.273-4.693,13.8h-3.094L105.071,5.944l.454,9.286v4.529h-4.681V.362h6.148l4.334,13.5,4.321-13.5h6.16v19.4Zm-30.844,0V15.23l.454-9.273-4.694,13.8H78.935L74.228,5.944l.454,9.286v4.529H70V.362h6.148l4.334,13.5L84.8.362h6.161v19.4ZM0,19.759V.362H13.373v3.61h-8.7V8.062h7.345v3.477H4.671v4.623h8.676v3.6Z' transform='translate(-2888 5657.5)' fill='none'/%3E%3Cpath id='Path_2-4' data-name='Path 2' d='M54.009,18.153a6.6,6.6,0,0,1-2.082-5.061V.241h4.71V13.186q.08,3.2,2.961,3.2a2.861,2.861,0,0,0,2.2-.8,3.766,3.766,0,0,0,.747-2.611V.241h4.683V13a7.351,7.351,0,0,1-.921,3.755,5.972,5.972,0,0,1-2.642,2.417A9.274,9.274,0,0,1,59.6,20,8.022,8.022,0,0,1,54.009,18.153Zm-17.358.7a7.817,7.817,0,0,1-2.993-3.269,11.217,11.217,0,0,1-1.127-4.88v-1.1a11.607,11.607,0,0,1,1.047-5.046,7.8,7.8,0,0,1,3-3.376,8.861,8.861,0,0,1,8.847-.013,7.957,7.957,0,0,1,3.007,3.349A11.284,11.284,0,0,1,49.519,9.5v.9a11.56,11.56,0,0,1-1.054,5.04,7.833,7.833,0,0,1-2.993,3.376A8.361,8.361,0,0,1,41.051,20,8.464,8.464,0,0,1,36.651,18.857ZM37.3,8.97,37.291,10.4a8.477,8.477,0,0,0,.947,4.4,3.108,3.108,0,0,0,2.813,1.537,3.073,3.073,0,0,0,2.734-1.51,8.252,8.252,0,0,0,.973-4.345v-.9a8.249,8.249,0,0,0-.967-4.406,3.111,3.111,0,0,0-2.767-1.5C38.688,3.677,37.436,5.458,37.3,8.97ZM147.935,19.76h-4.682V.362H150.9a8.571,8.571,0,0,1,5.4,1.532,5.213,5.213,0,0,1,1.948,4.33,6.335,6.335,0,0,1-.821,3.358,5.862,5.862,0,0,1-2.568,2.158l4.055,7.82v.2l-5.017,0-3.428-6.848h-2.535V19.76h0Zm0-10.459H150.9a2.679,2.679,0,0,0,2.008-.7,2.715,2.715,0,0,0,.673-1.952,2.736,2.736,0,0,0-.68-1.965,2.65,2.65,0,0,0-2-.713h-2.962ZM19.983,19.76H15.3V.362h7.645a8.569,8.569,0,0,1,5.4,1.532A5.213,5.213,0,0,1,30.3,6.224a6.335,6.335,0,0,1-.821,3.358,5.852,5.852,0,0,1-2.568,2.158l4.055,7.82v.2l-5.017,0-3.428-6.848H19.984V19.76h0Zm0-10.459h2.962a2.677,2.677,0,0,0,2.008-.7,2.711,2.711,0,0,0,.673-1.952,2.736,2.736,0,0,0-.68-1.965,2.647,2.647,0,0,0-2-.713H19.984Zm115.79,6.835h-6.407l-1.119,3.623h-4.995l7.113-19.4h4.4l7.166,19.4-5.021,0Zm-5.288-3.611h4.17L132.564,5.8Zm68.14,7.233V3.972h-5.734V.362h16.265v3.61h-5.84V19.759Zm-19.951,0V.362h13.374v3.61h-8.7V8.062h7.346v3.477h-7.346v4.623h8.676v3.6Zm-6.866,0-4.13-7.221-1.918,2.105v5.116h-4.676V.362h4.676V8.915l1.625-2.465L171.568.362h5.782L170.8,8.942l6.554,10.817Zm-54.695,0V15.23l.453-9.273-4.693,13.8h-3.094L105.071,5.944l.454,9.286v4.529h-4.681V.362h6.148l4.334,13.5,4.321-13.5h6.16v19.4Zm-30.844,0V15.23l.454-9.273-4.694,13.8H78.935L74.228,5.944l.454,9.286v4.529H70V.362h6.148l4.334,13.5L84.8.362h6.161v19.4ZM0,19.759V.362H13.373v3.61h-8.7V8.062h7.345v3.477H4.671v4.623h8.676v3.6Z' transform='translate(-2888 5657.5)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
                & .text-alert {
                    @apply w-full md:absolute md:top-0 md:left-1/2 md:w-auto;
                }
            }
            & .steps2 {
                @apply mt-11 md:pl-12;
                &::before, &::after {
                    @apply -top-6;
                }
                &::before {
                    @apply right-[calc(50%_+_7.28125rem)] left-4 md:left-7 md:right-[calc(77.5%_+_6.0625rem)];
                    background: linear-gradient(180deg, rgba(255,207,126,1) 0%, rgba(255,205,125,1) 100%);
                }
                &::after {
                    @apply -left-2 w-[33px] h-[57px] md:left-1;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.494' height='56.699' viewBox='0 0 32.494 56.699'%3E%3Cg id='그룹_1' data-name='그룹 1' transform='translate(-608 -1335)'%3E%3Cpath id='Oval_5_Copy' data-name='Oval 5 Copy' d='M0,50H0V45a19.866,19.866,0,0,1-14.135-5.865A19.864,19.864,0,0,1-20,25,20.022,20.022,0,0,1,0,5V0A24.842,24.842,0,0,0-9.731,1.965a24.918,24.918,0,0,0-7.947,5.358,24.918,24.918,0,0,0-5.358,7.947A24.843,24.843,0,0,0-25,25a24.843,24.843,0,0,0,1.965,9.731,24.918,24.918,0,0,0,5.358,7.947,24.918,24.918,0,0,0,7.947,5.358A24.843,24.843,0,0,0,0,50Z' transform='translate(633 1335)' fill='%23ffcf7e'/%3E%3Cpath id='Path_8' data-name='Path 8' d='M0,0V17.7L7.494,8.205Z' transform='translate(633 1374)' fill='%23ffcf7e'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
                & [class*="seq"] {
                    @apply w-[calc(33.333333333%_-_0.333333333rem)] sm:w-[calc(30%_-_0.333333333rem)] md:w-[calc(20%_-_0.75rem)];
                }
                & .seq3 {
                    @apply ml-7.5 md:ml-0;
                }
                & .seq4 {
                    @apply sm:mr-[25%] md:mr-0;
                }
                & .seq5 {
                    @apply sm:ml-auto;
                }
            }
        }
    }
}

.mypage-myinfo-recent {
    @apply before:block before:-mx-5 before:mb-6 before:h-2.5 before:bg-gray2
           md:before:hidden
           first:before:hidden;
    & .recent-title {
        @apply flex items-center font-bold mb-3.5
               md:mb-6.5;
        & h2 {
            @apply text-title2;
        }
        & .btn {
            @apply ml-1.5
                   md:ml-2;
        }
        & .count {
            @apply ml-auto;
            & strong { 
                @apply text-base font-serif text-danger
                       md:text-lg;
            }
        }
    }
}


/* 마이페이지 상품후기 */
.mypage-myinfo-review-item {
    @apply relative py-2 overflow-hidden border-y-0.5 border-gray3
           md:py-2.5;
    & .item-thumb {
        @apply float-left relative block mr-4 w-30 h-[5.625rem] overflow-hidden rounded-md
               md:mr-6 md:w-50 md:h-[9.375rem];
        & img {
            @apply w-full h-full object-cover;
        }
        & span {
            @apply absolute px-1.5 pt-1 pb-0.5 right-1.5 bottom-1.5 rounded bg-black2/80 text-[0.9375rem] font-bold text-white leading-tight;
        }
        & + .item-content {
            @apply w-[calc(100%_-_8.5rem)]
                   md:w-[calc(100%_-_14rem)];
            & .cont {
                @apply mt-8 -ml-34
                       md:mt-2.5 md:ml-0;
            }
            & .date {
                @apply -ml-34
                       md:ml-0;
            }
        }
    }
    & .item-content {
        @apply float-left w-full py-1 leading-tight
               md:py-1.5;
        & .score {
            @apply flex items-center absolute left-0 bottom-2.5 pl-5 bg-no-repeat bg-left-center bg-[length:1rem] bg-[url(../images/bg-mypage-review3.png)] text-xl font-serif font-bold leading-none
                   sm:top-2.5 sm:right-0 sm:bottom-auto sm:left-auto
                   md:pl-6 md:bg-[length:1.25rem] md:text-2xl;
            & div {
                @apply -mt-0.5 ml-1.5 w-[7.1875rem] h-5.5 bg-repeat-x bg-[length:auto_100%] bg-[url(../images/ico-rating.png)]
                       md:w-[9.0625rem] md:h-7;
                & div {
                    @apply m-0 w-0 bg-[url(../images/ico-rating-active.png)];
                }
            }
            & ~ .name {
                @apply mt-3;
            }
        }
        & .code {
            @apply text-sm font-serif font-medium uppercase underline
                   md:text-[0.9375rem];
        }
        & .name {
            @apply mt-2.5 h-[2.5em] overflow-hidden text-base font-bold
                   md:h-auto md:text-lg;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @screen md {
                @apply block truncate;
            }
        }
        & .cont {
            @apply mt-2.5 max-h-[4.5em] leading-normal overflow-hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        & .date {
            @apply mt-2.5 text-sm font-serif font-medium
                   md:text-[0.9375rem];
        }
    }
    & .item-button {
        @apply flex justify-end gap-1.5
               md:absolute md:right-0 md:bottom-2;
    }
    & + & {
        @apply -mt-0.5;
    }
}


/* 마이페이지 Q&A */
.mypage-myinfo-qna-item {
    @apply relative py-2 overflow-hidden border-y-0.5 border-gray3
           md:py-2.5;
    & .item-thumb {
        @apply float-left mr-4 w-25 h-25 overflow-hidden rounded-md
               md:mr-5 md:w-37 md:h-42;
        & img {
            @apply w-full h-full object-cover;
        }
    }
    & .item-product {
        @apply float-left flex flex-col justify-center w-[calc(100%_-_7.25rem)] h-25 leading-tight
               md:w-[calc(100%_-_10.5rem)] md:h-auto;
        & .code {
            @apply text-sm font-serif font-medium uppercase underline
                   md:text-[0.9375rem];
        }
        & .name {
            @apply truncate mt-1.5 overflow-hidden text-base font-bold
                   md:text-lg;
        }
    }
    & .product-qnaitem {
        @apply mt-5 float-left w-full
               md:mt-1.5 md:w-[calc(100%_-_10.5rem)];
        & .answer {
            & .context {
                @apply max-h-[3em];
            }
            & .btn-fold {
                @apply mb-3
                       md:mb-4;
            }
        }
        & .modify {
            @apply right-0 bottom-2.5 text-right
                   md:absolute;
        }
    }
    & + & {
        @apply -mt-0.5;
    }
}


/* 마이페이지 이벤트 */
.mypage-myinfo-event-item {
    @apply flex flex-wrap relative p-4 overflow-hidden border border-gray1 rounded-2xl leading-tight
           md:p-5;
    & .item-thumb {
        @apply flex-none w-25 h-20 overflow-hidden rounded-md
               md:w-[9.375rem] md:h-25;
        & img {
            @apply w-full h-full object-cover;
        }
    }
    & .item-content {
        @apply flex-1 ml-4 min-h-20 relative overflow-hidden border-b border-b-gray3
               md:ml-4.5 md:pr-32 md:min-h-25;
        & .name {
            @apply truncate mt-1.5 font-bold text-base leading-[1.2]
                   md:text-lg;
        }
        & .date {
            @apply mt-1 font-serif text-sm
                   md:text-[0.9375rem];
        }
    }
    & .item-infomation {
        @apply flex justify-between gap-1 w-full py-3
               md:-mb-3 md:pr-32 md:pl-42
               last:pb-0
               md:last:mb-0;
        & dl {
            @apply mr-auto text-sm
                   md:text-[0.9375rem];
            & dd {
                @apply mt-1 font-serif font-medium;
            }
            &:nth-child(2) {
                & + dl {
                    @apply last:mr-0;
                }
            }
        }
    }
    & .item-status {
        @apply flex w-full gap-2
               sm:gap-2.5
               md:w-auto;
        & .status1 {
            @apply btn-outline-secondary flex-1 px-0 w-28 h-[3.125rem] font-bold text-[#EB3636] pointer-events-none
                   before:mr-1.5 before:w-6 before:h-6 before:bg-cover before:bg-[url(/html/page/market/assets/images/ico-prize.svg)]
                   md:absolute md:top-5 md:right-5 md:pt-10 md:w-29 md:h-19
                   md:before:absolute md:before:top-3 md:before:left-1/2 md:before:mr-0 md:before:-translate-x-1/2;
        }
        & .status2 {
            @apply btn-secondary flex-1 px-0 w-28 h-[3.125rem]
                   md:absolute md:top-5 md:right-5 md:w-29 md:h-19;
        }
        & .status3 {
            @apply btn-primary px-0 w-28 h-[3.125rem]
                   md:absolute md:right-5 md:bottom-5 md:w-29 md:h-9
                   first:w-full
                   md:first:w-29;
        }
    }
}


/* 쿠폰, 포인트, 마일리지 박스 */
.mypage-profit {
    @apply relative items-stretch overflow-hidden border border-black2 rounded-2xl bg-no-repeat bg-black2
           before:absolute before:-left-5.5 before:-bottom-19 before:w-44 before:h-53 before:opacity-50 before:bg-no-repeat before:bg-cover before:bg-[url(/html/page/market/assets/images/bg-profit.png)]
           after:hidden after:absolute after:bg-no-repeat after:bg-cover after:opacity-5
           md:flex
           md:after:block
           lg:before:-left-6 lg:before:-bottom-22 lg:before:w-51 lg:before:h-62;
    & .profit-infomation {
        @apply flex flex-row flex-wrap relative z-5 p-4 text-white
               before:block before:absolute before:top-0 before:-left-[49.66666666666667%] before:pt-[86.33333333333333%] before:w-[216%] before:-translate-y-[37.83783783783784%] before:blur-[50px]
               md:flex-col md:p-6 md:pb-45 md:w-67
               lg:pb-50 lg:w-78;
        & .title {
            @apply block relative z-5 flex-1 text-lg tracking-tight leading-snug
                   md:flex-none md:w-full md:text-2xl;
            & .name {
                @apply mb-[0.23em] text-6xl leading-normal font-bold
                       md:mb-[0.457em] md:text-7xl
                       lg:text-[4.375rem];
            }
            & br {
                @apply md-max:hidden;
            }
        }
        & .number {
            @apply flex flex-col self-end relative z-5 ml-2 w-1/2 leading-tight text-[0.8125rem]
                   md:ml-0 md:w-full md:text-sm
                   xs-max:mt-2 xs-max:ml-0 xs-max:w-full;
            & dl {
                @apply flex items-center flex-wrap justify-between mt-1.5 px-3
                       md:mt-3 md:px-0
                       xs-max:-mx-3;
                & dt {
                    @apply flex-none py-0.5 mr-1;
                }
                & dd {
                    @apply flex-none ml-auto text-right;
                    & strong {
                        @apply inline-block relative -top-0.5 align-middle text-xl
                               md:text-2xl
                               lg:text-4xl;
                    }
                }
            }
            & .small {
                & dd {
                    & strong {
                        @apply text-xl md:text-[1.375rem] lg:text-[1.625rem];
                    }
                }
            }
            & .last {
                @apply px-3 py-2 rounded-md md:-mx-4.5 md:py-3.5 md:px-4.5;
                background: linear-gradient(104deg, rgba(255, 116, 116, 0.15) 0%, rgba(255, 228, 75, 0.15) 56%, rgba(11, 255, 244, 0.15) 100%);
            }
        }
    }
    & .profit-content {
        @apply flex-1 relative z-5 p-3 pb-9 rounded-2xl bg-white break-all
               before:hidden before:absolute before:top-5.5 before:right-5.5 before:font-serif before:font-bold before:leading-tight before:uppercase before:text-black2/20
               md:py-12 md:px-5.5
               md:before:block;
    }
    & .profit-infobox {
        @apply relative py-3 px-2.5 rounded-lg border border-gray1 bg-no-repeat
               xs:flex xs:flex-wrap
               md:py-3.5 md:px-3;
        & .date {
            @apply flex items-center w-full space-x-2.5 text-sm
                   md:space-x-3 md:text-[0.9375rem];
            & em {
                @apply font-serif;
            }
        }
        & .name {
            @apply flex-1 mt-2.5 mb-0.5 leading-tight font-bold
                   xs:mr-1 xs:self-end;
        }
        & .count {
            @apply flex-none flex items-center justify-end mt-1 mr-[4.25%] font-serif font-bold text-xl leading-none space-x-1.5 md:text-2xl md:space-x-1.5 md:mr-[5.8%];
            & .cal {
                @apply w-7 md:w-8;
            }
            & .num {
                @apply text-right min-w-[3em] md:min-w-[3.5em];
            }
            & .fix {
                @apply w-5.5 md:w-6.5;
            }
        }
    }
    &.is-mileage, &.is-point, &.is-coupon {
        & .profit-infomation {
            & .title {
                @apply md:mb-24
                       lg:mb-35;
            }
        }
    }
    &.is-mileage {
        @apply after:left-43 after:bottom-0 after:w-[167px] after:h-[176px] after:bg-[url(/html/page/market/assets/images/txt-mileage-white.svg)]
               lg:after:left-49 lg:after:w-[192px] lg:after:h-[202px];
        & .profit-content {
            @apply content-["mileage"];
        }
        & .profit-infobox {
            @apply bg-[url(/html/page/market/assets/images/bg-mypage-mileage.png)] bg-[length:auto_4.5rem] bg-[position:right_-0.25rem_bottom]
                   md:bg-[position:right_-0.375rem_bottom] md:bg-[length:auto_6rem];
        }
    }
    &.is-point {
        @apply after:left-44 after:-bottom-0.5 after:w-[131px] after:h-[174px] after:bg-[url(/html/page/market/assets/images/txt-point-white.svg)]
               lg:after:-bottom-1 lg:after:left-51 lg:after:w-[151px] lg:after:h-[200px];
        & .profit-content {
            @apply content-["point"];
        }
        & .profit-infobox {
            @apply bg-[url(/html/page/market/assets/images/bg-mypage-point.png)] bg-[length:auto_4.25rem] bg-[position:right_-1.625rem_bottom]
                   md:bg-[position:right_-2.5rem_bottom] md:bg-[length:auto_5.625rem];
        }
    }
    &.is-coupon {
        @apply after:left-35 after:-bottom-2.5 after:w-[141px] after:h-[164px] after:bg-[url(/html/page/market/assets/images/txt-coupon-white.svg)]
                lg:after:-bottom-3 lg:after:left-40 lg:after:w-[162px] lg:after:h-[188px];
        & .profit-content {
            @apply before:content-["Coupon_book"]
                   md:py-15;
        }
        & .tabs {
            & .tabs-link {
                @apply relative pr-9.5 h-12 border border-black2 bg-white bg-no-repeat bg-[length:4.75rem] bg-[left_1rem_center] text-sm justify-start text-left
                       after:absolute after:top-1/2 after:right-4 after:w-1.5 after:h-2.5 after:bg-cover after:bg-[url(/html/page/market/assets/images/ico-angle-right.svg)] after:-translate-y-1/2
                       sm:justify-end sm:bg-[url(/html/page/market/assets/images/bg-mypage-coupon1.png)] sm:text-right
                       md:pr-14 md:h-14 md:bg-[left_1.375rem_center] md:bg-[length:5.625rem] md:text-base
                       md:after:right-7.5;
                &.active {
                    @apply bg-black2 text-white
                           after:bg-[url(/html/page/market/assets/images/ico-angle-right-white.svg)]
                           sm:bg-[url(/html/page/market/assets/images/bg-mypage-coupon2.png)];
                }
            }
        }
    }
}


/* 1:1문의 */
.mypage-inquiry-items {
    @apply relative pl-18 border border-black2 rounded-2xl bg-black2 bg-[url(/html/page/market/assets/images/ico-inquiry-list.png)] bg-[left_1.25rem_top_1.25rem] bg-[length:2.125rem] bg-no-repeat
           md:pl-24 md:bg-[length:auto] md:bg-[left_1.625rem_top_1.625rem];
    & dl {
        @apply pl-3 pr-5 rounded-2xl bg-white leading-snug
               md:pl-4 md:pr-7;
        & dt {
            @apply relative py-4 border-b border-gray3
                   md:py-5;
            & a {
                @apply block;
                & * {
                    @apply block;
                }
                & .part {
                    @apply absolute top-4 right-0 font-normal
                           md:top-5;
                }
                & .date {
                    @apply font-serif font-medium;
                }
                & .name {
                    @apply mt-3 text-base
                           md:mt-4 md:text-lg;
                }
            }
        }
        & dd {
            @apply items-center py-2.5
                   sm:flex
                   md:py-3;
            & .text {
                @apply truncate flex-1 py-1.5
                       md:py-2;
            }
            & .button {
                @apply flex-none text-right mt-1.5
                       sm:ml-2;
            }
        }
    }
    & .label-primary {
        @apply absolute left-[0.1875rem] bottom-3.5 border-white
               md:left-3.5 md:bottom-5;
        & span {
            @apply bg-black2 text-white;
        }
    }
    
}

.mypage-inquiry {
    @apply relative pt-2
           before:absolute before:top-0 before:left-0 before:right-0 before:h-[51%] before:rounded-2xl before:bg-black2 before:bg-no-repeat
           md:before:bg-[length:5rem,11.875rem] md:before:bg-[position:left_1.875rem_top_2.5rem,right_2rem_top_2.25rem] md:before:bg-[url(/html/page/market/assets/images/bg-inquiry.svg),url(/html/page/market/assets/images/bg-inquiry2.svg)];
    & legend {
        @apply sr-only;
    }
    & table {
        @apply table-fixed w-full;
        & th, & td {
            @apply p-1 h-11
                   md:p-1.5 md:h-12;
        }
        & th {
            @apply align-top text-[0.8125rem] text-center pt-[1rem]
                   md:pt-[1.125em] md:text-[0.9375rem];
            &.file {
                @apply pt-15;
            }
        }
        & td {
            @apply text-[0.9375rem]
                   md:text-base;
        }
    }
    & .inquiry-top, & .inquiry-bottom {
        @apply relative z-10 mx-2 p-1 rounded
               md:ml-38 md:mr-6 md:p-1.5 md:rounded-md;
        & .error {
            @apply !mt-1;
        }
    }
    & .inquiry-top {
        @apply text-white;
        & tr {
            &:first-child {
                & th {
                    @apply pt-[0.95em]
                           md:pt-[0.875em];
                }
            }
            &:nth-child(2) {
                & .error {
                    @apply ml-[5.8125rem]
                           md:ml-[6.875rem];
                }
            }
        }
    }
    & .inquiry-bottom {
        @apply bg-gray2;
    }
    & .inquiry-content {
        @apply relative z-10 mx-2
               md:ml-40 md:mr-6;
        & .content-header {
            @apply flex-wrap ml-20 py-1 text-white
                   md:flex md:ml-0 md:py-1.5;
            & dl {
                @apply flex p-1
                       md:p-1.5 md:w-1/2;
                & dt {
                    @apply flex-none mt-px mr-2 text-[0.8125rem] text-center font-medium
                           md:text-[0.9375rem];
                }
                & dd {
                    @apply flex-1;
                    & i {
                        @apply font-normal px-[0.15em];
                    }
                }
            }
        }
        & .content-body {
            @apply space-y-2.5 border-2.5 border-gray2 rounded bg-gray2
                   md:space-y-3 md:border-4 md:rounded-md;
            & .title {
                @apply leading-tight;
                & strong {
                    @apply block text-base
                           md:text-lg;
                }
                & small {
                    @apply block mt-1.5 text-sm font-serif
                           md:mt-2.5 md:text-[0.9375rem];
                }
            }
            & .content {
                @apply py-3 px-3.5 min-h-36 rounded bg-white
                       md:py-5.5 md:px-6 md:min-h-54 md:rounded-md;
            }
            & .files {
                @apply flex text-sm
                       md:text-[0.9375rem];
                & dt {
                    @apply flex-none mr-2.5
                           md:mr-3.5;
                }
                & dd {
                    @apply flex-1;
                }
                & a {
                    @apply block underline font-serif;
                }
            }
        }
    }
    & .form-group {
        @apply w-full
               md:w-[29.25rem];
        &.large {
            @apply md:w-[35.75rem];
        }
    }
    & .form-upload-link {
        @apply bg-white;
        & .form-upload-link-delete {
            @apply bg-gray2;
        }
    }
    &.is-inquiry {
        @apply before:bg-[url(/html/page/market/assets/images/bg-inquiry.svg)] before:bg-[length:3.125rem] before:bg-[left_1.25rem_top_2rem]
                md:before:bg-[length:5rem] md:before:bg-[left_1.875rem_top_2.25rem];
    }
    &.is-answer {
        @apply before:bg-[url(/html/page/market/assets/images/bg-inquiry2.svg)] before:bg-[length:4.25rem] before:bg-[left_0.875rem_top_1.5rem]
                md:before:bg-[length:5.5rem] md:before:bg-[left_1.875rem_top_1.875rem];
    }
}

/* 상품 후기 */
.mypage-review-point {
    @apply grid rounded-2xl bg-[linear-gradient(135.37deg,_#52e9f24d_-0.64%,_#bd8df04d_49.38%,_#f11b7a4d_132.97%)]
           md:gap-6 md:grid-cols-2;
    & dl {
        @apply text-base
               md:text-lg;
    }
    & .point-left {
        @apply p-2.5 font-bold
               md:p-3;
        & dl {
            @apply flex flex-col py-2.5 px-3 min-h-full rounded-md bg-white
                   md:py-3 md:px-4;
            & dd {
                @apply relative mt-auto -mb-2.5 pr-14 font-serif text-3xl leading-tight text-right
                       after:absolute after:right-0 after:-bottom-0 after:w-10 after:h-[3.3125rem] after:bg-cover after:bg-no-repeat after:bg-center after:bg-[url(../images/txt-point.svg)]
                       md:-mb-3 md:pr-20 md:text-5xl
                       md:after:-bottom-3 md:after:w-15 md:after:h-20;
            }
        }
    }
    & .point-right {
        @apply p-2.5 bg-no-repeat bg-left-bottom bg-[url(../images/bg-mypage-review1.png)] bg-[length:2.5rem] space-y-1.5
               md:p-3 md:pb-1 md:bg-[length:auto];
        & dl {
            & dd {
                @apply pl-[1.5556em] font-bold bg-no-repeat bg-left-center bg-[length:1.2223em] bg-[url(../images/ico-point.svg)];
            }
            &:nth-child(1) {
                @apply bg-no-repeat bg-right-center bg-[url(../images/bg-mypage-review2.png)] bg-[length:2.75rem]
                       md:bg-[length:auto];
                & dt {
                    & strong {
                        @apply text-[#DF1F1F];
                    }
                }
                & dd {
                    @apply ml-9
                           md:ml-13;
                }
            }
            &:nth-child(2) {
                @apply flex flex-wrap ml-9
                       md:ml-13;
                & dt {
                    @apply flex-none mr-[0.25em];
                    & strong {
                        @apply text-[#163F9A];
                    }
                }
                & dd {
                    @apply flex-none;
                }
            }
        }
    }
}

.mypage-review-point2 {
    @apply flex flex-col justify-around gap-1 -mx-5 py-3 px-5 bg-[linear-gradient(135.37deg,_#52e9f24d_-0.64%,_#bd8df04d_49.38%,_#f11b7a4d_132.97%)]
           md:flex-row md:justify-between md:py-3.5;
    & dl {
        @apply flex flex-row flex-wrap relative pl-11 bg-no-repeat text-base whitespace-nowrap
               md:m-0 md:pl-0
               md:text-lg;
        &:nth-child(1) {
            & dt {
                & strong {
                    @apply text-[#DF1F1F];
                }
            }
        }
        &:nth-child(2) {
            @apply before:absolute before:-bottom-3 before:left-0 before:w-10 before:h-9 before:bg-no-repeat before:bg-[url(../images/bg-mypage-review1.png)] before:bg-[length:auto_100%]
                   xs:pl-11
                   md:!pl-15
                   md:before:-bottom-3.5 md:before:left-0 md:before:w-14 md:before:h-[3.125rem];
            & dt {
                & strong {
                    @apply text-[#163F9A];
                }
            }
        }
    }
    & dt {
        @apply flex-none mr-[0.25em];
    }
    & dd {
        @apply ml-3 pl-[1.5556em] font-bold bg-no-repeat bg-left-center bg-[length:1.2223em] bg-[url(../images/ico-point.svg)]
               md:ml-0;
    }
}

.mypage-review-rating {
    @apply relative pl-23 min-h-20
           md:pl-35 md:min-h-30;
    & .rating-thumb {
        @apply absolute top-0 left-0 w-20 h-20 overflow-hidden rounded-md bg-gray2 bg-no-repeat bg-[url(/html/page/market/assets/images/bg-compare-thumb.svg)] bg-[length:45%] bg-center
               md:w-30 md:h-30;
        & img {
            @apply w-full h-full object-cover;
        }
    }
    & .rating-product {
        @apply leading-tight mb-2;
        & u {
            @apply block mb-1.5
        }
        & strong {
            @apply block min-h-[2.5em] text-base
                   md:text-lg;
        }
    }
    & .rating-control {
        @apply relative flex items-center select-none whitespace-nowrap;
        & .rating {
            @apply flex-none appearance-none border-0 w-8.5 h-8 bg-[url(../images/ico-rating.png)] bg-cover
                   md:w-11 md:h-[2.625rem];
            &.active {
                @apply bg-[url(../images/ico-rating-active.png)];
            }
        }
        & .text {
            @apply flex-none ml-1.5 text-5xl font-bold leading-none font-serif translate-y-[0.05em]
                   md:ml-2.5 md:text-7xl;
        }
    }
}

.mypage-review-uploads {
    @apply form-upload-list grid grid-cols-3
           md:grid-cols-5;
    & li {
        @apply w-auto h-auto aspect-[1/0.74];
    }
}