/* button */
@layer components {
    .press-action {
        @apply transition-[transform,background-color,background-image,border] duration-300 cursor-pointer select-none
               active:scale-[0.98] active:translate-y-0.5;
    }
    
    .btn {
        @apply press-action inline-flex flex-wrap justify-center items-center relative py-0.5 px-4.5 h-9 overflow-hidden border border-gray1 rounded-md bg-white text-center leading-none font-medium text-sm align-middle
               hover:bg-gray2
               focus:border-gray4 focus:bg-gray2 focus:ring-0.5 focus:ring-offset-0 focus:ring-gray4/20
               active:border-gray1 active:bg-white active:shadow-none
               disabled:!cursor-none disabled:!pointer-events-none disabled:!border-[#ccc] disabled:!bg-[#ccc] disabled:!text-white;
        &.shadow {
            @apply shadow-[0px_0.154em_0.154em_#00000027]
                   active:!shadow-none;
        }
        &.large {
            @apply h-12 text-base px-6 font-bold;
        }
        &.xlarge {
            @apply h-15 text-base px-7.5 font-bold;
        }
        &.small {
            @apply px-4 h-8 rounded;
        }
        &.tiny {
            @apply py-0.5 px-2 h-7 rounded text-xs;
        }
        & img[src*="-loader"] {
            @apply mx-auto;
        }
        &.disabled {
            @apply !cursor-none !pointer-events-none !border-[#ccc] !bg-[#ccc] !text-white;
        }
    }

    .btn-primary, .btn-outline-primary {
        @apply btn border-black1
               focus:border-black1 focus:ring-black1/20;
    }
    
    .btn-primary {
        @apply bg-black1 text-white
               hover:bg-gray4
               focus:bg-gray4
               active:bg-black1;
    }
    
    .btn-outline-primary {
        @apply text-black
               hover:bg-black1/10
               focus:bg-black1/10
               active:bg-white;
    }
    
    .btn-secondary, .btn-outline-secondary {
        @apply btn border-gray5
               focus:border-gray5;
    }
    
    .btn-secondary {
        @apply bg-gray5 text-white
               hover:bg-gray5
               focus:bg-gray5
               active:bg-gray5;
    }
    
    .btn-outline-secondary {
        @apply text-gray5
               hover:bg-gray5/10
               focus:bg-gray5/10
               active:bg-white;
    }
    
    .btn-danger, .btn-outline-danger {
        @apply btn border-red1
               focus:border-red1 focus:ring-red1/20;
    }
    
    .btn-danger {
        @apply bg-red1 text-white
               hover:bg-red1/80
               focus:bg-red1/80
               active:bg-red1;
    }
    
    .btn-outline-danger {
        @apply text-red1
               hover:bg-red2
               focus:bg-red2
               active:bg-white;
    }
    
    .btn-warning, .btn-outline-warning {
        @apply btn border-yellow1
               focus:border-yellow1 focus:ring-yellow1/20;
    }
    
    .btn-warning {
        @apply bg-yellow1 text-white
               hover:bg-yellow1/80
               focus:bg-yellow1/80
               active:bg-yellow1;
    }
    
    .btn-outline-warning {
        @apply text-yellow1
               hover:bg-yellow2
               focus:bg-yellow2
               active:bg-white;
    }
    
    .btn-success, .btn-outline-success {
        @apply btn border-blue1
               focus:border-blue1 focus:ring-blue1/20;
    }
    
    .btn-success {
        @apply bg-blue1 text-white
               hover:bg-blue1/80
               focus:bg-blue1/80
               active:bg-blue1;
    }
    
    .btn-outline-success {
        @apply text-blue1
               hover:bg-blue2
               focus:bg-blue2
               active:bg-white;
    }
    
    .btn-kakao, .btn-naver {
        @apply !py-0 !px-4 !h-[3.125rem] !text-base !font-bold
               before:mr-1 before:w-[46px] before:h-full before:bg-no-repeat before:bg-cover before:bg-center
               md:!px-5 md:!h-[3.375rem] md:!text-lg
               md:before:w-[50px];
    }
    
    .btn-kakao {
        @apply !border-[#ffe000] !bg-[#ffe000]
               hover:!border-[#ffe000] hover:!bg-[#ffe000] hover:!text-black2
               focus:!border-[#ffe000] focus:!bg-[#ffe000] focus:!text-black2
               active:!border-[#ffe000] active:!bg-[#ffe000] active:!text-black2
               before:bg-[url(/html/core/images/ico-kakao.png)];
    }
    
    .btn-naver {
        @apply !border-[#04C75B] !bg-[#04C75B] !text-white
               hover:!border-[#04C75B] hover:!bg-[#04C75B] hover:!text-white
               focus:!border-[#04C75B] focus:!bg-[#04C75B] focus:!text-white
               active:!border-[#04C75B] active:!bg-[#04C75B] active:!text-white
               before:bg-[url(/html/core/images/ico-naver.png)];
    }
}