
.market-title {
    @apply mx-auto uppercase font-serif text-white font-black leading-none text-center w-full bg-white py-23;
    font-size: min(max(96px, 10vw), 140px);
    text-shadow: rgba(200,200,200,0.25) 0px 0.1em 0.05em, rgba(200,200,200,0.25) 0px 0.2em 0.1em, rgba(200,200,200,0.25) 0px 0.32em 0.16em, rgba(200,200,200,0.25) 0px 0.64em 0.32em, rgba(200,200,200,0.25) 0px 1em 0.32em;
}

.text-copyright {
    @apply p-5 font-serif text-center text-xs text-gray5 leading-tight tracking-normal bg-[rgba(42,42,42,0.9)];
}

.login-wrapper {
    @apply flex flex-col bg-white min-w-full min-h-screen;
    & .system-title {
        @apply mt-4;
    }
    & .login-form {
        @apply mt-14 mb-30;
    }
    & .text-copyright {
        @apply mt-auto mx-auto bg-inherit text-[#bbb];
    }
}

.login-form {
    @apply mx-auto max-w-sm p-5 rounded-2xl;
    box-shadow: rgba(200,200,200,0.2) 0px 10px 5px, rgba(200,200,200,0.2) 0px 20px 10px, rgba(200,200,200,0.2) 0px 32px 16px, rgba(200,200,200,0.2) 0px 64px 32px, rgba(200,200,200,0.15) 0px 100px 32px;
    & legend {
        @apply font-serif mb-8 text-center font-bold leading-snug text-4xl;
    }
    & .form-control, & .form-check {
        @apply mt-1.5;
    }
    & .form-control, & .btn-primary {
        @apply w-full;
    }
    & .btn-primary {
        @apply mt-5;
    }
}
