@charset "UTF-8";
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SUIT-Regular", sans-serif;
  color: #1A1A1A;
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: none;
}

.btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
  box-shadow: none;
}

button, input, optgroup, select, textarea {
  font-family: "SUIT-Regular";
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  transition: none;
  box-sizing: border-box;
  margin: 0;
}

.btn, .btn-large, .btn-small, .btn-flat {
  text-transform: none;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #E0E0E0;
  box-shadow: none;
  transition: 0.3s all;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=time]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=search]:focus {
  border: 1px solid #999999 !important;
}

input.input_noClass, input.input_noClass:focus {
  border: none !important;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 0;
}

.row {
  margin: 0;
}

.row .col {
  padding: 0;
}

a {
  color: inherit;
}

label {
  color: inherit;
}

#toast-container {
  bottom: 10px;
}

.toast {
  border-radius: 8px;
  top: 35px;
  left: 10%;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 80%;
  height: auto;
  min-height: 48px;
  line-height: 24px;
  background-color: #323232;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  justify-content: center;
  opacity: 0.8;
}

mark {
  background: none;
  color: inherit;
}

.relative {
  position: relative;
}

.d-flex {
  display: flex;
}
.d-flex.f-column {
  flex-direction: column;
}
.d-flex .fg1 {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap08 {
  gap: 8px;
}

.center {
  text-align: center;
}

.l_left {
  text-align: left;
}

.l_right {
  text-align: right;
}

.disNone {
  display: none !important;
}

.w100p {
  width: 100% !important;
}

.w50p {
  width: 50% !important;
}

.w20 {
  width: 20px !important;
}

.h08 {
  height: 8px;
}

.h12 {
  height: 12px;
}

.h16 {
  height: 16px;
}

.h20 {
  height: 20px;
}

.h24 {
  height: 24px;
}

.h32 {
  height: 32px;
}

.h40 {
  height: 40px;
}

.noPad {
  padding: 0 !important;
}

.pad020 {
  padding: 0 20px !important;
}

.padR20 {
  padding-right: 20px !important;
}

.lh18 {
  line-height: 18px !important;
}

.btn {
  max-height: 34px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.btn-large {
  height: 52px;
  max-height: 52px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  padding: 0 16px;
}

.btn_primary {
  background: #FF8120;
}

.btn_cancel {
  background: #EEEEEE;
  color: #333333;
}

.btn_disable {
  background-color: #EEEEEE;
  color: #BDBDBD;
  font-weight: 600;
  pointer-events: none;
}

.btn_kakao {
  background-color: #FEE500;
  color: #1A1A1A;
}

.btn_naver {
  background-color: #03C75A;
}

.btn_primary_light {
  background: #FFF5E6;
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.btn_white {
  background: #fff;
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.btn-large img.icon_img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.link_text {
  display: inline-block;
  padding-right: 20px;
  background-image: url("../images/04icon/chevron-right_thin.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}
.link_text.color_primary, .link_text.color_tp_p {
  background-image: url("../images/04icon/chevron-right_thin_primary.svg");
}
.link_text.color_disable, .link_text.color_t_d {
  background-image: url("../images/04icon/chevron-right_thin_primary.svg");
}
.link_text.small {
  padding-right: 16px;
  background-size: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.21px;
}

[type=checkbox].filled-in:checked + span:not(.lever):after {
  background-color: #FF8120;
  border: 1px solid #FF8120;
  border-radius: 4px;
}

[type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

[type=checkbox] + span:not(.lever) {
  height: auto;
  padding-left: 28px;
  color: #000;
}

.chk01_1 + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  display: block;
  padding-left: 32px;
  background-image: url(../images/18icon/chk01_default.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 24px;
  transition: 0.3s all;
}

.chk01_1:checked + label {
  background-image: url(../images/18icon/chk01_active01.svg);
}

.chk01_2 + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  display: block;
  padding-left: 32px;
  background-image: url(../images/18icon/chk01_default.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 24px;
  transition: 0.3s all;
}

.chk01_2:checked + label {
  background-image: url(../images/18icon/chk01_active02.svg);
}

.chk02 + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  display: block;
  padding-left: 28px;
  background-image: url(../images/18icon/chk02_default.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px;
  transition: 0.3s all;
}

.chk02:checked + label {
  background-image: url(../images/18icon/chk02_active.svg);
}

.chk02:disabled + label {
  background-image: url(../images/18icon/chk02_disa_empty.svg);
}

.chk02:checked:disabled + label {
  background-image: url(../images/18icon/chk02_disa.svg);
}

.chk03 + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  display: block;
  padding-left: 28px;
  background-image: url(../images/18icon/chk03_default.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px;
  transition: 0.3s all;
}

.chk03:checked + label {
  background-image: url(../images/18icon/chk03_active.svg);
}

.chk03:disabled + label {
  background-image: url(../images/18icon/chk03_disa_empty.svg);
}

.chk03:checked:disabled + label {
  background-image: url(../images/18icon/chk03_disa.svg);
}

[class^=chk].large + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  min-height: 48px;
  padding: 12px 8px 12px 40px;
  background-color: #FFF;
  border: 2px solid #fff;
  background-position: 12px 11px;
  border-radius: 8px;
}

[class^=chk].large:checked + label {
  border: 2px solid #FFF5E6;
  background-color: #FFF5E6;
}

[class^=chk].large.border + label {
  border: 2px solid #EE6002;
}

[class^=chk].large.border_gray + label {
  border: 2px solid #E0E0E0;
}

[class^=chk].large.border_gray:checked + label {
  border: 2px solid #EE6002;
}

[class^=chk].large:disabled + label {
  border: 2px solid #e0e0e0;
  background-color: #EEEEEE;
}

.color_primary {
  color: #FF8120;
}

.color_disable {
  color: #BDBDBD;
}

.c_757575 {
  color: #757575 !important;
}

.color_t_p {
  color: #1A1A1A;
}

.color_t_s {
  color: #616161;
}

.color_t_t {
  color: #999;
}

.color_t_bs {
  color: #10185C;
}

.color_t_i {
  color: #1477F8;
}

.color_t_ib {
  color: #1477F8;
}

.color_t_success {
  color: #43A047;
}

.color_t_success_b {
  color: #166534;
}

.color_t_danger {
  color: #E53935;
}

.color_t_danger_b {
  color: #C62828;
}

.color_t_d {
  color: #BDBDBD;
}

.color_tp_p {
  color: #FF8120;
}

.color_tp_pp {
  color: #EE6002;
}

.color_tp_s {
  color: #333333;
}

.color_tp_ss {
  color: #1A1A1A;
}

.color_tp_selected {
  color: #EE6002;
}

.color_tp_v {
  color: #323DA3;
}

.color_tp_i {
  color: #fff;
}

.color_b_p {
  color: #fff;
}

.color_b_s {
  color: #FAFAFA;
}

.color_b_t {
  color: #F5F5F5;
}

.color_b_point {
  color: #FFECB3;
}

.color_b_bsb {
  color: #10185C;
}

.color_b_bss {
  color: #EFF1FD;
}

.color_b_ib {
  color: #1D4ED8;
}

.color_b_iss {
  color: #EFF6FF;
}

.color_b_sb {
  color: #15803D;
}

.color_b_db {
  color: #D32F2F;
}

.color_b_ds {
  color: #FFEBEE;
}

.color_b_ib {
  color: #333333;
}

.color_b_ibolder {
  color: #1A1A1A;
}

.color_b_d {
  color: #EEEEEE;
}

.color_b_pp {
  color: #FF8120;
}

.color_b_ppp {
  color: #EE6002;
}

.color_b_ps {
  color: #EEEEEE;
}

.color_b_psp {
  color: #E0E0E0;
}

.color_b_pselected {
  color: #FFF5E6;
}

.color_b_pselected_s {
  color: #FFC77D;
}

.color_bd_p {
  color: #BDBDBD;
}

.color_bd_s {
  color: #eee;
}

.color_bd_t {
  color: #F5F5F5;
}

.color_bd_i {
  color: #1477F8;
}

.color_bd_is {
  color: #DBEAFE;
}

.color_bd_success {
  color: #43A047;
}

.color_bd_success_s {
  color: #C8E6C9;
}

.color_bd_danger {
  color: #E53935;
}

.color_bd_danger_s {
  color: #FFCDD2;
}

.color_bd_d {
  color: #BDBDBD;
}

.color_bd_pp {
  color: #FF8120;
}

.color_bd_ppp {
  color: #EE6002;
}

.color_bd_ps {
  color: #E0E0E0;
}

.color_bd_psp {
  color: #999999;
}

.color_bd_pi {
  color: #fff;
}

.color_i_p {
  color: #333333;
}

.color_i_s {
  color: #616161;
}

.color_i_t {
  color: #999999;
}

.color_i_bs {
  color: #10185C;
}

.color_i_point {
  color: #FFC77D;
}

.color_i_i {
  color: #1477F8;
}

.color_i_ib {
  color: #1E40AF;
}

.color_i_isuccess {
  color: #43A047;
}

.color_i_pp {
  color: #FF8120;
}

.color_i_ppp {
  color: #EE6002;
}

.color_i_ps {
  color: #555555;
}

.color_i_psp {
  color: #1A1A1A;
}

.color_i_pt {
  color: #eee;
}

.color_i_ptp {
  color: #E0E0E0;
}

.color_i_pselected {
  color: #EE6002;
}

.color_i_pv {
  color: #323DA3;
}

.color_i_pi {
  color: #fff;
}

.font_shx {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.64px;
}

.font_shl {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.56px;
}

.font_shm {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.48px;
}

.font_shs {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.4px;
}

.font_sblb {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.27px;
}

.font_sbls {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.27px;
}

.font_sblr {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.27px;
}

.font_sbmb {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.font_sbms {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.font_sbmr {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.21px;
}

.font_sbmu {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-decoration-line: underline;
}

.font_sbmst {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-decoration-line: line-through;
}

.font_sbsb {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.21px;
}

.font_sbss {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.21px;
}

.font_sbsr {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
}

.font_scx {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.18px;
}

.font_scxst {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.18px;
  text-decoration-line: line-through;
}

.fs12 {
  font-size: 12px !important;
}

.fs13 {
  font-size: 13px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs15 {
  font-size: 15px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs17 {
  font-size: 17px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs19 {
  font-size: 19px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs23 {
  font-size: 23px !important;
}

.fs24 {
  font-size: 24px !important;
}

.fs25 {
  font-size: 25px !important;
}

.fs26 {
  font-size: 26px !important;
}

.fs27 {
  font-size: 27px !important;
}

.fs28 {
  font-size: 28px !important;
}

.fs29 {
  font-size: 29px !important;
}

.fs30 {
  font-size: 30px !important;
}

.fs31 {
  font-size: 31px !important;
}

.fs32 {
  font-size: 32px !important;
}

.fs33 {
  font-size: 33px !important;
}

.fs34 {
  font-size: 34px !important;
}

.fs35 {
  font-size: 35px !important;
}

.fs36 {
  font-size: 36px !important;
}

.fs37 {
  font-size: 37px !important;
}

.fs38 {
  font-size: 38px !important;
}

.fs39 {
  font-size: 39px !important;
}

.fs40 {
  font-size: 40px !important;
}

.fs41 {
  font-size: 41px !important;
}

.fs42 {
  font-size: 42px !important;
}

.fw100 {
  font-weight: 100 !important;
}

.fw200 {
  font-weight: 200 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw800 {
  font-weight: 800 !important;
}

.fw900 {
  font-weight: 900 !important;
}

.input_basic {
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0 !important;
  border-radius: 8px !important;
  height: 56px !important;
  width: 100%;
  padding: 16px 12px !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.21px;
}
.input_basic.fake_select {
  background: url("../images/04icon/chevron-down.svg") no-repeat calc(100% - 12px) center;
}

.input_label {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  display: block;
  margin-bottom: 8px;
}

.bder_primary {
  border-radius: 6px !important;
  border: 2px solid #FF8120 !important;
}

input.bder_primary:focus {
  border: 2px solid #FF8120 !important;
}

.bder_danger {
  border-radius: 6px !important;
  border: 2px solid #E53935 !important;
  color: #E53935;
}

input.bder_danger:focus {
  border: 2px solid #E53935 !important;
}

::placeholder {
  font-weight: 400;
}

mark.mk01 {
  position: relative;
  display: inline-block;
}

mark.mk01::after {
  z-index: -1;
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  background-color: #FFECB3;
  width: 100%;
  height: 10px;
}

.table_basic tr {
  border: none;
}

.table_basic td, .table_basic th {
  padding: 12px 0;
}

.table_basic th {
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  vertical-align: top;
}

.table_basic td {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.icon_btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.i_right {
  background-image: url(../images/18icon/chevron-right_thin.svg);
}

nav a {
  color: #1A1A1A;
}

nav.top {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: #fff;
  box-shadow: none;
}
nav.top .title {
  font-size: 18px;
  font-weight: 700;
  color: #1A1A1A;
  padding-left: 20px;
}
nav.top .btn_back {
  display: flex;
  align-items: center;
}
nav.top .btn_back .txt {
  font-size: 18px;
  font-weight: 700;
  color: #1A1A1A;
}
nav.top .btn_back .icon {
  display: inline-block;
  background: url("../images/04icon/chevron-left_thin.svg") no-repeat center center;
  text-indent: 40px;
  width: 48px;
  height: 48px;
}
nav.top .top_txt {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  padding: 0 16px;
  height: 48px;
}

.page-footer {
  position: fixed;
  z-index: 101;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #1A1A1A;
  padding: 0 20px 20px;
}
.page-footer::before {
  z-index: 102;
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 60%);
}
.page-footer > .d-flex {
  display: flex;
  gap: 16px 8px;
}
.page-footer > .d-flex.f-column {
  flex-direction: column;
}
.page-footer > .d-flex > * {
  flex: 1 1 30%;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

section {
  margin: 40px 0 120px;
  padding: 0 20px;
}
section.intro {
  margin-top: 96px;
}
section.bottom_0 {
  margin-bottom: 0;
}
section h2.title {
  color: #1A1A1A;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.64px;
  letter-spacing: -0.64px;
  margin: 0;
}
section h2.title + .txt {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.21px;
}
section h3.title {
  color: #1A1A1A;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.48px;
  margin: 0;
}

.tool_tip {
  z-index: 1000;
  right: 10px;
  bottom: 45px;
  position: absolute;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.21px;
  animation-name: tool_ip_ani;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes tool_ip_ani {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: 40px;
  }
}
.tool_tip:after {
  position: absolute;
  bottom: -15px;
  left: calc(50% - 6px);
  width: 0;
  height: 0;
  display: inline-block;
  content: "";
  border-top: 8px solid #ffffff;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
}

.close_x {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/04icon/close.svg) no-repeat center center;
}

.modal {
  background: #fff;
  border-radius: 16px;
}

.modal .modal_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px 12px;
}

.modal.bottom-sheet {
  border-radius: 32px 32px 0 0;
  max-height: 95vh;
}

.modal.bottom-sheet .modal_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px 12px;
}

.modal .modal-content {
  position: relative;
  padding: 0 20px 32px;
  overflow: hidden;
  height: 100%;
}

.modal.bottom-sheet .modal-content {
  padding: 0 20px;
}

.modal_title {
  margin: 0;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.27px;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 90%;
  }
  .modal.fullscreen {
    width: 100%;
  }
}
.modal .modal-footer {
  height: auto;
  text-align: center;
  padding: 0 20px 20px;
  background: #fff;
  position: relative;
}
.modal .modal-footer::before {
  z-index: 1000;
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 60%);
}
.modal .modal-footer .d-flex {
  gap: 16px 8px;
}

.modal.fullscreen {
  top: 0 !important;
  border-radius: 0;
  height: 100%;
  max-height: 100%;
}
.modal.fullscreen .modal_header {
  height: 56px;
  padding: 0 0 0 20px;
}
.modal.fullscreen .modal_header .close_x {
  width: 48px;
  height: 48px;
}
.modal.fullscreen .modal-content {
  height: calc(100% - 56px - 72px);
  overflow-y: auto;
}
.scrollBox {
  height: 200px;
  overflow-y: auto;
}

.broad_area li {
  padding: 12px 8px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.broad_area li.active {
  border-radius: 8px;
  background: #FFF5E6 url("../images/04icon/check_primary.svg") no-repeat calc(100% - 8px) center;
}

.group_chk_area {
  position: relative;
}
.group_chk_area .icon_btn {
  position: absolute;
  top: 2px;
  right: 0;
  width: 48px;
  height: 48px;
}
.group_chk_area .icon_btn + div label {
  padding: 12px 20px 12px 40px;
}

.vaild_txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
  margin-top: 8px;
  color: #616161;
  background-image: url(../images/18icon/valid_default.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px;
  padding-left: 28px;
}
.vaild_txt.ok {
  color: #166534;
  background-image: url(../images/18icon/valid_ok.svg);
}
.vaild_txt.error {
  color: #C62828;
  background-image: url(../images/18icon/valid_error.svg);
}

.cert_time {
  color: #E53935;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
}

.input_password input {
  width: 20px !important;
  text-align: center;
}

.input_password .img_password {
  width: 60px;
  height: 42px;
  background: url("../images/18icon/icon_dot.svg") repeat-x left center;
  background-size: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px !important;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background: rgba(153, 153, 153, 0.3) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #999 !important;
}

.swiper_onboard {
  width: 100%;
}
.swiper_onboard .swiper-slide {
  padding: 0 20px;
}

.img_list_area {
  display: flex;
  gap: 12px;
}
.img_list_area .txt .title {
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
}
.img_list_area .txt .ctn {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.21px;
}

.img_list_box {
  border-radius: 8px;
  background-color: #F5F5F5;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
}

.i04_alaram_fill {
  background-image: url("../images/04icon/alaram_fill.svg");
}

.eld_reg_woman {
  max-height: 60vh;
}

.family_tree_area {
  display: flex;
  flex-direction: column;
}
.family_tree_area .tree {
  display: flex;
  margin-top: 14px;
}
.family_tree_area .tree:first-child {
  margin: 0;
}
.family_tree_area .txt {
  display: block;
  color: #616161;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.18px;
}
.family_tree_area [class^=dept] {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.family_tree_area [class^=dept]::after {
  display: block;
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background: #EEE;
  z-index: -1;
  top: 30px;
}
.family_tree_area [class^=dept] > .item {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 82px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 60px;
  transition: 0.3s all;
}
.family_tree_area .dept2 > .item {
  background-size: 100px;
}
.family_tree_area .dept2::after {
  background: transparent;
}

.item.grandpa {
  background-image: url("../images/05family_tree/type_grandpa_off.svg");
}

.item.grandpa.active {
  background-image: url("../images/05family_tree/type_grandpa_on.svg");
}

.item.grandma {
  background-image: url("../images/05family_tree/type_grandma_off.svg");
}

.item.grandma.active {
  background-image: url("../images/05family_tree/type_grandma_on.svg");
}

.item.father {
  background-image: url("../images/05family_tree/type_fatehr_off.svg");
}

.item.father.active {
  background-image: url("../images/05family_tree/type_fatehr_on.svg");
}

.item.mother {
  background-image: url("../images/05family_tree/type_mother_off.svg");
}

.item.mother.active {
  background-image: url("../images/05family_tree/type_mother_on.svg");
}

.item.p_father {
  background-image: url("../images/05family_tree/type_partner_father_off.svg");
}

.item.p_father.active {
  background-image: url("../images/05family_tree/type_partner_father_on.svg");
}

.item.p_mother {
  background-image: url("../images/05family_tree/type_partner_mother_off.svg");
}

.item.p_mother.active {
  background-image: url("../images/05family_tree/type_partner_mother_on.svg");
}

.item.me {
  background-image: url("../images/05family_tree/type_me_off.svg");
}

.item.me.active {
  background-image: url("../images/05family_tree/type_me_on.svg");
}

.item.partner {
  background-image: url("../images/05family_tree/type_partner_off.svg");
}

.item.partner.active {
  background-image: url("../images/05family_tree/type_partner_on.svg");
}

.item.brother {
  background-image: url("../images/05family_tree/type_brother_off.svg");
}

.item.brother.active {
  background-image: url("../images/05family_tree/type_brother_on.svg");
}

.item.child {
  background-image: url("../images/05family_tree/type_child_off.svg");
}

.item.child.active {
  background-image: url("../images/05family_tree/type_child_on.svg");
}

.family_sel {
  display: flex;
  align-items: center;
  gap: 16px;
}
.family_sel .item {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 60px;
  height: 82px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 60px;
  transition: 0.3s all;
}
.family_sel .txt {
  display: block;
  color: #616161;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.18px;
}

.breadCb > span {
  color: #BDBDBD;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
  position: relative;
  padding: 14px 16px;
}
.breadCb > span.active {
  color: #FF8120;
}
.breadCb > span.selected {
  color: #333333;
}
.breadCb > span + span:nth-child(n+1) {
  padding: 14px 16px 14px 32px;
  background: url("../images/04icon/chevron-right_thin_disable.svg") no-repeat left center;
  background-size: 16px;
}

.chip_area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.chip_area > * {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  text-align: center;
}
.chip_area > *.active {
  border: 1px solid #EE6002;
  background-color: #FFF5E6;
  color: #EE6002;
}/*# sourceMappingURL=style.css.map */