
.back_gray{background-color: #f7f7f7;}

.wrapper{width:100%;min-height: 100vh;}

//$header = 56px

main{flex:1 0 auto;}

section{


    margin: 40px 0 120px; //header X
    padding: 0 20px;

    &.intro{ //header O
     
        margin-top: $header + 40px;

    }

    &.default{ //header O 일반

        margin: $header 0 80px;
        padding: 20px;

    }

    &.bottom_0{
        margin-bottom: 0;
        
    }

    //간략 서비스 소개
    &.back_service_info{ 

        margin: 0 0 40px;
        background-image: linear-gradient(146deg, #FF8120 21.95%, #E54304 82.84%);
        background-repeat: no-repeat;
        background-size: 100% 290px;


    }


}



h2.title{ 
    
    @include Suit_Heading_XL;
    margin: 0;
    
    & + .txt{
        margin-top: 24px;
        @include Suit_Body_MD_Regular;
    }
}


h2.title02{ 
    
    @include Suit_Heading_LG;
    margin: 0;

}

h3.title{

    @include Suit_Heading_MD;
    margin: 0;
    
}

h4.title{

    @include Suit_Heading_SM;
    margin: 0;

}

h5.title{

    @include Suit_Body_LG_Bold;
    margin: 0;

}






//툴팁
.tool_tip{z-index: 1000; right:10px;bottom:45px; position: absolute;display: inline-block;background-color: #fff;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
            padding: 12px;border-radius: 8px;
            @include Suit_Body_SM_SemiBold;

        animation-name: tool_ip_ani;
        animation-duration:0.8s; 
        animation-iteration-count:infinite;
        animation-direction:alternate;

}

/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes tool_ip_ani {
    0% {
      bottom:45px;
    }
    100% {
      bottom:40px;
    }
  }

.tool_tip:after{position: absolute;bottom:-15px;left:calc(50% - 6px);width:0;height: 0; display: inline-block;content: '';
    border-top: 8px solid #ffffff;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;

}

.close_x{display: block;width:32px;height: 32px;background: url(../images/04icon/close.svg) no-repeat center center;}

//modal
.modal{background: #fff;border-radius: 16px;}
.modal .modal_header{width:100%; display: flex;justify-content:space-between;align-items: center;padding: 24px 20px 12px;}

.modal .modal-content{position: relative;
    padding: 0 20px 32px;
    overflow: hidden;
    height: 100%;}

.modal .modal-content p{
    //color: $--Color-text-Primitive-secondary;
    //@include Suit_Body_MD_Regular;
}
    


.modal.bottom-sheet{border-radius: 32px 32px 0 0;max-height: 95vh;}
.modal.bottom-sheet .modal_header{width:100%; display: flex;justify-content:space-between;align-items: center;padding: 32px 20px 16px;}

.modal.bottom-sheet .modal-content{padding: 0 20px;}
.modal.bottom-sheet .modal-footer{padding: 0 20px 32px;}

.modal.bottom-sheet .modal_title{
    color: $--Color-text-Primitive-secondary;
    @include Suit_Body_LG_Bold;

}

.modal_title{margin: 0; color: $--Color-text-Primitive-secondary;
    @include Suit_Heading_SM;
}


@media only screen and (max-width: 992px) {
    .modal {
        width:90%;
    }
    .modal.fullscreen {
        width:100%;
    }

}

.modal .modal-footer{height: auto;text-align: center;padding: 0 20px 20px;background:#fff;position: relative;

    &::before{z-index:1000;content: '';display: block;position: absolute;top:-20px;left:0; width:100%;width:100%;height:20px;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
    }

    & .d-flex{
        gap:16px 8px;
    }
}

//modal 풀스크린
.modal.fullscreen{

    top:0 !important;
    border-radius: 0;
    height: 100%;
    max-height: 100%;


    .modal_header{
        height: 56px;
        padding: 0 0 0 20px;

        .close_x{
            width:48px;height:48px;
        }

    }
    
    .modal-content{
        height:calc(100% - 56px - 72px); //modal_header, modal_footer 높이값 제외
        overflow-y: auto;
    }

    .modal-footer{
        //del
    }

}



//스크롤박스처리
.scrollBox{height: 200px;overflow-y: auto;

    &.height_top{height:calc(100vh - 160px)}

}


//통신사 선택
.broad_area li{padding: 12px 8px;color:$--Color-text-Primitive-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;

}
.broad_area li.active{
    border-radius: 8px;
    background: $--Color-bg-Primitive-selected url('../images/04icon/check_primary.svg') no-repeat calc(100% - 8px) center;

    
}



// 동의체크
.group_chk_area{
    position: relative;

    .icon_btn{
        position: absolute;
        top:2px;
        right:0;
        width:48px;height:48px;
    }

    .icon_btn + div label{padding: 12px 20px 12px 44px;}

    &+.group_chk_area{margin-top: 6px;}
}


//유효성 체크
.vaild_txt{
    @include Suit_Body_SS_Regular;
    
    margin-top: 8px;
    color:$--Color-text-secondary;
    background-image: url(../images/18icon/valid_default.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;
    padding-left: 28px;

    &.ok{
     
        color: $--Color-text-success-bold;
        background-image: url(../images/18icon/valid_ok.svg);

    }

    &.error{
     
        color: $--Color-text-danger-bold;
        background-image: url(../images/18icon/valid_error.svg);

    }

}


//인증번호 시간
.cert_time{
    color: $--Color-text-danger;
    @include Suit_Body_SM_Regular;

}


//패스워드 입력창
.input_password input{
    width:20px !important;text-align: center;
    }

.input_password .img_password{
    width:60px;height:42px;
    background: url('../images/18icon/icon_dot.svg') repeat-x left center;background-size: 10px;
}


/////온보딩
//swiper 스와이프
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 2px !important;
}
.swiper-pagination-bullet{width:6px !important;height:6px !important; background: rgba(#999 ,0.3) !important;opacity: 1 !important;}
.swiper-pagination-bullet-active{background: #999 !important;}


.swiper_onboard{
    width:100%;

    .swiper-slide{
        padding: 0 20px;
    }
    
}



/////앱 접근권한
.img_list_area{
    display: flex;
    gap:12px;

    .txt{

        .title{
            color: $--Color-text-primary;
            @include Suit_Body_MD_SemiBold
        }

        .ctn{
            color: $--Color-text-teritiary;
            @include Suit_Body_SM_Regular

        }

    }

}


//아이콘
.img_list_box{
    border-radius: 8px;
    background-color: $--Color-bg-teritiary;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;

}

// 현재 안씀
.i04_alaram_fill{background-image: url('../images/04icon/alaram_fill.svg')}


//박스
.bder_box01{padding: 12px 16px;border-radius: 8px;
    border: 1px solid$--Color-border-secondary;
}


/////어르신 등록
.eld_reg_woman{max-height: 60vh;}


//트리
.family_tree_area{
    display: flex;
    flex-direction: column;

    .tree{
        display: flex;
        margin-top: 14px;
    }
    .tree:first-child{margin: 0;}

    .txt{
        display: block;
        color: $--Color-text-secondary;
        @include Suit_Caption_XS;
    }


        //가족
        [class^='dept'] {
            position: relative;
            display: grid;
            width:100%;
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            &::after{display: block;content: '';position: absolute; width:50%;height:1px;background: #EEE;z-index: -1;top:36px};

            & > .item{
                display: flex;justify-content: center; align-items: end; width:100%;height:92px;background-position: center top;background-repeat: no-repeat;background-size: 70px;
                transition: 0.3s all;
            }


        }

        //형제자매, 자녀 트리
        .dept2{

            & > .item {background-size: 100px;}

            &::after{background: transparent;}
            
        
        }


}

.item.grandpa{background-image: url('../images/05family_tree/type_grandpa_off.svg');}
.item.grandpa.active{background-image: url('../images/05family_tree/type_grandpa_on.svg');}

.item.grandma{background-image: url('../images/05family_tree/type_grandma_off.svg');}
.item.grandma.active{background-image: url('../images/05family_tree/type_grandma_on.svg');}

.item.father{background-image: url('../images/05family_tree/type_fatehr_off.svg');}
.item.father.active{background-image: url('../images/05family_tree/type_fatehr_on.svg');}

.item.mother{background-image: url('../images/05family_tree/type_mother_off.svg');}
.item.mother.active{background-image: url('../images/05family_tree/type_mother_on.svg');}

.item.p_father{background-image: url('../images/05family_tree/type_partner_father_off.svg');}
.item.p_father.active{background-image: url('../images/05family_tree/type_partner_father_on.svg');}

.item.p_mother{background-image: url('../images/05family_tree/type_partner_mother_off.svg');}
.item.p_mother.active{background-image: url('../images/05family_tree/type_partner_mother_on.svg');}

.item.me{background-image: url('../images/05family_tree/type_me_off.svg');}
.item.me.active{background-image: url('../images/05family_tree/type_me_on.svg');}

.item.partner{background-image: url('../images/05family_tree/type_partner_off.svg');}
.item.partner.active{background-image: url('../images/05family_tree/type_partner_on.svg');}

.item.brother{background-image: url('../images/05family_tree/type_brother_off.svg');}
.item.brother.active{background-image: url('../images/05family_tree/type_brother_on.svg');}

.item.child{background-image: url('../images/05family_tree/type_child_off.svg');}
.item.child.active{background-image: url('../images/05family_tree/type_child_on.svg');}




.family_sel{
    display: flex;
    align-items: center;
    gap:16px;

    .item{display: flex;justify-content: center; align-items: end; width:60px;height:82px;background-position: center top;background-repeat: no-repeat;background-size: 60px;
        transition: 0.3s all;}

    .txt{
        display: block;
        color: $--Color-text-secondary;
        @include Suit_Caption_XS;
    }


}


//Breadcrumbs
.breadCb{

    > span{
        color: $--Color-text-disabled;
        @include Suit_Body_MD_SemiBold;

        position: relative;
        padding: 14px 16px;

        &.active{

            color: $--Color-text-Primitive-primary;

        }

        &.selected{

            color: $--Color-text-Primitive-secondary;

        }


        + span:nth-child(n+1){

            padding: 14px 16px 14px 32px;

            background: url('../images/04icon/chevron-right_thin_disable.svg') no-repeat left center;
            background-size: 16px;

        }
    
    }

}

//지역선택 chip
.chip_area{display: grid;grid-template-columns: repeat(3, 1fr);gap: 12px;padding-bottom: 20px;align-content: start;}
.chip_area > * {
    width:100%;height: 70px;padding: 0 8px;border-radius: 8px;
    border:1px solid $--Color-border-Primitive-secondary;
    background-color: #fff;
    text-align: center;
    @include Suit_Body_MD_Regular;
    @include flex_center;

    &.active{
        border: 1px solid $--Color-border-Primitive-primary-press;
        background-color: $--Color-bg-Primitive-selected;
        color: $--Color-text-Primitive-selected;
    }

}


//시스템 점검
//close_x가 modal-header안에 있어 상단올림처리
.img_system_ins{
    text-align: center; position: relative;top:-34px;

    img{width:240px;}

}

.img_system_ins + .modal-content{top:-34px;}



//서비스
//카드
.card{
    margin: 0;border-radius: 16px;overflow: hidden;
    @include box_shadow;

    &.bder{ //border
        border: 1px solid $--Color-border-Primitive-secondary;
        box-shadow: none;
    }

    &.active{ //active border
        background: $--Color-bg-Primitive-selected;
        border: 1px solid $--Color-border-Primitive-primary-press;
    }

    .card-content{padding: 24px 20px;}

}


//공지사항
.card.notice .card-content{padding: 16px 20px;}
.notice_dl{display: flex;align-items: center;}
.notice_dl dt{
    color: $--Color-text-primary;
    @include Suit_Body_SM_Bold;
}
.notice_dl dd{
    color: $--Color-text-primary;
    @include Suit_Body_SM_Regular;
    margin-left: 8px;
}

//드롭다운메뉴
.top_dropdown_area{display: flex;align-items: center;position: relative;}
.top_dropdown_btn{display: inline-block;width:24px;height:24px;
    margin-left: 2px;
    background: url('../images/04icon/circle_down.svg') no-repeat center center;background-size: 100%;transition: 0.3s all;
}
.top_dropdown_btn.active{transform:rotate(180deg);}

    //현재 안씀
    .top_dropdown_menu{position: absolute;top:30px;display: none;}
    .top_dropdown_menu li a{color:$--Color-text-primary;display: block;width: 100px; background-color: aqua;}

//어르신 슬라이드
.service_img_area{
    height: 180px;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center bottom;


    &.om_01{
        background-color: $--Color-bg-info-subtle;
        background-image: url('../images/10om/om_01.svg');
    }
    &.om_02{
        background-color: $--Color-bg-Primitive-selected;
        background-image: url('../images/10om/om_02.svg');
    }
    &.om_03{
        background-color: $--Color-bg-danger-subtle;
        background-image: url('../images/10om/om_03.svg');
    }

    .title{
        position: absolute;top:16px;left:16px;
        display: inline-block;padding: 2px 8px;
        background: rgba(51, 51, 51, 0.70);border-radius: 50px;
        color: #fff;
        @include Suit_Caption_XS;
    }

    &.card-content{padding: 20px;}

}




//어르신 선택 아이콘 꽃
//상단 broad_area 참조
.broad_area.om_select li{
    padding: 8px;margin-top: 4px;
}

.img_flower{
    border-radius: 50%;
    border: 0.667px solid #e0e0e0;
    background: $--Color-bg-Primitive-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    width:48px;
    height: 48px;; 

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px;

    &.fl_01{
        background-image: url('../images/07flower/fl_01.svg');
    }
    &.fl_02{
        background-image: url('../images/07flower/fl_02.svg');
    }
    &.fl_03{
        background-image: url('../images/07flower/fl_03.svg');
    }
    &.fl_04{
        background-image: url('../images/07flower/fl_04.svg');
    }

    & + span{
        margin-left: 8px;
    }


}
 
//추가 등록하기
.om_add{padding: 8px;color:$--Color-text-Primitive-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;

    
    
}

//태그
.tag_area{
    margin-top: 4px;

    .tag{display: inline-block;
        color: $--Color-text-secondary;
        @include Suit_Body_SS_Regular; 

        &::before{

            content: '#';

        }
    }

    .tag:nth-child(2n){margin-left: 4px;}

}

//간편 테스트
//
.box{background-color: #fff;padding:32px 20px;
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: start;
    gap: 12px;

    //박스 연속시 2번째부터 간격조정
    + .box{margin-top: 16px;}

    //이미지 사이즈 56*56인 경우
    &.w56{
        grid-template-columns: 56px 1fr;
        
        .img_area{
            width:56px;
            height:56px;
    
        }


    }


    .img_area{
        width:48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $--Color-bg-Primitive-selected;

        + .ctn_area{

            p{margin-top: 8px;}

        }


    }

}



.box_sub01{background-color: #fff;padding:14px 0;
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: start;
    gap: 12px;

    &:first-child{
        padding:12px 0 14px;
    }


    .img_area{
        width:48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}




//grid없는 박스
.box_normal{background-color: #fff;padding:32px 20px;}

.box_normal.gray{
    border-radius: 8px;
    background: $--Color-bg-teritiary;
    padding: 16px 20px;
}



//progress step
.progress01{
    appearance: none;width:100%;

    &::-webkit-progress-bar{
        overflow: hidden;
        height: 16px;
        border-radius: 20px;
        background-color: $--Color-bg-teritiary;
    }
    &::-webkit-progress-value{
        border-radius: 20px;
        height: 16px;
        width: 48px;
        background: linear-gradient(146deg, #FF8120 21.95%, #E54304 82.84%);
    }

}

.progress_num{
    text-align: right;color:$--Color-text-secondary; @include Suit_Body_SM_Regular;

    .step{
        color: $--Color-text-primary; @include Suit_Body_SM_SemiBold;
    }
}


//연락처 수정
//그레이 박스
.card-panel.default{
    padding: 12px 8px;
    margin: 0;
    border-radius: 8px;
    background: $--Color-bg-teritiary;

    color: $--Color-text-secondary;
    @include flex_center;
    @include Suit_Body_SM_Regular;

}


//복지용구 서비스 선택
.wel_select_area{display: grid;grid-template-columns: repeat(3, 1fr);justify-content: space-between; align-items:start;

    .waves-effect img{z-index: initial;}

    li{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        border-radius: 12px;
        gap:8px;

        &:nth-child(n+4){

            margin-top: 32px;

        }
        

        .img_area{
            position: relative;
            overflow: hidden;
            width:90px;height: 90px;

            border-radius: 50%;
            background: $--Color-bg-teritiary;
            
            @include flex_center;


            & + .txt{
                @include Suit_Body_SM_Regular;
                text-align: center;
            }
        }

        .img_area img{
            transform: scale(1);
            transition: 0.3s ease-in;
        }

        &.active .img_area img{
            transform: scale(1.2);
        }


        .img_area::before{
            content: '';
            display: flex;
            position: absolute;
            z-index: 1;
            width:100%;height: 100%;
            top:0;left:0;
            border-radius: 60%;
            background-color: #333333c5;
            background-image: url('../images/18icon/chk01_white.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 36px;
            transform: scale(0.01);
            opacity: 0;
            transition: 0.2s ease-in;
            
        }

        &.active .img_area::before{
            transform: scale(1);
            opacity: 1;

        }



    }
}

//돌봄시간 설정 선택 박스
.care_time_area{
    padding: 20px;
    border:1px solid transparent;
    display: grid;grid-template-columns: 1fr 120px;
    transition: 0.3s all;

    img{width:100%;}

    .chk01_2:checked+label{
        color: $--Color-text-Primitive-primary-press;
        font-size: 20px !important;
        font-weight: 700 !important;
    }


    &.active{background:#fff;}

    & + .care_time_area{margin-top: 16px;}

}

//어르신
/////어르신 등록 슬라이드
.om_reg_area{margin:0 -20px;}
.om_reg_area ul{padding:0 20px; width:100%;white-space:nowrap;overflow-y: hidden; overflow-x: auto;font-size: 0;}
.om_reg_area ul li{

    display: inline-block;
    padding:8px 16px 8px 44px;
    min-width: 102px;
    
    height: 40px;
    border-radius: 50px;
    border: 1px solid $--Color-border-Primitive-secondary;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 24px;
    
    @include Suit_Body_SM_Regular;

    &+li{
        margin-left: 8px;
    }

    &.fl_01{
        background-image: url('../images/07flower/fl_01_default.svg');
    }
    &.fl_02{
        background-image: url('../images/07flower/fl_02_default.svg');
    }
    &.fl_03{
        background-image: url('../images/07flower/fl_03_default.svg');
    }
    &.fl_04{
        background-image: url('../images/07flower/fl_04_default.svg');
    }
    
    &.reg_btn{
        padding:8px 16px 8px 36px;
        background-position: 8px center;
        background-image: url('../images/18icon/chevron-add_gray.svg');
    }


    &.active{
        border: 1px solid $--Color-border-Primitive-primary-press;
        background-color: $--Color-bg-Primitive-primary;
        

        color: #fff;
        @include Suit_Body_SM_SemiBold;

        &.fl_01{
            background-image: url('../images/07flower/fl_01.svg');
        }
        &.fl_02{
            background-image: url('../images/07flower/fl_02.svg');
        }
        &.fl_03{
            background-image: url('../images/07flower/fl_03.svg');
        }
        &.fl_04{
            background-image: url('../images/07flower/fl_04.svg');
        }

    }

}

//어르신 프로필정보
.box_om_profile{
    display: flex;
    align-items: center;
    gap:12px;
    background-image: url('../images/04icon/chevron-right.svg');
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-size: 20px;

    //어르신 정보수정 프로필
    &.info_mdfy{
        display: grid;
        grid-template-columns: 64px 1fr auto;
        background-image: none;
        }
    

    .img_area{
        overflow: hidden;
        width:64px;
        height: 64px;
        border-radius: 16px;
        background-color: $--Color-bg-Primitive-selected-press;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 48px;

        display: flex;
        align-items: end;

        &.fl_01{
            background-image: url('../images/07flower/fl_01.svg');
        }
        &.fl_02{
            background-image: url('../images/07flower/fl_02.svg');
        }
        &.fl_03{
            background-image: url('../images/07flower/fl_03.svg');
        }
        &.fl_04{
            background-image: url('../images/07flower/fl_04.svg');
        }
        
        .txt{
            width:100%;
            height: 24px;
            background-color: rgba(238, 96, 2, 0.6);
            color:#fff;
            @include Suit_Body_SS_Bold;
            @include flex_center;
        }
        
    }

}



//어르신 상담내역 상태값 박스
.box_sub02{background-color: #fff;padding:0;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 12px;


    .img_area{
        width:40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $--Color-bg-Primitive-secondary;
        border-radius: 50%;


    }

}


//step
.step_area{



    .step_txt_area{
        display: flex;justify-content: space-between;
    
        li{
            color: $--Color-text-teritiary;
            @include Suit_Caption_XS;
    
            &.active{
                color: $--Color-text-Primitive-selected;
                @include Suit_Caption_XS;
            }
    
        }
    
    }
    
    .step_graph_area{
        display: flex;
        justify-content: space-between;
        position: relative;
        border-radius: 50px;
        height:8px;
        background-color: $--Color-bg-teritiary;
        overflow: hidden;
        margin-top: 8px;
    
    
        .item{
            position: relative;
            display: flex;
            z-index: 3;
    
            &:after{
                position: relative;
                content: '';
                width:4px;height:4px;
                border-radius: 50%;
                background-color: $--Color-bg-Primitive-primary;
                top:2px;
                }
    
    
            &:first-child{left:4px;}
            &:last-child{right:4px;}
    
            &.active{
                z-index: 1;
            }
            &.active:before{
    
                position: absolute;
                top:0;
                right:-4px;
                content: '';
                width:100vw;
                height:8px;
                background-color: $--Color-bg-Primitive-selected-press;
                border-radius: 30px;
               
            }
    
        }
    
    
    }


}

.step_area_vertical{


    .coun_cancel{
        padding-left: 24px;
        display: grid;
        grid-template-columns: 98px 1fr;

    }

    .step_txt_area{

        position: relative;

        padding-left: 24px;
        @include Suit_Body_MD_Regular;

        .item{
            padding: 8px 0;
            display: grid;
            grid-template-columns: 98px 1fr;


        }

        span.title{
            position: relative;
            display: inline-block;

            color: $--Color-text-disabled;
            @include Suit_Body_MD_Regular;

            &::before{

                content: '';
                position: absolute;
                top:12px;
                left:-22px;
                display: inline-block;
                background-color: $--Color-bg-Primitive-primary ;
                border-radius: 40px;
                width:4px;
                height: 4px;
                z-index: 3;

            }
            


        }


        .active span.title{

            color: $--Color-text-primary;
            @include Suit_Body_MD_Bold;

        }

        .past span.title{

            color: $--Color-text-primary;
            @include Suit_Body_MD_Regular;

        }

        //취소될때
        .active.cancel span.title, .past.cancel span.title{

            color: $--Color-text-disabled;
            @include Suit_Body_MD_Strike-through;

        }

            
        .vertical_bar{

            position: absolute; 
            content: '';
            top:16px;
            left:0;
            display: inline-block;
            width:8px;
            border-radius: 40px;
            background: $--Color-bg-teritiary;
            overflow: hidden;

            .bar_active{

                position: absolute;
                content: '';
                top:0;
                left:0;
                display: inline-block;
                width:8px;
                padding-bottom: 10px;
                
                border-radius: 0 0 40px 40px;
                background-color: $--Color-bg-Primitive-selected-press;

            }

        }



    }


}



//관심복지용구 슬라이드
.wel_select_slide{

    white-space:nowrap;overflow-y: hidden; overflow-x: auto;font-size: 0;
    padding: 0 14px;

    .waves-effect img{z-index: initial;}

    .ctn{
        
        padding: 0 6px;
        
    }

    .img_area{
        width: 80px;
        height: 80px;
        @include flex_center;

        border-radius:8px;
        background: $--Color-bg-teritiary;

            img{
                width:58px;height: 58px;
            }


        & + .txt{
            display: block;
            height: 42px;
            margin-top: 4px;
        
            color: $--Color-text-secondary;
            text-align: center;
            @include Suit_Body_SS_Regular;
        }

    }

}


//장기요양기관 상담목록 - 상담진행중, 상담완료
.box_coun_list{
    display: grid;
    grid-template-columns: 68px 1fr;
    align-items: center;
    gap:16px;
    background-image: url('../images/18icon/chevron-right_thin.svg');
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    background-size: 24px;

    .img_area{
        overflow: hidden;
        width:68px;
        height: 68px;
        border-radius: 50%;
        
        background-repeat: no-repeat; 
        background-position: center;
        background-size: 60px;
        opacity: 0.85;

        &.trans_01{
            background-image: url('../images/06trans/trans_01.svg');
        }

        &.trans_02{
            background-image: url('../images/06trans/trans_02.svg');
        }


        &.ing{
            background-color: $--Color-bg-brand-sub-bold;
            
        }
        &.ok{
            background-color: $--Color-bg-inverse-bold;
        }


        & + div{padding-right: 24px;}
        
        .txt{
            width:100%;
            height: 100%;
            color:#fff;
            text-align: center;
            @include flex_center;
            @include text_shadow;
        }
        
    }

}


//상담내역
.box_history_area{
    padding: 24px 20px;
    background: linear-gradient(146deg, #FF8120 21.95%, #E54304 82.84%);
}
//상담내역 _ 회색 그라데이션
.box_history_area.gray{
    padding: 24px 20px;
    background: linear-gradient(146deg, #999 21.95%, #555 82.84%);
}


//어르신 길잡이
.om_guide_card{
    width: 100%;
    background-position: calc(100% - 12px) bottom;
    background-repeat: no-repeat;
    background-size: 95px;

    &.backImg_01{
        background-image: url('../images/03tool/tool03_00.png');
    }


}


//어르신복지
.intro_om_wel_list{padding:24px 20px; margin: -20px -20px 0;
    height: 226px;

    background-color: #FFF5E6;
    background-image: url('../images/09people/pp_06.svg');
    background-repeat: no-repeat;
    background-position: right bottom;

}

//어르신 복지목록
.box_om_wel_list{

    padding:12px 24px 12px 16px;
    background-color: #fff;
    background-image: url('../images/18icon/chevron-right02_thin.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    @include box_shadow;

    border-radius: 16px;
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 12px;

    .img_area{
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $--Color-border-teritiary;
        background: $--Color-bg-secondary;
        @include flex_center;
        

        img{
            width: 40px;height: 40px;
            z-index: initial; //Use wave-effect
        }

    }

     
    &.title{
        padding: 0;
        box-shadow: none;
        background-image: none;
    }

    //박스 연속시 2번째부터 간격조정
    + .box_om_wel_list{margin-top: 16px;}

}