
.wrapper{width:100%;min-height: 100vh;}



main{flex:1 0 auto}

section{

    margin: 40px 0 120px;
    padding: 0 20px;

    &.intro{
    
        margin-top: $header + 40px;

    }

    &.bottom_0{
        margin-bottom: 0;
        
    }

    h2.title{ 
    
        color: $--Color-text-primary;
        @include Suit_Heading_XL;
        letter-spacing: -0.64px;
        margin: 0;
        
        & + .txt{
            margin-top: 24px;
            @include Suit_Body_MD_Regular;
        }
    }

    h3.title{
    
        color: $--Color-text-primary;
        @include Suit_Heading_MD;
        margin: 0;
        
    }


}

//툴팁
.tool_tip{z-index: 1000; right:10px;bottom:45px; position: absolute;display: inline-block;background-color: #fff;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
            padding: 12px;border-radius: 8px;
            @include Suit_Body_SM_SemiBold;

        animation-name: tool_ip_ani;
        animation-duration:0.8s; 
        animation-iteration-count:infinite;
        animation-direction:alternate;

}

/* 키프레임 이름 = 애니메이션 이름 */
@-webkit-keyframes tool_ip_ani {
    0% {
      bottom:45px;
    }
    100% {
      bottom:40px;
    }
  }

.tool_tip:after{position: absolute;bottom:-15px;left:calc(50% - 6px);width:0;height: 0; display: inline-block;content: '';
    border-top: 8px solid #ffffff;
    border-right: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid transparent;

}

.close_x{display: block;width:32px;height: 32px;background: url(../images/04icon/close.svg) no-repeat center center;}

//modal
.modal{background: #fff;border-radius: 16px;}
.modal .modal_header{width:100%; display: flex;justify-content:space-between;align-items: center;padding: 24px 20px 12px;}

.modal.bottom-sheet{border-radius: 32px 32px 0 0;max-height: 95vh;}
.modal.bottom-sheet .modal_header{width:100%; display: flex;justify-content:space-between;align-items: center;padding: 32px 20px 12px;}
.modal .modal-content{position: relative;
    padding: 0 20px 32px;
    overflow: hidden;
    height: 100%;}
.modal.bottom-sheet .modal-content{padding: 0 20px;}


.modal_title{margin: 0; color: $--Color-text-Primitive-secondary;
    @include Suit_Body_LG_Bold
}


@media only screen and (max-width: 992px) {
    .modal {
        width:90%;
    }
    .modal.fullscreen {
        width:100%;
    }

}

.modal .modal-footer{height: auto;text-align: center;padding: 0 20px 20px;background:#fff;position: relative;

    &::before{z-index:1000;content: '';display: block;position: absolute;top:-20px;left:0; width:100%;width:100%;height:20px;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
    }

    & .d-flex{
        gap:16px 8px;
    }
}

//modal 풀스크린
.modal.fullscreen{

    top:0 !important;
    border-radius: 0;
    height: 100%;
    max-height: 100%;


    .modal_header{
        height: 56px;
        padding: 0 0 0 20px;

        .close_x{
            width:48px;height:48px;
        }

    }
    
    .modal-content{
        height:calc(100% - 56px - 72px); //modal_header, modal_footer 높이값 제외
        overflow-y: auto;
    }

    .modal-footer{
        //del
    }

}



//스크롤박스처리
.scrollBox{height: 200px;overflow-y: auto;}


//통신사 선택
.broad_area li{padding: 12px 8px;color:$--Color-text-Primitive-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;

}
.broad_area li.active{
    border-radius: 8px;
    background: $--Color-bg-Primitive-selected url('../images/04icon/check_primary.svg') no-repeat calc(100% - 8px) center;

    
}

// 동의체크
.group_chk_area{
    position: relative;

    .icon_btn{
        position: absolute;
        top:2px;
        right:0;
        width:48px;height:48px;
    }

    .icon_btn + div label{padding: 12px 20px 12px 40px;}
}


//유효성 체크
.vaild_txt{
    @include Suit_Body_SM_Regular;
    
    margin-top: 8px;
    color:$--Color-text-secondary;
    background-image: url(../images/18icon/valid_default.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;
    padding-left: 28px;

    &.ok{
     
        color: $--Color-text-success-bold;
        background-image: url(../images/18icon/valid_ok.svg);

    }

    &.error{
     
        color: $--Color-text-danger-bold;
        background-image: url(../images/18icon/valid_error.svg);

    }

}


//인증번호 시간
.cert_time{
    color: $--Color-text-danger;
    @include Suit_Body_SM_Regular;

}


//패스워드 입력창
.input_password input{
    width:20px !important;text-align: center;
    }

.input_password .img_password{
    width:60px;height:42px;
    background: url('../images/18icon/icon_dot.svg') repeat-x left center;background-size: 10px;
}


/////온보딩
//swiper 스와이프
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 2px !important;
}
.swiper-pagination-bullet{width:6px !important;height:6px !important; background: rgba(#999 ,0.3) !important;opacity: 1 !important;}
.swiper-pagination-bullet-active{background: #999 !important;}


.swiper_onboard{
    width:100%;

    .swiper-slide{
        padding: 0 20px;
    }
    
}



/////앱 접근권한
.img_list_area{
    display: flex;
    gap:12px;

    .txt{

        .title{
            color: $--Color-text-primary;
            @include Suit_Body_MD_SemiBold
        }

        .ctn{
            color: $--Color-text-teritiary;
            @include Suit_Body_SM_Regular

        }

    }

}


//아이콘
.img_list_box{
    border-radius: 8px;
    background-color: $--Color-bg-teritiary;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;

}

// 현재 안씀
.i04_alaram_fill{background-image: url('../images/04icon/alaram_fill.svg')}



/////어르신 등록
.eld_reg_woman{max-height: 60vh;}


//트리
.family_tree_area{
    display: flex;
    flex-direction: column;

    .tree{
        display: flex;
        margin-top: 14px;
    }
    .tree:first-child{margin: 0;}

    .txt{
        display: block;
        color: $--Color-text-secondary;
        @include Suit_Caption_XS;
    }


        //가족
        [class^='dept'] {
            position: relative;
            display: grid;
            width:100%;
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            &::after{display: block;content: '';position: absolute; width:50%;height:1px;background: #EEE;z-index: -1;top:30px};

            & > .item{
                display: flex;justify-content: center; align-items: end; width:100%;height:82px;background-position: center top;background-repeat: no-repeat;background-size: 60px;
                transition: 0.3s all;
            }


        }

        //형제자매, 자녀 트리
        .dept2{

            & > .item {background-size: 100px;}

            &::after{background: transparent;}
            
        
        }


}

.item.grandpa{background-image: url('../images/05family_tree/type_grandpa_off.svg');}
.item.grandpa.active{background-image: url('../images/05family_tree/type_grandpa_on.svg');}

.item.grandma{background-image: url('../images/05family_tree/type_grandma_off.svg');}
.item.grandma.active{background-image: url('../images/05family_tree/type_grandma_on.svg');}

.item.father{background-image: url('../images/05family_tree/type_fatehr_off.svg');}
.item.father.active{background-image: url('../images/05family_tree/type_fatehr_on.svg');}

.item.mother{background-image: url('../images/05family_tree/type_mother_off.svg');}
.item.mother.active{background-image: url('../images/05family_tree/type_mother_on.svg');}

.item.p_father{background-image: url('../images/05family_tree/type_partner_father_off.svg');}
.item.p_father.active{background-image: url('../images/05family_tree/type_partner_father_on.svg');}

.item.p_mother{background-image: url('../images/05family_tree/type_partner_mother_off.svg');}
.item.p_mother.active{background-image: url('../images/05family_tree/type_partner_mother_on.svg');}

.item.me{background-image: url('../images/05family_tree/type_me_off.svg');}
.item.me.active{background-image: url('../images/05family_tree/type_me_on.svg');}

.item.partner{background-image: url('../images/05family_tree/type_partner_off.svg');}
.item.partner.active{background-image: url('../images/05family_tree/type_partner_on.svg');}

.item.brother{background-image: url('../images/05family_tree/type_brother_off.svg');}
.item.brother.active{background-image: url('../images/05family_tree/type_brother_on.svg');}

.item.child{background-image: url('../images/05family_tree/type_child_off.svg');}
.item.child.active{background-image: url('../images/05family_tree/type_child_on.svg');}




.family_sel{
    display: flex;
    align-items: center;
    gap:16px;

    .item{display: flex;justify-content: center; align-items: end; width:60px;height:82px;background-position: center top;background-repeat: no-repeat;background-size: 60px;
        transition: 0.3s all;}

    .txt{
        display: block;
        color: $--Color-text-secondary;
        @include Suit_Caption_XS;
    }


}


//Breadcrumbs
.breadCb{

    > span{
        color: $--Color-text-disabled;
        @include Suit_Body_MD_SemiBold;

        position: relative;
        padding: 14px 16px;

        &.active{

            color: $--Color-text-Primitive-primary;

        }

        &.selected{

            color: $--Color-text-Primitive-secondary;

        }


        + span:nth-child(n+1){

            padding: 14px 16px 14px 32px;

            background: url('../images/04icon/chevron-right_thin_disable.svg') no-repeat left center;
            background-size: 16px;

        }
    
    }

}

//지역선택 chip
.chip_area{display: grid;grid-template-columns: repeat(3, 1fr);gap: 12px;padding-bottom: 20px;}
.chip_area > * {
    width:100%;height: 48px;padding: 12px 8px;border-radius: 8px;
    border:1px solid $--Color-border-Primitive-secondary;
    background-color: #fff;
    text-align: center;

    &.active{
        border: 1px solid $--Color-border-Primitive-primary-press;
        background-color: $--Color-bg-Primitive-selected;
        color: $--Color-text-Primitive-selected;
    }

}

