/* 마켓 배너 */
.market-banner {
    @apply flex flex-col justify-center mx-auto px-[5%] h-[9.375rem] overflow-hidden rounded-lg bg-no-repeat bg-center bg-cover bg-[url(../images/img-market-banner.png)] leading-tight text-white
           md:px-[10%];
    & strong {
        @apply block w-fit mx-auto text-xl
               md:w-full md:text-[1.625rem];
        & small {
            @apply block mt-1.5 text-sm font-medium
                   md:text-base;
        }
    }
    & a {
        @apply block w-fit py-2 px-5 mt-4 mx-auto min-w-[11.3em] bg-white rounded-full text-[0.8125rem] font-medium text-black2 bg-no-repeat bg-[right_1.25rem_top_51%] bg-[url(../images/ico-angle.svg)]
               md:mx-0;
    }
}


/* 회사소개 */
.company-visual {
    @apply relative z-10 -mt-13 mx-auto pt-[max(19.375rem,(min(54.90483162518302vw,35.625rem)))] max-w-screen-xl text-white md:-mt-17 lg:-mt-21;
    font-family: "NanumSquareNeo";
    & h1 {
        @apply relative z-15 text-[max(1.75rem,(min(4.6875vw,3.75rem)))] leading-[1.1] font-extrabold;
        & em {
            @apply font-light;
        }
        & span {
            @apply block align-bottom mt-1 font-serif font-light leading-snug text-[max(0.75rem,(min(1.09375vw,0.875rem)))] sm:inline-block sm:mt-0 sm:font-bold;
            & br {
                @apply sm-max:hidden;
            }
        }
    }
    & .nav {
        @apply flex relative z-15 mt-[max(1.75rem,(min(5.3125vw,4.25rem)))] text-[max(1.25rem,(min(1.875vw,1.5rem)))];
        & .nav-link {
            @apply block min-w-[5.041666666666667em] text-center text-white after:content-empty after:block after:mt-[0.375em] after:h-[0.2916666666666667em];
            &.active {
                @apply font-extrabold text-white after:bg-white;
            }
        }
    }
    & .swiper {
        @apply absolute z-5 top-0 left-1/2 w-screen h-full -translate-x-1/2;
        & .swiper-slide {
            @apply bg-cover bg-no-repeat bg-[center_top];
        }
    }
}

.content-company1, .content-company2, .content-company3, .content-company4 {
    @apply relative mx-auto max-w-screen-xl leading-[1.556] break-keep text-[max(0.875rem,(min(1.40625vw,1.125rem)))];
    font-family: "NanumSquareNeo";
    & h2 {
        @apply font-extrabold leading-[1.2];
    }
    & strong {
        @apply font-extrabold;
    }
}

.content-company1 {
    @apply mt-[max(2.5rem,(min(4.375vw,3.5rem)))];
    & h2 {
        @apply mb-[1.45em] text-[max(1.5rem,(min(2.8125vw,2.25rem)))];
        & strong {
            @apply inline-block;
        }
    }
    & p {
        @apply mt-[1.75em];
    }
    & .color {
        @apply text-[#FF7622];
        & em {
            @apply text-[#0031C8];
        }
    }
}

.content-company2 {
    @apply mt-[max(7rem,(min(12.8125vw,10.25rem)))] text-sm lg:text-base 2xl:text-lg
           before:absolute before:top-0 before:left-1/2 before:w-screen before:h-full before:-translate-x-1/2 before:bg-gray2;
    & .content {
        @apply relative z-10 pt-13 md:absolute md:left-0 md:right-0 md:pt-29 md:px-0 md:mx-0 xl:pt-44;
        & h2 {
            @apply mb-[0.52em] text-2xl md:text-[2.125rem] lg:text-[2.625rem] 2xl:text-[3.25rem];
            & em {
                @apply font-light;
            }
        }
        & img {
            @apply mt-[1.875em] w-[60.9375%] md:w-[40.625%];
        }
    }
    & .visual {
        @apply relative z-5 -mt-[50%] -mx-4 w-[calc(100%_+_2rem)] max-w-none md:mt-0 xl:-right-10 xl:w-[1236px] 2xl:-right-42;
    }
}

.content-company3 {
    @apply mt-[max(12.25rem,(min(25.625vw,20.5rem)))] pb-[max(1.75rem,(min(7.1875vw,5.75rem)))] border-b border-b-gray3;
    & h2 {
        @apply mb-[1.1818em] w-fit text-[max(1.5rem,(min(4.375vw,3.5rem)))] bg-[linear-gradient(94deg,_#FF8D37_0%,_#CA5A99_100%)];
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
    & p {
        & strong {
            @apply text-[1.2222222222em];
        }
    }
    & dl {
        @apply mt-[max(2rem,(min(5vw,4rem)))];
        & dt {
            @apply font-extrabold text-[max(1.375rem,(min(2.8125vw,2.25rem)))] leading-none;
            & span {
                @apply align-middle text-[1.666666666666667em] opacity-20 first:pr-[0.1em] first:md:pr-[0.25em] last:pl-[0.1em] last:md:pl-[0.25em];
            }
        }
        & dd {
            @apply mt-[max(1.5rem,(min(2.5vw,2rem)))] -mx-1 xs:mx-0;
            & ul {
                @apply flex flex-wrap overflow-hidden;
                & li {
                    @apply w-[33.33333333333%] px-1 py-[max(0.875rem,(min(1.40625vw,1.125rem)))] xs:mr-[max(2rem,(min(4.0625vw,3.25rem)))] xs:px-0 xs:w-auto;
                }
                & img {
                    @apply mx-auto max-h-[max(2.25rem,(min(4.84375vw,3.875rem)))] mix-blend-luminosity opacity-40 grayscale transition-all duration-500 hover:opacity-100 hover:grayscale-0;
                }
            }
        }
    }
}

.content-company4 {
    @apply mt-[max(2.625rem,(min(8.59375vw,6.875rem)))];
    & h2 {
        @apply mb-[1.1818em] text-[max(1.875rem,(min(5.15625vw,4.125rem)))] font-serif font-bold;
    }
    & p {
        & a {
            @apply inline-block align-middle font-serif font-bold text-[1.2222222222em];
        }
    }
    & .link {
        @apply flex gap-2 md-max:flex-col;
        & p {
            @apply mr-auto;
        }
    }
}


/* 제휴 입점문의 */
.inqry-form {
    @apply relative z-10 flex-1 mx-auto tracking-tight max-w-screen-md md:px-10;
}

.inqry-option {
    @apply grid grid-cols-2 gap-2.5 py-1.5;
    & label {
        & input {
            @apply absolute opacity-0 invisible;
            &:checked {
                & + span {
                    @apply opacity-100;
                }
            }
        }
        & span {
            @apply block ml-0 py-4 px-2 w-full min-h-full border border-black2 opacity-50 rounded-md text-base font-bold leading-tight break-keep text-center md:text-lg;
        }
        & small {
            @apply block text-sm font-normal md:text-[0.9375rem];
        }
    }
}


/* 요양정보 간편조회 */
.careinfo-title {
    @apply mb-[0.6em] text-lg leading-tight font-bold md:text-[1.375rem];
}

.careinfo-search {
    & .field {
        @apply flex flex-wrap flex-col items-center py-2 border-y border-y-black2/50 md:flex-row md:gap-x-13 md:py-3;
        & dl {
            @apply flex items-center mb-2.5 w-full last:mb-0 md:mb-0 md:first:w-[43%] md:first:border-b-0 md:last:flex-1 md:last:w-auto;
            & dt {
                @apply pr-3 min-w-22 text-sm font-bold md:pr-4 md:min-w-0 md:text-lg;
            }
            & dd {
                @apply flex-1;
            }
        }
    }
    & .form-control {
        @apply w-full h-11 md:h-[3.125rem];
    }
    & .btn {
        @apply flex mt-7 mx-auto min-w-40 w-1/4;
    }
}

.careinfo-myinfo {
    @apply mt-24 md:mt-30;
    & .myinfo-wrapper {
        @apply grid gap-3 grid-cols-2 md:gap-5 md:grid-cols-4;
    }
    & [class*="myinfo-box"] {
        @apply px-5 py-4 border border-gray3 rounded-lg bg-no-repeat leading-tight md:rounded-2xl;
        & .cost {
            @apply text-base md:text-2xl;
            & strong {
                @apply text-[1.875rem] md:text-[2.625rem];
            }
        }
        & .desc {
            @apply text-tiny font-medium text-black2/50 md:text-xs;
            & + .cost {
                @apply mt-1;
            }
        }
    }
    & .myinfo-box1 {
        @apply flex flex-wrap justify-between col-span-2 relative md:col-span-4;
        &::before {
            @apply content-empty absolute top-0 left-0 right-0 bottom-0 bg-no-repeat bg-[url(../images/bg-careinfo-content2.png),url(../images/bg-careinfo-content1.png)] bg-[length:153px,130px] bg-[position:center_bottom_-81px,right_-30px_top_-81px] md:bg-[position:calc(50%_-_66px)_calc(100%+120px),right_-50px_top_-140px] md:bg-[length:244px,208px];
        }
        & > * {
            @apply relative z-5;
        }
        & .name {
            @apply w-full mb-7.5 text-xl font-bold md:text-2xl;
            & a {
                @apply inline-block py-[0.25em] px-[1em] border border-[#ccc] rounded-full text-tiny font-medium text-gray1 align-middle md:text-xs;
            }
        }
        & .numb, & .date {
            @apply flex flex-col;
            & dt {
                @apply flex-none;
            }
            & dd {
                @apply flex flex-col justify-end flex-1;
            }
        }
        & .numb {
            & dd {
                @apply mt-1.5 text-xl font-bold md:text-2xl;
            }
        }
        & .date {
            & dd {
                @apply mt-1.5 text-sm font-medium md:text-base;
            }
            & br {
                @apply md:hidden;
            }
        }
    }
    & .myinfo-box2 {
        @apply col-span-2 relative pb-5 md:pb-6 md:min-h-[170px];
        &::before {
            @apply content-empty absolute top-0 left-0 right-0 bottom-0 opacity-40 bg-no-repeat bg-[url(../images/bg-careinfo-content2.png)] bg-[length:153px] bg-[center_top_-81px] md:bg-[right_-47px_bottom_80px] md:bg-[length:244px];
        }
        & > * {
            @apply relative z-5;
        }
        & [class*="used"] {
            @apply flex items-center leading-none;
            & .desc {
                @apply w-[3.65em];
            }
            & .percent {
                @apply flex-1 flex items-center;
            }
            & .track {
                @apply flex-1 h-2 rounded-full bg-gray2 md:h-3;
            }
            & .bar {
                @apply rounded-full h-full transition-all duration-300;
            }
            & .won {
                @apply -mt-px w-[6.875em] font-medium text-right text-xs md:text-sm;
            }
        }
        & .used1 {
            @apply mt-4 md:mt-5.5;
            & .bar {
                @apply bg-[linear-gradient(272deg,_#836AFF_0%,_#FF3030_100%)];
            }
        }
        & .used2 {
            @apply mt-1.5 md:mt-2.5;
            & .bar {
                @apply bg-[#519CE9];
            }
            & .won {
                @apply opacity-40;
            }
        }
    }
    & .myinfo-box3, & .myinfo-box4 {
        @apply min-h-[150px] md:min-h-[170px];
    }
    & .myinfo-box3 {
        @apply bg-[url(../images/img-careinfo-content4.png)] bg-[left_1rem_bottom_0.875rem] bg-[length:1.75rem];
    }
    & .myinfo-box4 {
        @apply bg-[url(../images/img-careinfo-content5.png)] bg-[left_1.25rem_bottom_1rem] bg-[length:2.25rem];
    }
}

.careinfo-status {
    @apply mt-18 mb-20 md:mt-22 md:mb-25;
    & .status-title {
        @apply mt-9 mb-2.5 text-base leading-snug font-bold md:mt-11 md:mb-3 md:text-lg;
    }
    & .status-swiper {
        @apply relative;
        & .swiper-wrapper {
            @apply items-stretch;
          }
        & .swiper-slide {
            @apply flex flex-col py-2 px-2.5 w-30 h-auto rounded-2xl bg-white border border-gray3 md:pt-3 md:px-4 md:pb-2.5 md:w-38;
            & strong {
                @apply block text-base leading-[1.2] mb-1.5 md:text-lg;
            }
            & i {
                @apply mt-auto mb-2.5 block h-7.5 bg-center bg-no-repeat bg-[length:auto_100%] md:h-[2.625rem];
            }
            & dl {
                @apply flex items-center justify-between mt-0.5 pl-2 pr-4 font-bold;
                & dt {
                    @apply text-tiny font-medium text-gray1 md:text-xs;
                }
                & dd {
                    @apply text-xs md:text-sm;
                }
            }
        }
        & .swiper-item1 {
            & i {
                @apply bg-[url(../images/img-checkpoint1.png)];
            }
        }
        & .swiper-item2 {
            & i {
                @apply bg-[url(../images/img-checkpoint2.png)];
            }
        }
        & .swiper-item3 {
            & i {
                @apply bg-[url(../images/img-checkpoint3.png)];
            }
        }
        & .swiper-item4 {
            & i {
                @apply bg-[url(../images/img-checkpoint4.png)];
            }
        }
        & .swiper-item5 {
            & i {
                @apply bg-[url(../images/img-checkpoint5.png)];
            }
        }
        & .swiper-item6 {
            & i {
                @apply bg-[url(../images/img-checkpoint6.png)];
            }
        }
        & .swiper-item7 {
            & i {
                @apply bg-[url(../images/img-checkpoint7.png)];
            }
        }
        & .swiper-item8 {
            & i {
                @apply bg-[url(../images/img-checkpoint8.png)];
            }
        }
        & .swiper-item9 {
            & i {
                @apply bg-[url(../images/img-checkpoint9.png)];
            }
        }
        & .swiper-item10 {
            & i {
                @apply bg-[url(../images/img-checkpoint10.png)];
            }
        }
        & .swiper-item11 {
            & i {
                @apply bg-[url(../images/img-checkpoint11.png)];
            }
        }
        & .swiper-item12 {
            & i {
                @apply bg-[url(../images/img-checkpoint12.png)];
            }
        }
        & .swiper-item13 {
            & i {
                @apply bg-[url(../images/img-checkpoint13.png)];
            }
        }
        & .swiper-item14 {
            & i {
                @apply bg-[url(../images/img-checkpoint14.png)];
            }
        }
        & .swiper-button-prev, & .swiper-button-next {
            @apply mt-0 top-1/2 w-8 h-8 rounded-full border border-gray2 bg-white shadow-md -translate-y-1/2 opacity-100 md:w-10 md:h-10;
            &::after {
                @apply text-[0.75rem] font-bold text-black2;
            }
            &.swiper-button-disabled {
                &::after {
                    @apply opacity-40;
                }
            }
        }
        & .swiper-button-prev {
            @apply left-0 -translate-x-1/2;
        }
        & .swiper-button-next {
            @apply right-0 translate-x-1/2;
        }
    }
    & .status-table {
        @apply table-fixed w-full text-xs leading-tight text-center md:text-sm;
        & th, & td {
            @apply py-[0.8em] md:py-[1em];
        }
        & th {
            @apply bg-neutral-100 text-gray6 first:rounded-l-md last:rounded-r-md;
        }
        & td {
            @apply border-b border-b-gray3 text-[0.8125rem] md:text-[0.9375rem];
        }
        & .subject {
            @apply text-left font-bold;
        }
        & .label {
            @apply px-1.5 rounded;
        }
    }
    & .status-toggle {
        @apply flex mx-auto min-w-35 w-[22.75%] mt-6 md:mt-8.5 before:content-empty before:mt-px before:mr-1.5 before:w-2 before:h-2 before:bg-cover before:bg-[url(../images/ico-plus.svg)] before:transition-transform before:duration-200;
        &.is-active {
            @apply before:rotate-45;
        }
    }
}

.careinfo-content {
    @apply grid mt-11 md:grid-cols-3 md:gap-2.5 md:mt-14;
    & [class*="content-item"] {
        @apply flex flex-col p-3 border border-neutral-100 rounded-lg bg-neutral-100 leading-tight text-[0.8125rem] transition-colors duration-300 text-gray6 md:text-[0.9375rem] hover:md:border-[#ccc] hover:md:bg-white;
        & dl {
            @apply mb-2 w-full text-left md:pt-5 md:mb-5 md:text-center;
            & dt {
                @apply mb-0.5 font-bold text-black2 text-lg md:mb-3.5 md:text-[1.375rem];
            }
            & br {
                @apply md-max:hidden;
            }
        }
        & div {
            @apply relative mt-auto;
        }
        & img {
            @apply mx-7 md:mx-auto;
        }
        & .btn {
            @apply flex-none absolute top-1/2 right-0 -translate-y-1/2 w-45 h-9 font-medium text-[0.8125rem] md:relative md:top-auto md:translate-y-0 md:justify-center md:w-full md:h-[2.875rem];
        }
    }
    & .content-item1 {
        @apply md-max:rounded-b-none;
        & img {
            @apply w-[89px] md:mb-4 md:w-[127px];
        }
    }
    & .content-item2 {
        @apply md-max:rounded-none md-max:border-transparent md-max:bg-white;
        & img {
            @apply w-[141px] md:mb-3 md:w-[196px] md-max:mx-5;
        }
    }
    & .content-item3 {
        @apply md-max:rounded-t-none;
        & img {
            @apply w-[144px] -mb-1 md:-mb-1 md:w-[187px] md-max:mx-3;
        }
    }
}


/* 제3자 정보제공 */
.provide-form {
    @apply mx-auto max-w-[800px];
    & .form-agree {
        @apply text-lg font-bold
               md:text-xl
               lg:text-2xl;
        & .form-check-input {
            @apply !rounded-full
                   checked:border-[#3074FF] checked:bg-[#3074FF];
        }
    }
    & .form-fieldset {
        @apply relative mt-2 py-13 px-5 rounded-md bg-neutral-100
               md:py-18 md:px-8;
        & legend {
            @apply absolute top-4 left-4 text-base font-bold leading-normal
                   md:top-7 md:left-8 md:text-lg;
        }
        & dl {
            @apply flex mb-2 md:mb-2.5;
            & dt {
                @apply pt-[0.5em] pr-1 w-[5.5em];
            }
            & dd {
                @apply flex-1 flex flex-col gap-1.5;
            }
        }
        & p {
            @apply relative mt-3.5 pt-4 pl-[1.25em] border-t border-t-gray3
                   before:content-["※"] before:absolute before:top-4 before:left-0
                   md:mt-4.5 md:pt-5
                   before:md:top-4.5;

        }
    }
    & .form-submit {
        @apply flex gap-1.5 mt-8 mx-auto min-w-70 w-[48.5%] max-w-97
               md:mt-11 md:gap-2;
        & [type="submit"] {
            @apply flex-1;
        }
        & [type="button"] {
            @apply w-[38.96%];
        }
    }
}


/* 노인장기요양보험 */
.page1-induction {
    @apply w-fit mt-5 mx-auto pb-3 px-6.5 text-center bg-no-repeat bg-left-bottom bg-[length:1.6875rem]
           md:mt-8 lg:mt-11;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.211' height='27.397' viewBox='0 0 28.211 27.397'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(0.499 0.462)'%3E%3Cpath id='Path_3' data-name='Path 3' d='M5.592,0C3.5,5.206,2.935,10.788,6.933,14.658c2.388,2.311,5.708-1.176,6.012-3.012s-.621-4.538-3.8-4.406S-1.007,11.1.123,23.673' transform='translate(17.095 0) rotate(39)' fill='none' stroke='%23979797' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_6' data-name='Path 6' d='M0,8.638,1.863,0' transform='matrix(0.966, -0.259, 0.259, 0.966, 0, 10.699)' fill='none' stroke='%23979797' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_7' data-name='Path 7' d='M0,0,9.334,2.949' transform='matrix(0.966, -0.259, 0.259, 0.966, 0.978, 18.368)' fill='none' stroke='%23979797' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.page1-title {
    @apply text-center leading-tight font-bold text-2xl
           md:text-5xl
           lg:text-[2.625rem];
}

.page1-content1 {
    @apply mt-22
           md:mt-33
           lg:mt-44;
    & .content {
        @apply flex flex-col mt-7 mx-auto w-fit text-center
               md:flex-row md:items-center md:mt-10 md:text-left
               lg:mt-13;
    }
    & img {
        @apply mx-auto mb-2.5 w-20
               md:mr-13 md:mb-0 md:w-32
               lg:mr-19 lg:w-44;
    }
    & blockquote {
        @apply mx-auto w-fit leading-snug text-base font-bold
               md:text-xl
               lg:text-2xl;
    }
    & small {
        @apply block mt-2.5 text-sm font-normal
               md:text-base;
    }
}

.page1-content2 {
    @apply mt-26
           md:mt-40
           lg:mt-54;
    & .nav {
        @apply grid gap-1 grid-cols-6
               md:gap-2.5;
    }
    & .nav-item {
        @apply block py-2 px-1 text-center rounded border border-gray2 bg-gray2
               md:p-3 md:rounded-md;
        &.active {
            @apply bg-[#3074FF] text-white;
        }
    }
    & .content {
        @apply lg:flex lg:justify-between;
    }
    & .box {
        @apply flex-1 mt-13
               md:mt-17
               lg:pr-[9.25%];
        & h4 {
            @apply leading-tight font-bold text-[1.375rem]
                   md:text-3xl
                   lg:text-4xl;
        }
        & small {
            @apply block mb-3 text-sm text-[#3074FF]
                   md:text-base
                   lg:text-lg;
        }
        & span {
            @apply block mt-1.5 text-lg font-medium
                   md:mt-2.5 md:text-xl
                   lg:mt-4 lg:text-[1.375rem];
        }
        & ul {
            @apply mt-2 mb-3.5 p-3 rounded-md bg-[#3074FF]/10 text-sm font-bold leading-snug
                   md:mt-4.5 md:mb-5 md:py-3.5 md:px-4 md:rounded-lg md:text-base
                   lg:my-7 lg:max-w-[500px] lg:py-4 lg:px-5 lg:text-lg;
            & li {
                @apply mt-[0.5556em] pl-[1.11111em] bg-no-repeat bg-[left_top_0.5em] bg-[length:0.777em]
                first:mt-0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.604' height='10.144' viewBox='0 0 13.604 10.144'%3E%3Cpath id='Path' d='M0,4.761l5.444,5.382,8.16-8.1L11.558,0,5.444,5.982l-3.291-3.4Z' fill='%23407ce4'/%3E%3C/svg%3E%0A");
            }
        }
        & p {
            @apply relative pl-[1.25em]
                   before:content-["※"] before:absolute before:top-0 before:left-0;
        }
    }
    & .img {
        @apply mt-4.5 mx-auto h-63
               md:h-89
               lg:mx-0 lg:h-[28.5625rem];
    }
}

.page1-content3 {
    @apply mt-31
           md:mt-46
           lg:mt-61;
    & .content {
        @apply mb-16
               md:flex md:items-center md:gap-[4.419299743808711%] md:mb-11
               lg:gap-[5.892399658411614%]
               last:mb-0;
    }
    & .box {
        @apply flex-1 mt-5
               md:mt-0;
        & h4 {
            @apply leading-tight font-bold text-[1.375rem]
                   md:text-3xl
                   lg:text-4xl;
        }
        & small {
            @apply block mt-2.5 text-base font-normal
                   md:mt-3 md:text-lg
                   lg:mt-3.5 lg:text-xl;
        }
        & p {
            @apply mt-1.5
                   md:mt-2.5
                   lg:mt-3.5;
        }
    }
    & .img {
        @apply md:w-[46.96840307429547%];
    }
    & .is-right {
        & .img {
            @apply md:order-2;
        }
        & .box {
            @apply md:order-1;
        }
    }
}

.page1-content4 {
    @apply mt-41
           md:mt-64
           lg:mt-87;
    & .nav {
        @apply grid gap-1 grid-cols-6
               md:gap-3 mb-9 md:mb-16
               lg:gap-5.5 lg:mb-23;
    }
    & [class*="nav-item"] {
        @apply block mx-auto pt-[111.1111111111111%] max-w-[974px] overflow-hidden bg-cover -indent-96 text-[0] leading-none;
    }
    & .nav-item1 {
        @apply bg-[url(../images/btn-page1-content4.png)];
        &.active {
            @apply bg-[url(../images/btn-page1-content4-active.png)];
        }
    }
    & .nav-item2 {
        @apply bg-[url(../images/btn-page1-content4-2.png)];
        &.active {
            @apply bg-[url(../images/btn-page1-content4-2-active.png)];
        }
    }
    & .nav-item3 {
        @apply bg-[url(../images/btn-page1-content4-3.png)];
        &.active {
            @apply bg-[url(../images/btn-page1-content4-3-active.png)];
        }
    }
    & .nav-item4 {
        @apply bg-[url(../images/btn-page1-content4-4.png)];
        &.active {
            @apply bg-[url(../images/btn-page1-content4-4-active.png)];
        }
    }
    & .nav-item5 {
        @apply bg-[url(../images/btn-page1-content4-5.png)];
        &.active {
            @apply bg-[url(../images/btn-page1-content4-5-active.png)];
        }
    }
    & .nav-item6 {
        @apply bg-[url(../images/btn-page1-content4-6.png)];
        &.active {
            @apply bg-[url(../images/btn-page1-content4-6-active.png)];
        }
    }
    & .tab {
        @apply relative;
    }
    & .grade {
        @apply flex flex-col gap-6 leading-tight text-center text-lg font-bold
               md:flex-row md:items-center md:justify-center md:gap-[3.757%] md:text-[1.375rem]
               lg:text-2xl;
        & h4 {
            @apply flex items-center justify-center pl-[52.40793201133144%] aspect-[1/0.4447592067988669]
                   md:pl-0 md:aspect-auto; 
            & span {
                @apply block mx-auto px-3.5 py-2.5 w-fit rounded-md bg-[#FFECEC]
                       md:mx-0 md:px-5.5 lg:px-7.5;
            }
            & small {
                @apply block text-[0.8125rem] font-medium
                       md:text-sm;
            }
        }
        & p {
            & strong {
                @apply underline text-[#F44545];
            }
        }
    }
    & .content {
        @apply mt-4.5 border-t border-t-gray1/20
               md:flex md:items-start md:gap-[4.099060631938514%] md:mt-11 md:pt-0 md:border-t-0
               lg:gap-[5.465414175918019%] lg:mt-14;
        & .img {
            @apply flex-none absolute top-0 left-0 w-[52.40793201133144%]
                   md:static md:w-[32.1947%];
        }
        & .box {
            @apply flex-1 pt-4.5 text-lg leading-snug font-light
                   md:text-[1.375rem]
                   lg:text-2xl;
            & p {
                @apply mb-[1em];
            }
            & ul {
                @apply mt-6 text-base leading-tight space-y-[1em]
                       md:mt-6.5 md:pt-6.5 md:border-t md:border-t-gray1/20 md:text-lg
                       lg:mt-10 lg:pt-10 lg:text-xl;
                & li {
                    @apply relative pl-[1.4em] bg-no-repeat bg-[length:0.9em] bg-[left_top_0.25em] bg-[url(../images/ico-alert.svg)];
                }
            }
        }
    }
}

.page1-content5 {
    @apply mt-31 px-3 rounded-md bg-neutral-100 text-lg tracking-tight leading-tight font-light
           md:mt-46 md:text-[1.375rem]
           lg:mt-61 lg:text-2xl;
    & div {
        @apply relative pt-3 pb-10 pl-27 w-fit max-w-full h-28 mx-auto
               md:py-7 md:pl-47 md:h-auto
               lg:py-9.5 lg:pl-66 lg:h-45;
    }
    & img {
        @apply absolute -top-7.5 left-0 w-24
               md:-top-15 md:bottom-0 md:w-43
               lg:top-auto lg:w-58;
    }
    & br {
        @apply lg:hidden;
    }
    & .btn {
        @apply flex absolute bottom-0 left-1/2 w-59 -translate-x-1/2 translate-y-1/2 h-[3.125rem] border-[#3366DD] bg-[#3366DD] text-base text-white
               md:static md:mt-5 md:translate-x-0 md:translate-y-0;
    }
}


/* 복지용구 알아보기 */
.page2-slider {
    @apply relative left-1/2 w-screen -translate-x-1/2 mt-8.5
           md:mt-18
           lg:mt-[6.875rem];
    & .swiper-wrapper {
        transition-timing-function: linear;
    }
    & .swiper-slide {
        @apply w-[5.875rem]
               md:w-33
               lg:w-[10.625rem];
        & img {
            @apply w-full h-full object-cover;
        }
    }
}

.page2-title {
    @apply mt-22 text-center
           md:mt-45
           lg:mt-68;
    & h2 {
        @apply text-5xl font-bold
               md:text-[3.375rem]
               lg:text-[4.625rem];
        & .out {
            @apply text-transparent;
            -webkit-text-stroke: 1px #333;
        }
    }
    & p {
        @apply mt-7.5 text-lg font-bold
               md:mt-9 md:text-xl
               lg:mt-12 lg:text-2xl;
    }
}

.page2-content1, .page2-content2, .page2-content3, .page2-content4 {
    @apply mt-15
           md:flex md:items-center md:mt-20
           lg:mt-25;
    & .img {
        @apply order-1
               md:w-[56.41025641025641%];
    }
    & .box {
        @apply order-2 flex-1
               md:pl-[7.179487179487179%]
               lg:pl-[8.974358974358974%];
        & dl {
            @apply my-5
                   md:mt-0 md:mb-7
                   lg:mb-9;
            & dt {
                @apply text-2xl font-bold leading-tight
                       md:text-5xl
                       lg:text-7xl;
            }
            & dd {
                @apply mt-3 text-sm leading-snug
                       md:mt-5 md:text-base
                       lg:mt-7 lg:text-lg;
            }
        }
        & .btn {
            @apply w-55
                   md:w-63;
        }
    }
}

.page2-content2, .page2-content4 {
    & .img {
        @apply order-2;
    }
    & .box {
        @apply order-1
               md:pl-0 md:pr-[7.179487179487179%] lg:pr-[8.974358974358974%];
    }
}

.page2-content-detail {
    @apply relative left-1/2 -mt-11 -mb-15 pt-11 px-5 pb-17 w-screen bg-no-repeat bg-cover bg-[center_top] -translate-x-1/2
           md:-mt-15 md:-mb-20 md:pt-15 md:px-7 md:pb-27
           lg:-mt-19 lg:-mb-25 lg:pt-19 lg:px-10 lg:pb-37;
    & .title {
        @apply text-center text-4xl font-bold leading-snug
               md:text-6xl
               lg:text-7xl;
    }
    & .desc {
        @apply block mt-[1em] text-sm text-center
               md:text-base
               lg:text-lg;
    }
    & .nav {
        @apply grid grid-cols-4 gap-1 mt-6 mx-auto p-1.5 w-full max-w-98 rounded-lg bg-white/50 backdrop-blur
               md:mt-7.5 md:p-2;
        & a {
            @apply block p-2.5 rounded-md text-sm text-center font-bold
                   md:text-base;
            &.is-active {
                @apply bg-[#FF8300] text-white;
            }
        }
    }
    & .card {
        @apply flex flex-wrap gap-4 mt-44 mx-auto max-w-screen-xl
               lg:gap-5 lg:justify-center lg:mt-46;
        & [class*="card-item"] {
            @apply w-full sm:w-[calc(50%-0.5rem)] lg:w-[calc(25%-0.9375rem)];
        }
        &.is-large {
            @apply max-w-screen-lg;
            & [class*="card-item"] {
                @apply lg:w-[calc(33.333333%_-_0.8333333333333333rem)];
            }
        }
    }
    & [class*="card-item"] {
        @apply flex flex-col relative p-5 pt-7.5 bg-white rounded-3xl leading-tight
               lg:rounded-[1.25rem]
               xl:p-9 xl:pb-6;
        & img {
            @apply absolute bottom-4 left-6 h-18
                   md:bottom-7 md:h-25 md:left-9
                   xl:h-31;
        }
        & dt {
            @apply mb-4 font-bold text-2xl;
        }
        & dd {
            @apply text-[0.9375rem] text-gray6
                   md:min-h-[2.5em]
                   xl:min-h-[3.75em];
        }
        & .check {
            @apply block mt-4 mb-9.5 px-3 py-2.5 border border-[#3074FF] rounded-md text-center font-bold text-sm text-[#3074FF]
                   md:mb-25
                   xl:mb-31;
        }
        & .button {
            @apply flex items-center relative mt-auto ml-auto w-32 h-10 overflow-hidden rounded-full transition-all duration-300 bg-black2 font-bold text-sm text-white
                   before:content-empty before:absolute before:top-1/2 before:left-4.5 before:w-5.5 before:h-4 before:bg-cover before:bg-no-repeat before:bg-center before:-translate-y-1/2 before:bg-[url(../images/ico-cart-white.svg)] before:transition-all
                   after:content-empty after:absolute after:top-1/2 after:left-4.5 after:w-5.5 after:h-4 after:bg-cover after:bg-no-repeat after:bg-center after:-translate-y-1/2 after:bg-[url(../images/ico-cart.svg)] after:transition-all after:opacity-0
                   hover:w-32 hover:bg-black2 hover:before:left-4.5 hover:before:opacity-100 hover:after:left-4.5 hover:after:opacity-0
                   md:w-11 md:h-11 md:bg-[#D8D8D8] md:text-base
                   md:before:opacity-0 md:before:left-[0.5625rem] md:before:w-6.5 md:before:h-5
                   md:after:opacity-100 md:after:left-[0.5625rem] md:after:w-6.5 md:after:h-5
                   md:hover:w-39;

            & span {
                @apply block -mt-0.5 pl-12 whitespace-nowrap
                       md:pl-15;
            }
        }
    }
    & .card-item3 {
        & img {
            @apply h-13
                   md:h-18
                   xl:h-23;
        }
    }
    &.is-detail1 {
        @apply bg-[url(../images/bg-page2-detail1-m.jpg)] md:bg-[url(../images/bg-page2-detail1.jpg)];
    }
    &.is-detail2 {
        @apply bg-[url(../images/bg-page2-detail2-m.jpg)] md:bg-[url(../images/bg-page2-detail2.jpg)];
        & .title, & .desc {
            @apply md-max:text-white;
        }
    }
    &.is-detail3 {
        @apply bg-[url(../images/bg-page2-detail3-m.jpg)] md:bg-[url(../images/bg-page2-detail3.jpg)];
    }
    &.is-detail4 {
        @apply bg-[url(../images/bg-page2-detail4-m.jpg)] md:bg-[url(../images/bg-page2-detail4.jpg)];
    }
}


/* 복지용구 선택 */
.page3-content-container {
    @apply mx-auto w-fit
           md:w-auto;
}

.page3-content1, .page3-content2, .page3-content3 {
    @apply relative;
    & h3 {
        @apply text-2xl font-bold leading-tight 
               md:text-[1.875rem]
               lg:text-5xl;
    }
}

.page3-content1 {
    @apply relative mt-24 text-base
           md:mt-42 md:text-xl
           lg:mt-61 lg:text-[1.375rem];
    & small {
        @apply text-[1em];
    }
    & h3 {
        @apply mt-8 font-normal
               md:mt-10
               lg:mt-13;
    }
    & p {
        @apply mt-8 font-medium
               md:mt-9.5
               lg:mt-11;
    }
    & img {
        @apply absolute w-50 -top-12 left-43
               md:-top-32 md:right-[4.53125%] md:left-auto md:w-91
               lg:-top-47 lg:w-[32.75rem];
    }
    & .btn {
        @apply mt-5 w-55 shadow-[8px_10px_17px_#0000001A]
               md:mt-4 md:w-65
               lg:mt-3;
    }
}

.page3-content2 {
    @apply mt-27
           md:mt-46
           lg:mt-65;
    & h3 {
        @apply text-center;
        & strong {
            @apply text-[#F82C2C];
        }
    }
    & small {
        @apply block mt-2 text-base text-center
               md:text-xl
               lg:text-2xl;
    }
    & picture {
        @apply block mx-auto w-full max-w-88
               md:max-w-none;
    }
}

.page3-content3 {
    @apply mt-10 pt-3.5 pb-13
           md:flex md:text-center md:mt-15 md:pt-5 md:pb-18
           lg:mt-20 lg:pt-7 lg:pb-23
           md:after:content-empty md:after:absolute md:after:top-0 md:after:left-1/2 md:after:w-px md:after:h-full md:after:bg-gray1/20 md:after:-translate-x-1/2;
    & div {
        @apply relative
               md:w-1/2;
        & img {
            @apply absolute top-1/2 -translate-y-1/2
                   md:relative md:top-0 md:mt-12 md:mx-auto md:translate-y-0
                   lg:mt-20;
        }
        & .btn {
            @apply mt-3 w-55 justify-center
                   md:mt-0 md:w-70
                   after:ml-9.5
                   md:after:ml-14;
        }
        &:nth-child(odd) {
            & img {
                @apply w-[8.375rem]
                       md:-mb-1.5 md:w-[13.625rem]
                       md-max:left-[14.125rem] md-max:mt-2;
            }
        }
        &:nth-child(even) {
            @apply md-max:mt-15;
            & img {
                @apply w-[8.375rem]
                       md:mb-[2.875rem] md:w-[13.625rem]
                       md-max:-mt-2 md-max:left-[13.125rem];
            }
        }
    }
}


.page3-question1, .page3-question2, .page3-question3 {
    @apply flex flex-col relative mt-26 mx-auto w-fit first:mt-0
           md:flex-row md:items-center md:mx-0 md:w-auto;
    & .box {
        @apply relative z-10 text-base leading-tight
               md:text-lg
               lg:text-[1.375rem];
        & dt {
            @apply text-[1.375rem] font-bold
                   md:text-3xl
                   lg:text-5xl;
            & br {
                @apply md-max:hidden;
            }
            & small {
                @apply mb-3
                       md:mb-3.5
                       lg:mb-4.5;
            }
        }
        & dd {
            & small {
                @apply mt-3;
            }
        }
        & small {
            @apply block leading-snug text-sm
                   md:text-base;
        }
    }
    & .img {
        @apply relative z-5
               md:flex-none;
    }
}

.page3-question1 {
    & .box {
        @apply md:pl-[6.767515923566879%] md:pr-[3.38375796178344%];
        & dd {
            @apply mt-2
                   md:mt-2.5
                   lg:mt-3;
        }
    }
    & .img {
        @apply -mt-4 mx-auto w-63
               md:mt-0 md:mr-0 md:w-[44.10828025477707%] md:translate-y-0;
    }
}

.page3-question2 {
    @apply md:-mt-8;
    & .box {
        @apply md:order-2 md:-ml-[6.727707006369425%] md:pl-[5.493630573248408%] md:pr-[10.98726114649682%];
        & dd {
            @apply mt-2.5
                   md:mt-3.5
                   lg:mt-4.5;
        }
    }
    & .img {
        @apply mx-auto w-64
               md:order-1 md:-ml-[6.727707006369425%] md:w-[64.96815286624204%];
    }
}

.page3-question3 {
    @apply md:mt-0;
    & .box {
        @apply md:pl-[6.767515923566879%] md:pr-[3.38375796178344%];
        & dd {
            @apply mt-4
                   md:mt-7 lg:mt-10;
        }
    }
    & .img {
        @apply -mt-16 ml-35 w-46
               md:mt-0 md:ml-auto md:w-[38.37579617834395%];
    }
    & .btn {
        @apply mt-7.5 pl-11 pr-6.5 bg-[url(../images/ico-faq-location-white.svg)] bg-no-repeat bg-[left_0.625rem_center] bg-[length:1.25rem]
               md:mt-10 md:pr-10 md:pl-23 md:bg-[left_1.75rem_top_55%] md:bg-[length:1.875rem]
               hover:bg-[url(../images/ico-faq-location.svg)];
    }
}

.page3-checkpoint {
    & .nav {
        @apply grid grid-cols-4 gap-1.5
               sm:grid-cols-4
               md:grid-cols-5 md:gap-3
               lg:gap-x-4 lg:gap-y-3.5 lg:grid-cols-7;
        & .nav-item {
            @apply flex items-center justify-center px-[0.25em] h-10 rounded bg-gray2 text-center text-[0.8125rem] leading-tight font-medium
                   md:h-15 md:rounded-md md:text-base;
            &.active {
                @apply bg-[#FF8300] text-white;
            }
        }
    }
    & .tab {
        @apply mt-11
               md:mt-14;
        & img {
            @apply mx-auto w-full max-w-screen-md;
        }
    }
}