/* 메인 비쥬얼 */
.main-visual {
    @apply relative w-full min-h-[560px] h-[calc(100vh-3.25rem)] overflow-hidden leading-tight text-white landscape:min-h-[600px]
           md:h-[calc(100vh-4.25rem)] md:!max-h-[820px]
           lg:min-h-[750px] lg:h-[calc(100vh-5.25rem)] lg:!max-h-[960px] lg:bg-center
           xl:!max-h-[1024px];
    & .object {
        @apply absolute z-20 top-1/2 -right-full w-[670px] h-[670px] bg-cover bg-[url(/html/page/index/assets/images/visual/img-main-visual-phone.png)] scale-100 origin-[right_center] translate-x-[10%] duration-1500 transition-[opacity,top,right] opacity-0 -translate-y-1/2 ease-[cubic-bezier(0.25,0.1,0.25,1.0)]
               md:top-full md:right-15
               lg:right-25
               xl:right-41
               xs-max:top-[46.5%];
        &.is-init {
            @apply right-[17.633587786259542vw] opacity-100
                   md:right-15
                   lg:right-25
                   xl:right-41
                   md:top-[55%];
        }
        & .object-content {
            @apply relative mt-[23px] ml-[338px] w-[265px] h-[576px] overflow-hidden rounded-[36px];
            & .wrapper {
                @apply inline-block relative h-full transition-transform duration-500;
                & img {
                    @apply max-w-none h-full;
                }
                & .objects {
                    @apply absolute top-[320px] w-full h-[256px] overflow-hidden duration-[0ms] opacity-100;
                    & .objects-1, & .objects-2, & .objects-3, & .objects-4 {
                        @apply absolute w-[117px] h-[117px] bg-cover transition-[transform,opacity] duration-1500 translate-y-[100px] opacity-0;
                    }
                    & .objects-1 {
                        @apply top-0 right-[138px] delay-[3.4s] bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-3.png)];
                    }
                    & .objects-2 {
                        @apply top-0 right-[11px] delay-[3.6s] bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-4.png)];
                    }
                    & .objects-3 {
                        @apply top-[127px] right-[138px] delay-[3.8s] bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-5.png)];
                    }
                    & .objects-4 {
                        @apply top-[127px] right-[11px] delay-[4s] bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-6.png)];
                    }
                }
            }
            &.is-scene1 {
                & .wrapper {
                    @apply translate-x-0;
                }
            }
            &.is-scene2 {
                & .wrapper {
                    @apply -translate-x-[33.333333333334%];
                }
            }
            &.is-scene3 {
                & .wrapper {
                    @apply -translate-x-[66.666666666667%];
                    & .objects-1, & .objects-2, & .objects-3, & .objects-4 {
                        @apply translate-y-0 opacity-100;
                    }
                }
            }
        }
        & .object-group {
            @apply absolute top-0 left-0 w-full h-full;
            & [class*="object"] {
                @apply absolute top-0 left-0 w-full h-full bg-cover transition-[transform,opacity] duration-1000 translate-y-4 opacity-0;
                &:nth-child(2) {
                    @apply delay-200;
                }
            }
            &.is-active {
                & [class*="object"] {
                    @apply opacity-100 translate-y-0;
                }
            }
            &.is-scene1 {
                & .object1 {
                    @apply bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj1-1-m.png)]
                           md:bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj1-1.png)];
                }
                & .object2 {
                    @apply bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj1-2-m.png)]
                           md:bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj1-2.png)];
                }
            }
            &.is-scene2 {
                & .object1 {
                    @apply bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj2-1-m.png)]
                           md:bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj2-1.png)];
                }
                & .object2 {
                    @apply bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj2-2-m.png)]
                           md:bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj2-2.png)];
                }
            }
            &.is-scene3 {
                & .object1 {
                    @apply bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-1-m.png)]
                           md:bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-1.png)];
                }
                & .object2 {
                    @apply bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-2-m.png)]
                           md:bg-[url(/html/page/index/assets/images/visual/img-main-visual-obj3-2.png)];
                }
            }
        }
    }
    & .swiper {
        @apply max-w-screen-2xl h-full overflow-visible;
    }
    & .swiper-button-prev, & .swiper-button-next {
        @apply hidden top-1/2 m-0 z-25 -translate-y-1/2
               after:hidden
               hover:before:!opacity-100
               md:block md:w-20 md:h-40
               xl:w-25 xl:h-50;
        &::before {
            @apply content-empty absolute top-0 left-0 w-full h-full bg-no-repeat bg-center bg-[length:40%] opacity-50 transition-all duration-500;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='50.912' height='50.912' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='scale(-1 1) rotate(-45 5.272 74.184)' fill='%23FFF' fill-rule='evenodd'%3E%3Crect width='36' height='2' rx='1'/%3E%3Crect width='2' height='36' rx='1'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
    & .swiper-button-prev {
        @apply -left-4.5 rotate-180
               xl:left-4
               xl:hover:before:left-5;
    }
    & .swiper-button-next {
        @apply -right-4.5
               xl:right-4
               xl:hover:before:left-5;
    }
    & .swiper-pagination {
        @apply absolute z-15 left-1/2 bottom-0 px-5 w-full h-1.5 max-w-screen-xl text-center -translate-x-1/2
               md:px-7 md:text-left
               lg:px-10;
        & .swiper-pagination-bullet {
            @apply ml-0 mr-1 w-1.5 h-1.5 rounded-full bg-white/50 transition-all duration-500 align-top;
        }
        & .swiper-pagination-bullet-active {
            @apply w-9 bg-white;
        }
    }
    & .swiper-slide {
        @apply static
               before:absolute before:top-0 before:left-1/2 before:w-screen before:h-full before:bg-cover before:bg-center before:-translate-x-1/2
               lg:pb-30;
        & .content {
            @apply flex flex-col relative z-20 mx-auto pt-8 pb-15 px-5 max-w-screen-xl h-full
                   md:justify-center md:py-15 md:px-7
                   lg:px-10;
            &.is-active {
                & .ani-text {
                    @apply translate-y-0 opacity-100;
                }
                & .btn {
                    @apply opacity-100;
                }
            }
        }
        & .title {
            @apply text-3xl
                   md:text-5xl md:-mt-4
                   lg:text-7xl;
            & .ani-text {
                &:nth-child(2) {
                    @apply delay-500;
                }
            }
        }
        & .desc {
            @apply flex flex-col justify-end mt-auto pt-4 text-base font-medium
                   md:mt-11 md:text-xl md:h-[4em]
                   lg:mt-14 lg:text-2xl;
            & .ani-text {
                @apply delay-1500;
            }
        }
        & .btn {
            @apply mt-4 w-full px-4 text-center h-13 opacity-0 transition-[opacity,transform,background-color,background-image,border,padding] duration-[1000ms,400ms,500ms,500ms,500ms,500ms] delay-[1500ms,0ms,0ms,0ms,0ms,0ms]
                   md:mt-6 md:px-7.5 md:w-63 md:h-15
                   md:hover:px-5
                   md-max:justify-center
                   md-max:after:absolute md-max:after:top-1/2 md-max:after:right-7.5 md-max:after:-translate-y-1/2;
        }
        & .ani-text {
            @apply block transition-[opacity,transform] duration-1000 translate-y-4 opacity-0;
            text-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }
    }
    & .slide-item1 {
        @apply before:bg-[url(/html/page/index/assets/images/visual/bg-main-visual-1-m.jpg)]
               md:before:bg-[url(/html/page/index/assets/images/visual/bg-main-visual-1.jpg)];
        & .title {
            & strong {
                @apply max-w-[62vw]
                       xl:max-w-none;
            }
            & .ani-obj {
                @apply inline-block relative w-[30px] h-[30px] bg-no-repeat bg-[url(/html/page/index/assets/images/visual/ico-main-visual-1-obj1.png)] bg-[center_bottom] bg-[length:auto_23px]
                       before:absolute before:-top-1/2 before:left-0 before:w-0 before:h-[48px] before:bg-no-repeat before:bg-[url(/html/page/index/assets/images/visual/ico-main-visual-1-obj2.png)] before:bg-left-center before:bg-[length:auto_47px] before:transition-all before:duration-300 before:ease-out before:delay-1500
                       md:w-[40px] md:h-[40px] md:bg-[length:auto_31px]
                       md:before:h-[64px] md:before:bg-[length:auto_62px]
                       lg:w-[50px] lg:h-[50px] lg:bg-[length:auto_39px]
                       lg:before:h-[80px] lg:before:bg-[length:auto_78px];
            }
        }
        & .content {
            &.is-active {
                & .title {
                    & .ani-obj {
                        @apply before:w-[55px]
                               md:before:w-[74px]
                               lg:before:w-[92px];
                    }
                }
            }
        }
    }
    & .slide-item2 {
        @apply before:bg-[url(/html/page/index/assets/images/visual/bg-main-visual-2-m.jpg)]
               md:before:bg-[url(/html/page/index/assets/images/visual/bg-main-visual-2.jpg)];
        & .title {
            & .ani-obj {
                @apply inline-block relative top-[30px] left-[10px] w-[60px] h-[50px] bg-no-repeat bg-[url(/html/page/index/assets/images/visual/ico-main-visual-2-obj1.png)] bg-[center_bottom] bg-[length:auto_51px] opacity-0 scale-50 transition-all duration-500 delay-1500;
            }
            & strong.ani-text {
                @apply whitespace-nowrap -mt-[0.7em]
                       md:-mt-[0.3em] 
                       lg:mt-0;
            }
        }
        & .desc {
            & .ani-text {
                &:nth-child(1) {
                    & .ani-obj {
                        @apply before:delay-[3500ms];
                    }
                }
                &:nth-child(2) {
                    @apply delay-[1800ms];
                    & .ani-obj {
                        @apply before:delay-[3800ms];
                    }
                }
                &:nth-child(3) {
                    @apply delay-[2100ms];
                    & .ani-obj {
                        @apply before:delay-[4100ms];
                    }
                }
            }
            & .ani-obj {
                @apply inline-block relative top-[2px] mr-[5px] w-[20px] h-[20px] bg-no-repeat bg-[center_bottom] bg-[length:auto_19px] bg-[url(/html/page/index/assets/images/visual/ico-main-visual-2-obj2.png)]
                       before:absolute before:-top-[5px] before:left-[2px] before:w-0 before:h-[25px] before:bg-no-repeat before:bg-[url(/html/page/index/assets/images/visual/ico-main-visual-2-obj3.png)] before:bg-left-center before:bg-[length:auto_25px] before:transition-all before:duration-300 before:ease-out
                       md:top-0
            }
        }
        & .content {
            &.is-active {
                & .title {
                    & .ani-obj {
                        @apply top-[10px] opacity-100 scale-100;
                    }
                }
                & .desc {
                    & .ani-obj {
                        @apply before:w-[25px];
                    }
                }
            }
        }
    }
    & .slide-item3 {
        @apply before:bg-[url(/html/page/index/assets/images/visual/bg-main-visual-3-m.jpg)]
               md:before:bg-[url(/html/page/index/assets/images/visual/bg-main-visual-3.jpg)];
        & .title {
            & .ani-obj {
                @apply absolute top-0 w-[40px] h-0 -rotate-30 -translate-x-[17px] -translate-y-[9px] scale-[0.8]
                       md:-translate-x-6 md:-translate-y-2 md:scale-100;
                &::before, &::after {
                    @apply content-empty absolute left-0 bg-left-bottom bg-no-repeat bg-[length:100%_100%];
                }
                &::before {
                    @apply -bottom-px w-[34px] h-[21px] bg-[url(/html/page/index/assets/images/visual/ico-main-visual-3-obj1.png)] origin-bottom;
                    animation: b-fly-left 5s ease infinite;
                }
                &::after {
                    @apply top-0 w-[40px] h-[9px] bg-[url(/html/page/index/assets/images/visual/ico-main-visual-3-obj2.png)] origin-top;
                    animation: b-fly-right 6.5s ease infinite;
                }
            }
        }
    }
    & .text-scroll {
        @apply absolute z-15 bottom-2.5 left-1/2 -translate-x-1/2
               md:bottom-4;
               /* lg:bottom-32; */
    }
}

@keyframes b-fly-left {
    0% {transform: scaleY(1);}
    30% {transform: scaleY(0.2);}
    70% {transform: scaleY(0.9);}
    80% {transform: scaleY(0.7);}
    100% {transform: scaleY(1);}
}
@keyframes b-fly-right {
    0% {transform: scaleY(1);}
    60% {transform: scaleY(0.6);}
    90% {transform: scaleY(1.2);}
    100% {transform: scaleY(1);}
}

/* 메인 복지서비스 */
.main-welfare {
    @apply relative z-5 mt-5 mx-auto px-5 max-w-screen-xl
           md:mt-7 md:px-7
           lg:-mt-29 lg:px-10;
    & .container {
        @apply flex flex-wrap items-center mx-auto p-2.5 max-w-screen-lg rounded-md bg-gray2 leading-tight
               md:py-4.5 md:px-5 md:rounded-[1.25rem] md:bg-white/70 md:backdrop-blur-[10px] md:shadow-[0px_0px_20px_rgba(0,0,0,0.1)];
    }
    & .desc {
        @apply flex-none leading-tight;
        & br {
            @apply md-max:hidden;
        }
    }
    & .count {
        @apply flex-none ml-2.5 w-40 font-bold
               lg-max:hidden;
        & strong {
            @apply text-5xl;
        }
    }
    & .form {
        @apply flex gap-1 mt-2.5 w-full
               md:gap-2.5 md:flex-1 md:mt-0 md:ml-[2%] md:w-auto;
        & .form-control, & .btn {
            @apply h-[2.625rem]
                   md:h-14;
        }
        & .form-control {
            @apply flex-1;
        }
        & .btn {
            @apply border-px w-21
                   md:w-35;
        }
    }
}

.main-welfare-search {
    
    @apply relative mt-59 mb-8 px-5 mx-auto max-w-screen-xl 
        md:mt-68  lg:mt-77;

    & .container {
        @apply flex flex-wrap items-center py-2.5 px-2.5 leading-tight bg-gray2 rounded-md w-full max-w-screen-xl 
               md:py-8 md:rounded-2xl md:px-10 xl:px-30;
    }
    & .desc {
        @apply flex-none leading-tight;
        & br {
            @apply md-max:hidden;
        }
    }
    & .count {
        @apply flex-none ml-2.5 w-40 font-bold
               lg-max:hidden;
        & strong {
            @apply text-5xl;
        }
    }
    & .form {
        @apply flex gap-1 mt-2.5 w-full
               md:gap-2.5 md:flex-1 md:mt-0 md:ml-[2%] md:w-auto;
        & .form-control, & .btn {
            @apply h-[2.625rem]
                   md:h-14;
        }
        & .form-control {
            @apply flex-1;
        }
        & .btn {
            @apply border-px w-21
                   md:w-35;
        }
    }
}


/* 메인 페이지 링크 */
.main-link {
    @apply grid grid-cols-3 gap-1 mx-auto mt-5 px-5 max-w-screen-xl
           md:mt-7 md:px-7
           lg:gap-0 lg:mt-16 lg:px-10;
    & [class*="link-item"] {
        @apply relative font-medium leading-[1.14285]
               lg:before:content-empty lg:before:absolute lg:before:top-1/2 lg:before:right-0 lg:before:w-px lg:before:h-7.5 lg:before:bg-gray1 lg:before:-translate-y-1/2 lg:last:before:hidden;
        & a {
            @apply flex p-2.5 h-21 rounded-md bg-neutral-100 transition-[color] duration-200
                   before:absolute before:right-2.5 before:bottom-3 before:w-5 before:h-5.5 before:bg-[length:auto_100%] before:bg-center before:bg-no-repeat before:transition-all before:duration-200
                   lg:items-center lg:justify-center lg:h-auto lg:bg-transparent
                   lg:before:static lg:before:mr-5 lg:before:w-6 lg:before:h-7
                   hover:text-[#FF8300];
        }
        & br {
            @apply md:hidden;
        }
    }
    & .link-item1 {
        & a {
            @apply before:bg-[url(/html/page/index/assets/images/ico-main-link1.svg)]
                   hover:before:bg-[url(/html/page/index/assets/images/ico-main-link1-on.svg)];
        }
    }
    & .link-item2 {
        & a {
            @apply before:bg-[url(/html/page/index/assets/images/ico-main-link2.svg)]
                   hover:before:bg-[url(/html/page/index/assets/images/ico-main-link2-on.svg)];
        }
    }
    & .link-item3 {
        & a {
            @apply before:bg-[url(/html/page/index/assets/images/ico-main-link3.svg)]
                   hover:before:bg-[url(/html/page/index/assets/images/ico-main-link3-on.svg)];
        }
    }
    & .link-item4 {
        & a {
            @apply before:bg-[url(/html/page/index/assets/images/ico-main-link4.svg)]
                   hover:before:bg-[url(/html/page/index/assets/images/ico-main-link4-on.svg)];
        }
    }
}


/* 메인 노티스 */
.main-notice {
    @apply mt-5 px-5
           md:mt-7 md:px-7
           lg:px-10;
}


/* 메인 마켓 배너 */
.main-banner {
    @apply mx-auto px-5 max-w-screen-xl;
           /* md:mt-68 md:px-7
           lg:mt-77 lg:px-10; */
}

/* 메인 스토어 배너 */
.main-inner {
    @apply -mb-16 md:-mb-20 lg:-mb-25;
}
.main-store {
    @apply my-8 mx-auto px-5 max-w-screen-xl
        md:px-7
        lg:px-10;
    & .main-store-inner {
        @apply flex justify-between flex-col md:flex-row items-center gap-4;
        & img {
        @apply h-20 md:h-19;
        }
    }

    & .main-store-text {
        @apply text-2xl md:text-3xl leading-tight;
    }

    & .main-store-link {
        @apply flex items-center gap-2;
    }
}


/* 메인 컨텐츠 섹션 */
.main-content-wrapper {
    @apply relative mx-auto px-5 w-fit max-w-screen-xl
           md:px-7 md:w-auto
           lg:px-10;
}

.main-content1, .main-content2, .main-content3 {
    @apply relative;
    & .image {
        @apply absolute bg-no-repeat bg-cover;
        & [class*="object"] {
            @apply absolute bg-no-repeat bg-cover transition-[transform,opacity] ease-out duration-500 translate-y-5 opacity-0
                   md:translate-y-10;
        }
        & .object2 {
            @apply delay-300;
        }
        & .object3 {
            @apply delay-1000;
        }
    }
    & .box {
        @apply relative z-5 w-fit px-0 text-base leading-snug
               md:px-4 md:text-lg;
        & h2 {
            @apply mb-8 leading-tight text-4xl font-bold tracking-tighter
                   md:mb-5.5 md:text-6xl
                   lg:text-7xl;
            & small {
                @apply mb-3
                       md:mb-5.5;
            }
        }
        & p {
            & br {
                @apply md:hidden;
            }
        }
        & small {
            @apply block text-lg font-normal tracking-normal leading-tight
                   md:text-xl
                   lg:text-2xl;
        }
    }
    & .btn {
        @apply mt-8 px-9 w-58 h-[3.125rem] shadow-[8px_10px_17px_#0000001A]
               md:mt-13 md:px-10 md:w-63 md:h-15
               hover:px-7
               hover:md:px-8;
    }
    &.is-active {
        & .image {
            & [class*="object"] {
                @apply opacity-100 translate-y-0;
            }
        }
    }
}

.main-content1 {
    @apply mt-29
           md:mt-53
           lg:mt-76;
    & .image {
        @apply top-26 left-52 w-[180px] h-[303px] bg-[url(/html/page/index/assets/images/img-main-content1.jpg)]
               md:-top-26 md:-left-3 md:w-[344px] md:h-[579px]
               lg:-top-60 lg:left-0 lg:w-[507px] lg:h-[854px];
        & [class*="object"] {
            @apply top-[38.06060606060606%] w-[60px] h-[60px] drop-shadow-[-8px_-8px_30px_#0000001A]
                   md:w-[117px] md:h-[117px]
                   lg:w-[174px] lg:h-[174px];
        }
        & .object1 {
            @apply left-[26.64179104477612%] bg-[url(/html/page/index/assets/images/img-main-content1-2.png)];
        }
        & .object2 {
            @apply left-[63.76119402985075%] bg-[url(/html/page/index/assets/images/img-main-content1-3.png)];
        }
    }
    & .box {
        @apply md:ml-auto md:pr-7
               lg:pr-14;
        & p {
            @apply mt-4.5
                   md:mt-0;
        }
    }
}

.main-content2 {
    @apply mt-53
           md:mt-85
           lg:mt-[29.375rem];
    & .image {
        @apply top-full left-31 w-[260px] h-[183px] bg-[url(/html/page/index/assets/images/img-main-content2.jpg)]
               md:-top-11 md:left-[50.7%] md:mt-0 md:w-[574px] md:h-[405px]
               lg:-top-35 lg:left-[43.7%] lg:w-[887px] lg:h-[626px];
        & .object1 {
            @apply top-[52.1923937360179%] left-[5.172413793103448%] w-[90px] h-[87px] bg-[url(/html/page/index/assets/images/img-main-content2-2.png)]
                   md:w-[189px] md:h-[182px]
                   lg:w-[288px] lg:h-[276px];
        }
    }
}

.main-content3 {
    @apply mt-89
           lg:mt-[27.375rem];
    & .image {
        @apply top-46 left-52 w-[180px] h-[303px] bg-[url(/html/page/index/assets/images/img-main-content3.jpg)]
               md:-top-26 md:-left-10 md:w-[344px] md:h-[579px]
               lg:-top-60 lg:left-0 lg:w-[507px] lg:h-[854px];
        & [class*="object"] {
            @apply w-[108px] h-[25px] drop-shadow-[21px_28px_17px_#0000002B]
                   md:w-[215px] md:h-[50px]
                   lg:w-[323px] lg:h-[75px];
        }
        & .object1 {
            @apply top-[23.44117647058824%] left-[-7%] bg-[url(/html/page/index/assets/images/img-main-content3-2.png)];
        }
        & .object2 {
            @apply top-[64.11764705882353%] right-[-9.52238805970149%] bg-[url(/html/page/index/assets/images/img-main-content3-3.png)];
        }
    }
    & .box {
        @apply md:ml-auto;
    }
}

.main-content4 {
    @apply flex flex-col-reverse justify-between gap-4 mt-20 
    md:mt-40 md:flex-row;
    & .box {
        @apply relative z-5 w-fit px-0 text-base leading-snug
               md:px-4 md:text-lg;
        & h2 {
            @apply mb-8 leading-tight text-4xl font-bold tracking-tighter
                   md:mb-5.5 md:text-6xl
                   lg:text-7xl;
            & small {                                    
                @apply mb-3
                       md:mb-5.5;
            }
        }
        & p {
            & br {
                @apply md:hidden;
            }
        }
        & small {
            @apply block text-lg font-normal tracking-normal leading-tight
                   md:text-xl
                   lg:text-2xl;
        }
    }
    & .btn {
        @apply mt-8 px-9  h-[3.125rem] shadow-[8px_10px_17px_#0000001A]
               md:mt-13 md:px-10  md:h-15
               hover:px-7
               hover:md:px-8;
    }
    
}