#notice, #notice-mobile {
    @apply flex bg-white w-full min-h-13
           md:min-h-17
           lg:min-h-21;
    & .notice-banner1, & .notice-banner2 {
        @apply flex flex-wrap items-center gap-1.5 p-2.5 leading-snug text-[0.8125rem]
               lg:text-sm lg:leading-normal;
        & dl {
            @apply flex-none;
            & dt {
                @apply mb-0.5 font-bold text-[0.9375rem]
                       lg:text-base;
            }
        }
        & a {
            @apply block py-1.5 px-3 w-fit rounded-full bg-no-repeat bg-[length:auto_1rem] text-white
                   lg:py-2 lg:px-3.5 lg:bg-[length:auto_1.25rem];
        }
    }
    & .notice-banner1 {
        @apply bg-[#3366DD]/10;
        & a {
            @apply pl-7.5 bg-[#3366DD] bg-[url(../images/ico-notice-menu1.svg)] bg-[left_0.5rem_center]
                   lg:pl-9 lg:bg-[left_0.625rem_center];
        }
        & em {
            @apply text-[#3366DD];
        }
    }
    & .notice-banner2 {
        @apply bg-[#EE9869]/10;
        & a {
            @apply pl-9 bg-[#EE6969] bg-[url(../images/ico-notice-menu2.svg)] bg-[left_0.8rem_center]
                   lg:pl-[2.875rem] lg:bg-[left_1rem_center];
        }
    }
}

#notice {
    @apply fixed top-0 left-0 z-[9999] transition-transform duration-300 ease-out -translate-y-full
           lg-max:hidden;
    & .notice-banner1, & .notice-banner2 {
        @apply w-1/2;
    }
    &.is-active {
        @apply translate-y-0;
    }
    & .notice-banner1 {
        @apply justify-end pr-[5.46875%];
    }
    & .notice-banner2 {
        @apply pl-[5.46875%];
    }
}

#notice-mobile {
    @apply flex-col lg:hidden;
    & .notice-banner1, & .notice-banner2 {
        @apply flex-col items-start;
        & a {
            @apply ml-auto;
        }
    }
    & .notice-banner1 {
        @apply rounded-t-md;
    }
    & .notice-banner2 {
        @apply rounded-b-md;
    }
}

#header {
    @apply fixed z-[1020] top-0 left-1/2 -translate-x-1/2 flex items-center mx-auto px-5 w-full max-w-[1360px] h-13
           before:content-empty before:absolute before:top-0 before:left-1/2 before:w-screen before:h-full before:bg-white before:border-b before:border-b-[#ccc] before:-translate-x-1/2 before:transition-[background,border] before:duration-300
           md:px-7 md:h-17
           lg:px-10 lg:h-21;
}

#logo {
    @apply relative z-5 mr-auto;
    & a {
        @apply flex-col items-end
               after:mt-[4px] after:w-[96px] after:h-[8px] after:bg-no-repeat after:bg-[auto_100%] after:bg-right-top after:bg-[url(../images/img-header-logo.svg)]
               after:md:mt-[5px] after:md:w-[120px] after:md:h-[9px]
               after:lg:mt-[6px] after:lg:w-[148px] after:lg:h-[10px];
    }
}

#navigation {
    @apply relative z-5;
    & ul {
        @apply flex items-center gap-1.5
               lg:gap-4.5;
        & li {
            @apply last:lg-max:hidden;
            & a {
                @apply block py-2 px-4 rounded leading-snug text-[0.8125rem] lg:rounded-md
                       lg:text-sm lg:leading-normal lg:px-2 lg:py-2.5 lg-max:bg-gray2;
                &.join {
                    @apply lg-max:bg-[#3074FF] lg-max:text-white;
                }
                &.cost {
                    @apply pr-3.5 pl-10 bg-no-repeat bg-[#3074FF] bg-[url(../images/ico-notice-menu1.svg)] bg-[length:auto_1.25rem] bg-[left_0.75rem_center] text-white;
                }
            }
        }
    }
}

#container {
    @apply relative pt-13 pb-15 overflow-x-hidden
           md:pt-17 md:pb-20
           lg:pt-21 lg:pb-25;
}

#subject {
    @apply mx-auto mb-11 px-5 max-w-[1360px]
           md:mb-15 md:px-7
           lg:mb-19 lg:px-10;
    & .breadcrumb {
        @apply relative text-gray6 text-[0.8125rem] tracking-tight
               before:content-empty before:box-content before:absolute before:top-0 before:left-1/2 before:w-screen before:h-full before:border-b before:border-b-gray2 before:bg-white before:-translate-x-1/2
               lg:text-sm;
        & ul {
            @apply relative z-5 flex items-center py-3 lg:py-3.5;
            & li {
                @apply relative pr-3.5 mr-2
                       before:content-empty before:absolute before:top-1/2 before:right-0 before:-mt-px before:-translate-y-1/2 before:w-[7px] before:h-[7px] before:bg-cover before:bg-right-center before:bg-[url(../images/ico-breadcrumb-arrow.svg)]
                       lg:pr-4 lg:mr-3
                       last:pr-0 last:mr-0 last:before:hidden;
                & a {
                    @apply block overflow-hidden bg-no-repeat;
                }
                &.home {
                    & a {
                        @apply block -mt-0.5 w-[1em] h-[1em] bg-cover bg-[url(../images/ico-breadcrumb-home.svg)] -indent-13;
                    }
                }
            }
        }
    }
    & .subject {
        @apply mt-[1.375em] text-center text-4xl font-bold leading-snug
               md:text-6xl
               lg:text-7xl;
        & img {
            @apply inline-block align-middle h-7 -translate-y-[10%]
                   md:h-8.5 md:-translate-y-[15%]
                   lg:h-10;
        }
        & small {
            @apply block mt-[1em] text-sm font-normal
                   md:text-base
                   lg:text-lg;
        }
    }
}

#content {
    @apply relative mx-auto px-5 max-w-screen-xl
           md:px-7
           lg:px-10;
}

#visual {
    @apply relative min-h-[600px] h-[calc(100vh-3.25rem)] max-h-[768px] overflow-hidden bg-cover bg-[center_top]
           md:min-h-[684px] md:h-[calc(100vh-4.25rem)] md:max-h-[820px]
           lg:min-h-[740px] lg:h-[calc(100vh-5.25rem)] lg:max-h-[1024px];
    & .title {
        @apply absolute leading-tight font-bold text-2xl whitespace-nowrap
               md:text-5xl md:whitespace-normal
               lg:text-7xl;
        & small {
            @apply block mb-3.5 text-sm
                   md:mb-4.5 md:text-base
                   lg:mb-6 lg:text-lg;
        }
    }
    & .image {
        @apply absolute top-0 left-1/2 min-w-[100vw] h-full -translate-x-1/2
               sm:h-auto
               md:h-full;
        & .background {
            & img {
                @apply max-w-none min-w-full h-full
                       sm:h-auto
                       md:min-h-full;
            }
        }
    }
    & [class*="object"] {
        @apply absolute opacity-0 ease-out transition-[transform,opacity] duration-[600ms] translate-y-5
               md:duration-700 md:translate-y-10;
    }
    & .text-scroll {
        @apply absolute left-1/2 bottom-3 -translate-x-1/2;
    }
    &.is-active {
        & [class*="object"] {
            @apply !opacity-100 !translate-y-0;
        }
    }
    &.is-page1 {
        &.is-page1 {
            & .title {
                @apply bottom-[12.73885350318471%] right-[10.94147582697201%]
                       md:top-1/2 md:bottom-auto md:right-auto md:pr-5 md:left-[55.05208333333333%] md:-translate-y-[55%]
                       lg:text-[2.625rem];
                & small {
                    @apply text-gray6;
                }
                & em {
                    @apply block w-fit relative text-3xl bg-gradient-to-r to-[#0953CD] from-[#3047ff]
                           md:text-[2.375rem]
                           lg:text-7xl;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                }
                & img {
                    @apply absolute right-0 top-0 translate-x-[60%] -translate-y-[52%] w-7
                           md:w-7.5 lg:w-8.5;
                }
            }
            & .object1 {
                @apply top-[39.49044585987261%] left-[69.46564885496183%] w-[24.93638676844784%]
                       md:top-[30.67567567567568%] md:left-[16.97916666666667%] md:w-[11.30208333333333%];
            }
            & .object2 {
                @apply top-[7.165605095541401%] left-[8.396946564885496%] w-[44.95399529794212%] delay-300
                       md:top-[62.83783783783784%] md:left-[20.9375%] md:w-[16.25%];
            }
        }
    }
    &.is-page2 {
        & .title {
            @apply z-5 top-[10.06389776357827%] left-1/2 -translate-x-1/2
                   md:top-[19.45945945945946%] md:-translate-x-[23.22%];
            & img {
                @apply inline-block relative top-[0.05em] -mr-[0.05em] align-middle w-[1.416em];
            }
        }
        & .object1, & .object2 {
            @apply hidden w-[7.708333333333333%] translate-y-0 transition-[width,opacity]
                   md:block md:duration-200;
        }
        & .object1 {
            @apply top-[57.43243243243243%] left-[59.79166666666667%];
        }
        & .object2 {
            @apply top-[76.89189189189189%] left-[63.85416666666667%] delay-700;
        }
        & .object3 {
            @apply top-[55.25477707006369%] left-[77.35368956743003%] w-[25.95419847328244%] delay-300
                   md:top-[42.7027027027027%] md:left-[64.16666666666667%] md:w-[7.708333333333333%] md:delay-300;
        }
        & .object4 {
            @apply top-[76.59235668789809%] left-[66.92111959287532%] w-[21.24681933842239%] delay-700
                   md:top-[68.91891891891892%] md:left-[69.94791666666667%] md:w-[7.708333333333333%] md:delay-700;
        }
        & .object5 {
            @apply top-[71.97452229299363%] left-[16.03053435114504%] w-[23.15521628498728%] delay-1000
                   md:top-[74.32432432432432%] md:left-[24.94791666666667%] md:w-[7.604166666666667%] md:delay-1000;
        }
    }
    &.is-page3 {
        & .title {
            @apply z-5 top-[13.09904153354633%] left-1/2 text-white -translate-x-1/2
                   md:top-[24.86486486486486%] md:text-left md:-translate-x-[7.729468599033816%]
                   xl:-translate-x-[5.152979066022544%];
        }
        & .object1 {
            @apply top-[44.47133757961783%] left-[3.526717557251908%] w-[9.16030534351145%]
                   md:top-[63.32432432432432%] md:left-[27.625%] md:w-[3.854166666666667%];
        }
        & .object2 {
            @apply top-[52.22929936305732%] left-[21.85623409669211%] w-[7.473376684572613%] delay-300
                   md:top-[75.2972972972973%] md:left-[35.57291666666667%] md:w-[3.177083333333333%];
        }
        & .object3 {
            @apply top-[74.68152866242038%] left-[14.24936386768448%] w-[31.04325699745547%] delay-700
                   md:top-[53.243243243243245%] md:left-[43.125%] md:w-[9.166666666666667%];
        }
        & .object4 {
            @apply top-[67.8343949044586%] left-[62.34096692111959%] w-[32.82442748091603%] delay-1000
                   md:top-[34.45945945945946%] md:left-[19.53125%] md:w-[10.72916666666667%];
        }
    }
}

.is-index {
    & #header {
        @apply before:bg-transparent before:border-b-transparent;
    }
    & #logo {
        & a {
            @apply after:bg-[url(../images/img-header-logo-white.svg)];
        }
    }
    & #navigation {
        & ul {
            & li {
                & a {
                    @apply lg:text-white
                           lg-max:bg-white;
                    &.join {
                        @apply lg-max:bg-white
                               lg-max:text-black2;
                    }
                    &.cost {
                        @apply bg-white text-black2;
                    }
                }
            }
        }
    }
    &.is-scroll {
        & #header {
            @apply before:bg-white before:border-b-[#ccc];
        }
        & #logo {
            & a {
                @apply after:bg-[url(../images/img-header-logo.svg)];
            }
        }
        & #navigation {
            & ul {
                & li {
                    & a {
                        @apply lg:text-black2
                               lg-max:bg-gray2;
                        &.join {
                            @apply lg-max:bg-[#3074FF]
                                   lg-max:text-white;
                        }
                        &.cost {
                            @apply bg-[#3074FF] text-white;
                        }
                    }
                }
            }
        }
    }
}