@layer components {
    .tabs {
        & .tabs-link {
            @apply h-11 text-sm break-keep
                   md:h-12 md:text-base
                   lg:h-14 lg:text-lg;
        }
        &.is-small {
            & .tabs-link {
                @apply h-8.5 text-xs
                       md:h-9.5 md:text-sm
                       lg:h-11 lg:text-base;
            }
        }
    }
    
    .error {
        @apply mt-1 text-[0.8125rem]
               md:text-sm;
    }
}