/* 회원 탭 */
.member-tabs {
    @apply flex relative justify-between
           before:absolute before:left-0 before:right-0 before:bottom-px before:h-px before:bg-gray1;
    & li {
        @apply relative;
        & a, & span {
            @apply block text-base
                   after:content-empty after:block after:mt-1.5 after:h-[3px] after:rounded-full after:bg-transparent
                   md:text-lg;
            &.active {
                @apply font-bold
                       after:bg-black2;
            }
        }
    }
    &.is-equal {
        & li {
            @apply flex-1 text-center;
        }
    }
}


/* 로그인 아이디 찾기 */
.login-form, .search-form {
    @apply mx-auto pb-5
           sm:max-w-[31.75rem] sm:pb-7.5;
    &.is-noborder {
        @apply border-b-0;
    }
    & fieldset {
        @apply w-full;
        & legend {
            @apply py-2 w-full border-b border-gray1 leading-snug text-[1.375rem] font-bold
                    sm:py-2.5 sm:text-2xl;
            & + .form-group {
                @apply mt-8
                        sm:mt-10;
            }
        }
    }
    & .form-group {
        @apply block relative overflow-hidden;
        & > * {
            @apply mr-0;
        }
    }
    & .form-label {
        @apply flex items-center mb-1.5 text-[0.9375rem] font-medium
               sm:float-left sm:mb-2.5 sm:h-[3.125rem] sm:text-base;
    }
    & .form-control {
        @apply mb-2.5 w-full h-[3.125rem] text-[0.9375rem]
               sm:float-left sm:text-base;
    }
    & .form-check {
        @apply mt-3.5
               sm:mt-1.5 sm:ml-29;
    }
    & .error {
        @apply relative pl-0
               sm:-top-2 sm:clear-both;
    }
}

.login-form {
    & .form-group {
        @apply mt-4
               sm:mt-7.5 sm:pr-39 sm:pl-4;
    }
    & .form-label {
        @apply sm:w-25;
    }
    & .form-control {
        @apply sm:w-[calc(100%_-_6.25rem)];
    }
    & .form-link {
        @apply flex items-center mt-4 pt-3 border-t border-gray1
               sm:mt-6 sm:pt-5 sm:ml-29;
        & .link {
            @apply flex-none ml-6 pr-[0.5625rem] text-sm font-medium
                   sm:ml-9 sm:text-[0.9375rem]
                   first:ml-0;
        }
        & .btn {
            @apply ml-auto w-[7.5em] h-9
                   md:w-[9em] md:h-[2.625rem];
        }
    }
    & .form-submit {
        @apply static top-0 right-0 bottom-2.5 mt-1.5 w-full h-15 text-base font-bold
               sm:absolute sm:mt-0 sm:w-36 sm:h-[6.875rem];
    }
    & .error {
        @apply sm:pl-25;
    }
}

.search-form {
    & .form-label {
        @apply sm:mr-4 sm:w-33;
    }
    & .form-control {
        @apply sm:w-[calc(100%_-_9.25rem)];
    }
    & .form-group {
        @apply sm:mt-1.5 sm:pr-7.5
               first:mt-8 first:sm:mt-10;
    }
    & .form-auth {
        @apply flex items-center mt-6 mb-5
               sm:mt-11 sm:mb-6 sm:px-7.5;
        & img {
            @apply flex-none w-18 mr-4
                   sm:mr-5.5 sm:w-20;
        }
        & dl {
            @apply flex-1 leading-tight;
            & dt {
                @apply text-base font-bold
                       sm:text-lg;
            }
            & dd {
                @apply mt-2 text-[0.9375rem]
                       sm:text-base;
            }
        }
    }
    & .form-desc {
        @apply -mt-0.5 text-[0.8125rem] pb-2.5 leading-tight
               sm:text-sm sm:pl-[8.125rem] sm:pr-7.5;
    }
    & .form-button {
        @apply flex flex-wrap gap-2 mt-1.5
               sm:mt-8.5 sm:gap-2.5 sm:pl-37 sm:pr-7.5;
        & .btn {
            @apply relative w-full h-15 text-base font-bold
                   sm:w-35 sm:h-[4.375rem] sm:text-lg;
        }
        & .btn-primary {
            @apply sm:flex-1;
        }
        &.complate {
            @apply sm:px-0;
            & .btn {
                @apply sm:flex-1;
            }
        }
    }
    & .form-result {
        @apply mt-14 mb-16 text-center text-[0.9375rem]
               sm:mt-16 sm:mb-18 sm:text-base;
        & strong {
            @apply font-serif text-3xl break-all
                   sm:text-[1.875rem];
        }
    }
    & .error {
        @apply w-full sm:pl-37;
    }
    & + .member-social {
        @apply mt-7.5 pt-5 border-t border-t-gray1
               sm:mt-10 sm:pt-6.5;
    }
    & ~ .member-social {
        @apply sm:pr-7.5;
        & dt {
            @apply text-[0.9375rem]
                   sm:mr-4 sm:w-33 sm:text-base;
        }
    }
}

.member-social {
    @apply flex flex-col mt-11 mx-auto
           sm:flex-row sm:mt-14 sm:max-w-[31.75rem];
    & dt {
        @apply mb-2.5 text-lg font-bold
               sm:mt-3 sm:mb-0 sm:mr-5 sm:text-xl;
    }
    & dd {
        @apply flex-1;
        & .btn {
            @apply mt-2.5
                   sm:mt-3
                   first:mt-0;
        }
    }
}

.member-desc {
    @apply relative pt-6 pb-7.5 rounded-b-[1.25rem] bg-[url(../images/bg-login-banner.jpg)] bg-center bg-cover text-white
           sm:mx-auto sm:pt-7.5 sm:pb-9 sm:max-w-[35.5rem];
    & dl {
        @apply relative w-fit pt-5 mx-auto pl-[6.875rem]
               xs:ml-[12.56%] xs:mr-0
               sm:pt-7 sm:pl-[9.375rem];
        &::before {
            @apply content-empty absolute top-0 left-0 w-[5.875rem] h-[12.625rem] bg-cover bg-[url(../images/bg-card.png)]
                   sm:w-[7.375rem] sm:h-63;
        }
        & dt {
            & img {
                @apply h-4
                       sm:h-5;
            }
        }
        & dd {
            @apply mt-3 text-[1.375rem] leading-snug
                   sm:mt-4 sm:text-2xl;
            & a {
                @apply justify-start mt-2 px-5 w-34 h-9.5 bg-[url(../images/ico-angle.svg)] bg-no-repeat bg-[right_1rem_center] bg-[length:0.3125rem] text-left
                       sm:px-6 sm:w-39 sm:h-11 sm:bg-[length:0.375rem] sm:bg-[right_1.125rem_center];
            }
        }
    }
}


/* 회원 가입 */
.member-type {
    @apply mt-10 pt-9 mx-auto max-w-88 border-t border-t-gray1
           first:border-t-0
           last:mb-10
           sm:mt-12 sm:pt-11
           sm:last:mb-12;
    & dt {
        @apply mb-3 leading-none text-lg font-bold
               sm:mb-4 sm:text-xl;
    }
    & dd {
        @apply space-y-2.5
               sm:space-y-3;
    }
}

.member-join {
    @apply relative mx-auto max-w-[36.5rem]
           before:content-empty before:hidden before:absolute before:-z-5 before:bottom-0 before:h-[306px] before:bg-right-bottom before:bg-[length:auto_100%]
           xs:flex
           xs:before:block;
    & > * {
        @apply xs:-mr-5
               last:mr-0;
    }
}

.member-join-step1, .member-join-step2, .member-join-step3 {
    @apply hidden absolute -z-5 bottom-0
           xs:block;
    & img {
        @apply max-w-none scale-75
               lg:scale-100;
    }
}

.member-join-step1 {
    @apply right-full mr-6.5
           lg:mr-13;
    & img {
        @apply origin-bottom-right;
    }
}

.member-join-step2, .member-join-step3 {
    @apply left-full -ml-6
           lg:-ml-12;
    & img {
        @apply origin-bottom-left;
    }
}

.member-join-sidebar {
    @apply relative z-5 w-16 pr-5 rounded-l-[1.25rem] bg-black2
           xs:block
           sm:w-17;
    & .text {
        @apply relative h-full bg-no-repeat bg-[center_top_3.125rem] select-none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath id='Shape' d='M8.749,19.607c-1.784-1.254-1.4-1.135-3.612-1.128H5.132a2.112,2.112,0,0,1-2.019-1.414c-.676-2.025-.444-1.711-2.232-2.952A2.015,2.015,0,0,1,0,12.46a1.964,1.964,0,0,1,.106-.635C.8,9.81.8,10.2.106,8.175A1.968,1.968,0,0,1,0,7.54,2.011,2.011,0,0,1,.881,5.888c1.787-1.24,1.554-.927,2.231-2.954A2.114,2.114,0,0,1,5.131,1.52h.005c2.207.007,1.815.135,3.612-1.128a2.192,2.192,0,0,1,2.5,0c1.784,1.255,1.4,1.136,3.612,1.129h.005a2.115,2.115,0,0,1,2.021,1.414c.676,2.021.438,1.709,2.232,2.953A2.01,2.01,0,0,1,20,7.538a1.949,1.949,0,0,1-.105.636c-.689,2.014-.693,1.627,0,3.65a1.948,1.948,0,0,1,.105.635,2.017,2.017,0,0,1-.878,1.652c-1.795,1.243-1.556.931-2.232,2.953a2.117,2.117,0,0,1-2.021,1.414h-.005c-2.213-.007-1.828-.125-3.612,1.128a2.19,2.19,0,0,1-2.5,0Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        & span {
            @apply absolute top-[min(50%,_29rem)] left-1/2 -rotate-90 -translate-x-1/2 -translate-y-1/2 font-serif font-bold text-2xl whitespace-nowrap text-white/50
                   sm:text-[1.625rem];
        }
    }
    &.is-step2 {
        @apply bg-gray1;
    }
}

.member-join-content {
    @apply relative z-10 flex-1 px-5 border-black2 rounded-[1.25rem] bg-white tracking-tight
           sm:px-10 xs:py-10 xs:border
           xs-max:px-0;
    & .form-check-group {
        & .form-check {
            & .form-check-label {
                @apply px-1.5 xs:px-2;
            }
        }
    }
    & .content-accordion {
        @apply border-t-[3px] border-t-black2;
        & .accordion-item {
            @apply border-b border-b-gray3;
        }
        & .accordion-header {
            @apply relative py-4 pr-4 font-bold select-none whitespace-nowrap;
            & .form-check {
                @apply relative z-10;
            }
        }
        & .accordion-button {
            @apply absolute top-0 left-0 right-0 bottom-0 overflow-hidden bg-no-repeat bg-[right_0.25rem_center] bg-[url(../images/ico-plus.svg)] bg-[length:0.875rem] shadow-none -indent-[999em]
                   aria-expanded:bg-[url(../images/ico-minus.svg)];
        }
        & .accordion-body {
            @apply scrollbars mb-1.5 max-h-52 rounded-md bg-neutral-100 text-[0.8125rem] leading-snug;
            & .terms-table {
                & th, & td {
                    @apply p-1.5;
                }
            }
            & .terms-list {
                @apply space-y-0.5;
            }
        }
    }
    & .content-auth {
        @apply flex-1;
        & dt {
            @apply text-[1.375rem] font-bold leading-tight
                   md:text-2xl;
        }
        & dd {
            @apply mt-1.5;
        }
    }
    & .content-auth-phone {
        @apply flex items-center;
        & img {
            @apply flex-none w-18 mr-5
                   sm:mr-7 sm:w-20;
        }
        & dl {
            @apply flex-1 leading-tight;
            & dt {
                @apply text-base font-bold
                       md:text-lg;
            }
            & dd {
                @apply mt-2;
            }
        }
    }
    & .content-recipient {
        @apply pt-11 px-5 pb-6 overflow-hidden border border-gray1 rounded-[1.25rem] bg-no-repeat bg-[right_1.25rem_top_1.125rem] bg-[#777]/10 backdrop-blur-md
               sm:pt-13 sm:pb-7 sm:px-6;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='131.903' height='10' viewBox='0 0 131.903 10'%3E%3Cpath id='Shape' d='M104.684,9.575a3.23,3.23,0,0,1-1.444-1.163,3.029,3.029,0,0,1-.484-1.7h2.353a1.5,1.5,0,0,0,.4,1.153,1.912,1.912,0,0,0,1.314.371,1.513,1.513,0,0,0,.919-.25.828.828,0,0,0,.338-.706.964.964,0,0,0-.365-.8,4.535,4.535,0,0,0-1.28-.595,12.343,12.343,0,0,1-1.5-.595,2.836,2.836,0,0,1-1.892-2.553,2.291,2.291,0,0,1,.472-1.427,3.046,3.046,0,0,1,1.334-.962A5.185,5.185,0,0,1,106.794,0a4.54,4.54,0,0,1,1.881.374,2.976,2.976,0,0,1,1.294,1.067,2.787,2.787,0,0,1,.461,1.58h-2.339a1.176,1.176,0,0,0-.365-.923,1.423,1.423,0,0,0-.986-.328,1.605,1.605,0,0,0-.993.277.852.852,0,0,0-.364.706.858.858,0,0,0,.4.679,5.069,5.069,0,0,0,1.41.628,8.633,8.633,0,0,1,1.658.7,2.786,2.786,0,0,1,1.578,2.507,2.378,2.378,0,0,1-.962,2.006,4.286,4.286,0,0,1-2.641.728A5.232,5.232,0,0,1,104.684,9.575Zm-78.773-.5a3.291,3.291,0,0,1-1.042-2.526V.134h2.36V6.6q.039,1.6,1.483,1.6a1.437,1.437,0,0,0,1.1-.4,1.876,1.876,0,0,0,.374-1.3V.134h2.346V6.5a3.658,3.658,0,0,1-.462,1.875,2.986,2.986,0,0,1-1.323,1.207A4.665,4.665,0,0,1,28.712,10,4.03,4.03,0,0,1,25.911,9.077Zm-8.289.351a3.9,3.9,0,0,1-1.5-1.634,5.6,5.6,0,0,1-.565-2.44V4.806a5.79,5.79,0,0,1,.525-2.524,3.916,3.916,0,0,1,1.5-1.688A4.451,4.451,0,0,1,22.02.589a3.976,3.976,0,0,1,1.508,1.674,5.631,5.631,0,0,1,.544,2.49V5.2a5.768,5.768,0,0,1-.527,2.52,3.924,3.924,0,0,1-1.5,1.688A4.2,4.2,0,0,1,19.828,10,4.262,4.262,0,0,1,17.622,9.428Zm.328-4.943-.006.715a4.223,4.223,0,0,0,.474,2.2,1.65,1.65,0,0,0,2.781.013,4.126,4.126,0,0,0,.488-2.173V4.793a4.115,4.115,0,0,0-.485-2.2,1.561,1.561,0,0,0-1.387-.752C18.644,1.838,18.015,2.729,17.95,4.486ZM96.859,9.868H94.514V.134h3.83A4.291,4.291,0,0,1,101.051.9a2.618,2.618,0,0,1,.976,2.173,3.185,3.185,0,0,1-.411,1.685,2.929,2.929,0,0,1-1.286,1.083l2.032,3.924v.1l-2.514,0L98.13,6.431H96.86V9.867h0Zm0-5.248h1.484a1.343,1.343,0,0,0,1.006-.351,1.361,1.361,0,0,0,.337-.979,1.376,1.376,0,0,0-.341-.986,1.325,1.325,0,0,0-1-.357H96.86ZM9.626,9.868H7.28V.134h3.83A4.291,4.291,0,0,1,13.818.9a2.618,2.618,0,0,1,.976,2.173,3.185,3.185,0,0,1-.411,1.685A2.929,2.929,0,0,1,13.1,5.843l2.032,3.924v.1l-2.514,0L10.9,6.431H9.626V9.867h0Zm0-5.248h1.484a1.343,1.343,0,0,0,1.006-.351,1.361,1.361,0,0,0,.338-.979,1.376,1.376,0,0,0-.341-.986,1.325,1.325,0,0,0-1-.357H9.626ZM124.242,9.867V.134h3.884a4.53,4.53,0,0,1,1.975.41,3.1,3.1,0,0,1,1.33,1.17,3.2,3.2,0,0,1,.472,1.722,2.818,2.818,0,0,1-1.02,2.276,4.231,4.231,0,0,1-2.8.852h-1.5v3.3Zm-3.59,0V.134h2.339V9.867Zm-3.6,0V5.8H113.6V9.867h-2.346V.134H113.6V4h3.456V.134h2.333V9.867Zm-29.822,0V.134h6.718V1.945H89.58V4h3.69V5.742H89.58V8.061h4.358V9.867Zm-8.45,0V.134h3.5a4.973,4.973,0,0,1,2.858.689,2.3,2.3,0,0,1,.979,2,2.323,2.323,0,0,1-.348,1.29,2.039,2.039,0,0,1-1.022.789,2.051,2.051,0,0,1,1.17.748,2.185,2.185,0,0,1,.408,1.337,2.591,2.591,0,0,1-.905,2.149,4.337,4.337,0,0,1-2.685.732Zm2.346-1.8h1.537a1.474,1.474,0,0,0,.977-.291,1.025,1.025,0,0,0,.34-.819,1.082,1.082,0,0,0-1.21-1.223H81.13Zm0-3.871h1.223a1.749,1.749,0,0,0,1.1-.281,1,1,0,0,0,.328-.808,1.043,1.043,0,0,0-.355-.886,1.9,1.9,0,0,0-1.143-.271H81.13ZM75.32,9.867V7.593l.228-4.652L73.194,9.867H71.644l-2.36-6.932.228,4.658V9.867H67.165V.134h3.082L72.419,6.9,74.585.134h3.088V9.867Zm-15.435,0V.134H66.6V1.945H62.231V4h3.69V5.742h-3.69V8.061h4.358V9.867Zm-3.463,0V7.593l.227-4.652L54.3,9.867H52.745l-2.36-6.932.227,4.658V9.867H48.266V.134h3.082L53.52,6.9,55.687.134h3.088V9.867Zm-14.647,0V7.593L42,2.941,39.649,9.867H38.1l-2.36-6.932.228,4.658V9.867H33.619V.134H36.7L38.874,6.9,41.039.134h3.088V9.867ZM0,9.867V.134H6.718V1.945H2.346V4h3.69V5.742H2.346V8.061H6.7V9.867Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        & dl {
            @apply px-3 py-2.5 rounded-md bg-white/60 leading-tight;
            & dt {
                @apply text-[0.8125rem];
            }
            & dd {
                @apply font-bold font-serif text-center align-middle;
                & strong {
                    @apply align-middle;
                }
                & small {
                    @apply block -mt-0.5 text-sm
                           md:text-base;
                }
            }
        }
        & .title {
            @apply after:content-empty after:block after:mt-1.5 after:h-[3px] after:rounded-md after:bg-white/30;
            & .name {
                @apply text-3xl leading-tight font-thin;
            }
            & .desc {
                @apply mt-0.5 text-[2.875rem] leading-[1.1] font-bold tracking-tighter;
            }
        }
        & .group1 {
            @apply grid gap-2.5 grid-cols-[auto_6rem] mt-4.5
                   xs:grid-cols-[auto_7.25rem];
        }
        & .group2 {
            @apply grid gap-2.5 grid-cols-[34%_auto] mt-2.5;
        }
        & .number {
            @apply text-white tracking-tight break-all bg-[linear-gradient(138deg,_rgba(249,85,54,0.8)_0%,_rgba(255,132,25,0.8)_100%)];
            & dd {
                @apply mt-2 text-left text-2xl tracking-tighter font-medium
                       sm:text-3xl;
            }
        }
        & .grade {
            @apply flex px-1 pb-0 justify-center bg-transparent;
            & dt {
                @apply mt-2 mr-2 font-bold
                       xs:mr-3;
            }
            & dd {
                & img {
                    @apply w-13
                           xs:w-14;
                }
            }
        }
        & .percent {
            @apply flex flex-col row-span-2 pb-0;
            & dd {
                @apply mt-auto -mx-3;
                & strong {
                    @apply inline-block text-[2.875rem] italic tracking-tighter
                           sm:text-[3.375rem];
                }
            }
        }
        & .date {
            & dd {
                @apply mt-1 text-[0.9375rem];
                & p {
                    @apply mx-auto w-4/5 max-w-full
                           sm:w-2/3
                           xs-max:w-auto
                           first:text-left
                           last:text-right;
                }
            }
        }
        & .price1 {
            @apply mt-2.5 pb-6;
            & dd {
                @apply mt-1.5;
                & strong {
                    @apply italic text-5xl tracking-tighter
                           sm:text-[2.625rem];
                }
            }
        }
        & .price2 {
            @apply mt-2.5 pb-3;
            & dd {
                @apply -mt-1 text-right text-base;
                & strong {
                    @apply text-2xl align-middle
                           sm:text-3xl;
                }
            }
        }
    }
    & .content-select {
        @apply grid grid-cols-2 gap-2.5;
        & .form-check {
            & .form-check-input {
                @apply absolute opacity-0 invisible;
                &:checked {
                    & + .form-check-label {
                        @apply opacity-100;
                    }
                }
            }
            & .form-check-label {
                @apply ml-0 py-4 px-2 w-full min-h-full border border-black2 opacity-50 rounded-md text-base font-bold leading-tight break-keep text-center
                       md:text-lg;
                & small {
                    @apply block text-sm font-normal
                           md:text-[0.9375rem];
                }
            }
        }
    }
    & .content-interest {
        @apply grid gap-1.5 grid-cols-2;
        & .form-check {
            @apply relative block;
            & .form-check-input {
                @apply absolute opacity-0 w-0 h-0 overflow-hidden;
                &:checked {
                    & + .form-check-label {
                        @apply bg-black2 text-white
                               before:opacity-100 before:transition-all before:duration-200;
                    }
                }
            }
            & .form-check-label {
                @apply flex items-center justify-center m-0 h-[2.625rem] border border-black2 rounded-md text-center transition-colors duration-200
                       before:content-empty before:absolute before:top-1/2 before:left-[1em] before:w-[1.25em] before:h-[1.25em] before:bg-cover before:bg-[url(../images/ico-check.svg)] before:-translate-y-1/2 before:opacity-0
                       md:h-12;
            }
        }
    }
    & .content-button {
        @apply flex justify-center space-x-2
               sm:space-x-2.5;
    }
    & .content-complate {
        & dl {
            @apply pt-5.5 pb-10 -mx-5 px-4 text-center bg-no-repeat bg-[position:center_bottom,left_top] bg-[length:auto_28px,auto]
                   sm:-mx-10 sm:px-7 sm:pt-6.5 sm:pb-12
                   md:bg-[length:auto_30px,auto];
            background-image: url(../images/txt-eroum-white.svg), linear-gradient(105deg, rgba(44, 57, 180, 0.1) 0%, rgba(220, 35, 170, 0.1) 46%, rgba(255, 0, 0, 0.1) 100%);
            & dt {
                @apply text-base
                       md:text-lg;
            }
            & dd {
                @apply mt-4.5 text-2xl leading-tight font-bold
                       md:text-[1.875rem];
                & small {
                    @apply text-sm font-normal
                           md:text-base;
                }
            }
        }
        & p {
            @apply mt-5.5 text-sm leading-tight
                   md:text-[0.9375rem];
        }
    }
    & .content-benefit {
        @apply relative mt-8 -mx-5 pr-5 pl-48 py-8 rounded-b-[1.25rem] leading-tight text-sm
               xs:-mb-10
               before:content-empty before:absolute before:top-1/2 before:left-5 before:mr-4 before:w-39 before:bg-cover before:bg-[url(../images/img-join-benefit.png)] before:aspect-[1/0.414168] before:-translate-y-1/2
               sm:-mx-10 sm:pl-60 sm:pr-10
               sm:before:left-10
               md:text-[0.9375rem]
               md:before:mr-5 md:before:w-45;
        background: linear-gradient(106deg, rgba(255, 210, 210, 0.2) 0%, rgba(241, 200, 145, 0.2) 54%, rgba(145, 241, 202, 0.2) 100%);
        & strong {
            @apply block w-fit pr-4 bg-no-repeat bg-[right_top_0.4em] bg-[url(../images/ico-angle.svg)] bg-[length:0.35em] text-lg
                   md:text-xl;
        }
    }
    & ~ .member-join-sidebar {
        @apply pl-5 pr-0 rounded-l-none rounded-r-[1.25rem];
        & .text {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath id='Shape_Copy' data-name='Shape Copy' d='M19.894,8.175A1.94,1.94,0,0,0,20,7.538a2.01,2.01,0,0,0-.879-1.651c-1.794-1.243-1.557-.931-2.232-2.952a2.115,2.115,0,0,0-2.02-1.414h-.006c-2.211.007-1.828.126-3.612-1.128a2.191,2.191,0,0,0-2.5,0c-1.8,1.262-1.4,1.135-3.612,1.127H5.131A2.113,2.113,0,0,0,3.112,2.934C2.436,4.961,2.668,4.648.881,5.887A2.012,2.012,0,0,0,0,7.54a1.979,1.979,0,0,0,.106.635C.8,10.2.8,9.81.106,11.825A1.975,1.975,0,0,0,0,12.46a2.013,2.013,0,0,0,.881,1.653c1.788,1.242,1.557.927,2.232,2.953a2.111,2.111,0,0,0,2.018,1.414h.006c2.211-.007,1.828-.127,3.612,1.128a2.189,2.189,0,0,0,2.5,0c1.784-1.253,1.4-1.135,3.612-1.128h.006a2.117,2.117,0,0,0,2.02-1.414c.676-2.023.438-1.71,2.233-2.953A2.017,2.017,0,0,0,20,12.461a1.939,1.939,0,0,0-.106-.636C19.2,9.8,19.2,10.189,19.894,8.175Z' fill='%23fff' opacity='0.2'/%3E%3C/svg%3E%0A");
        }
        & + .member-join-sidebar {
            @apply z-[4];
        }
    }
}

.member-join-introduce {
    @apply mx-auto max-w-95 aspect-square
           sm:max-w-[31.5rem]
           md:max-w-[42.5rem]
           lg:max-w-[52.4375rem];
    & .title {
        @apply flex items-start
               before:content-empty before:block before:flex-none before:-mt-[30%] before:w-2/5 before:bg-cover before:bg-[url(../images/bg-card.png)] before:aspect-[1/2.0723]
               sm:before:w-60
               md:before:w-80
               lg:before:w-100;
        & img {
            @apply ml-[7%] w-[53%]
                   sm:ml-8 sm:pt-5 sm:w-56
                   md:ml-9 md:pt-9 md:w-[20.15rem]
                   lg:pt-20 lg:w-[25.1875rem];
        }
    }
    & .join1, & .join2 {
        @apply mt-7
               sm:mt-8 sm:ml-70 sm:max-w-81
               md:mt-9 md:ml-91
               lg:ml-[27.5rem];
        & dt {
            @apply mb-1.5 font-bold;
        }
        & dd {
            @apply space-y-2.5
                   md:space-y-3;
            & .btn {
                @apply flex px-4
                       md:px-5;
            }
        }
    }
    & .join1 {
        @apply sm:-mt-[21.625rem]
               md:-mt-[27.25rem]
               lg:-mt-[31.25rem];
    }
    & .join2 {
        & dd {
            & .btn {
                @apply pl-19 border-[#ccc] bg-no-repeat bg-[left_0.875rem_center] bg-[length:2.75rem]
                       md:pl-25 md:bg-[left_1.125rem_center] md:bg-[length:3.875rem];
            }
            & .btn-kakao {
                @apply bg-[url(../images/img-join-simple1.png)];
            }
            & .btn-naver {
                @apply bg-[url(../images/img-join-simple2.png)];
            }
        }
    }
    @screen sm-max {
        & .title {
            &::before {
                transform: perspective(100vw) rotateY(-10deg);
            }
        }
    }
}


/* 휴면계정/탈퇴 */
.member-release-title {
    @apply pt-38 px-4 pb-12 rounded-[1rem] bg-white bg-no-repeat bg-[url(/html/core/images/img-market-bag.png),linear-gradient(110deg,rgba(21,132,185,0.08)0%,rgba(119,13,172,0.08)29%,rgba(184,13,13,0.08)54%,rgba(229,162,10,0.08)77%,rgba(67,168,0,0.08)100%)] bg-[length:126px,auto] bg-[position:center_top_0.75rem,left_top] text-center
           md:pt-49 md:pb-14 md:bg-[length:158px,auto];
    & img {
        @apply mx-auto w-77
               md:w-[27.75rem];
    }
    & p {
        @apply mt-7
               md:mt-10;
    }
    & br {
        @apply leading-snug;
    }
    &.is-glass {
        @apply bg-[url(../images/img-hourglass.png),linear-gradient(110deg,rgba(21,132,185,0.08)0%,rgba(119,13,172,0.08)29%,rgba(184,13,13,0.08)54%,rgba(229,162,10,0.08)77%,rgba(67,168,0,0.08)100%)];
    }
}

.member-release-info {
    @apply px-5.5 py-6.5 rounded-[1rem] bg-gray2
           md:px-7.5 md:py-8.5;
}

.member-release-data {
    @apply flex flex-wrap gap-2.5 p-3 border border-gray1 rounded-[1rem] leading-tight
           md:gap-3 md:p-4;
    & dl {
        @apply py-2.5 px-3 w-full rounded-md bg-gray2
               md:flex-1 md:px-4 md:py-3;
        & dt {
            @apply text-[0.8125rem] font-medium
                   md:text-sm;   
        }
        & dd {
            @apply mt-1.5 text-right text-[1.375rem] font-bold
                   md:mt-4.5 md:text-2xl;
            & small {
                @apply text-base
                       md:text-lg;
            }
            & img {
                @apply inline-block relative -top-px ml-0.5 w-[1em];
            }
        }
    }
}

.member-release-check {
    @apply grid grid-cols-2 gap-y-4.5 p-4.5 border border-gray1 rounded-[1rem]
           sm:grid-cols-3
           md:grid-cols-4 md:gap-y-5.5 md:p-5.5;
}

.member-release-reason {
    @apply flex items-center justify-center -mx-5 px-5 py-12;
    background: linear-gradient(99deg, rgba(21,132,185,0.08) 0%, rgba(119,13,172,0.08) 29%, rgba(184,13,13,0.08) 54%, rgba(229,162,10,0.08) 77%, rgba(67,168,0,0.08) 100%);
    & .form-label {
        @apply flex-none mr-2.5 font-bold
               md:mr-4;
    }
    & .form-control {
        @apply w-57
               md:w-74;
    }
}


/* 회원정보수정 */
.member-modify {
    @apply relative overflow-hidden rounded-[1.25rem] bg-black2 
            /* pr-[6.666666666666667%] pl-[25.1063829787234%] */
           /* before:absolute before:top-7 before:left-4.5 before:w-15 before:h-[31.75rem] before:bg-[url(../images/txt-membership.svg)] before:bg-cover
           after:absolute after:hidden after:top-0 after:bottom-0 after:right-0 after:w-1/2 after:bg-gray1
           after:md:block
           lg:before:top-8.5 lg:before:left-5.5 lg:before:w-[75px] lg:before:h-[635px] */
           /* md-max:before:top-9 md-max:before:right-6.5 md-max:before:w-[16.125rem] md-max:before:h-7.5 md-max:before:bg-[url(../images/txt-membership-mo.svg)] */
           /* md-max:-mr-5 md-max:pt-16 md-max:pr-5 md-max:pl-0 */
           ;
    & .member-join-content {
        @apply relative z-10 py-7.5 px-5 border
               md:px-8.5 md:pb-11;
    }
    &.is-left {
        @apply md-max:-ml-5 md-max:pl-5 md-max:pr-0 md-max:mr-auto
               md-max:before:left-6.5 md-max:before:right-auto;
    }
}

.member-modify-password {
    @apply mt-5 text-center
           md:mt-6;
    & fieldset {
        @apply -mx-5 py-12 px-5 bg-[linear-gradient(98deg,_rgba(21,132,185,0.1)_0%,_rgba(119,13,172,0.1)_29%,_rgba(184,13,13,0.1)_54%,_rgba(229,162,10,0.1)_77%,_rgba(67,168,0,0.1)_100%)]
               md:mx-0 md:py-15 md:rounded-[1rem];
    }
    & .form-group {
        @apply w-full max-w-80
               md:max-w-100
               xs-max:max-w-75;
        & .form-control {
            @apply ml-3 md:ml-5;
        }
    }
    & .btn-primary {
        @apply mt-10 w-36
               md:mt-14 md:w-40;
    }
    & .text-alert {
        @apply mt-3 mx-auto w-fit text-left
               md:mt-4;
    }
}


/* 이용약관 */
.terms-table {
    @apply table-fixed w-full border border-gray1 text-gray6;
    & th, & td {
        @apply p-1.5 border border-gray1
               md:p-2
               lg:p-3;
    }
    & th {
        @apply bg-gray2;
    }
    & td {
        @apply bg-white;
    }
}

.terms-list {
    @apply space-y-0.5
           md:space-y-1;
    & > li {
        @apply relative;
        & .temrs-list {
            @apply space-y-px
                   md:space-y-0.5;
        }
    }
    &.is-number {
        counter-reset: section; 
        & > li {
            @apply pl-[1.2em]
                   before:content-[counter(section)")"] before:absolute before:top-0 before:left-0;
            counter-increment: section;
        }
    }
    &.is-number2 {
        counter-reset: section; 
        & > li {
            @apply pl-[1.2em]
                   before:content-[counter(section)"."] before:absolute before:top-0 before:left-0;
            counter-increment: section;
        }
    }
    &.is-hypen {
        & > li {
            @apply pl-[0.9em]
                   before:content-["-"] before:absolute before:top-0 before:left-[0.15em];
        }
    }
}


/* 마이페이지 메인 */
.mypage-split {
    @apply my-5 -mx-5 px-5 border-t-2.5 border-neutral-100 lg:hidden first:-mt-6;
}

.mypage-title {
    @apply relative mb-2.5 pb-3 border-b border-b-gray3 text-lg leading-tight font-bold md:mb-7.5 md:text-xl;
}
.mypage-title2 {
    @apply relative pb-3 border-b border-b-gray3 leading-tight font-bold text-xl md:text-2xl;
    &.with-icon {
        @apply flex items-center gap-2.5 ;
    }
}

.mypage-manage1 {
    @apply flex flex-col py-3.5 px-4.5 border border-gray3 rounded-2xl text-[0.9375rem] leading-snug md:text-base;
}

.mypage-manage1-title {
    @apply flex items-center font-bold;
    & img {
        @apply mt-0.5 mr-1.5 w-[0.9375rem];
    }
    & a {
        @apply block overflow-hidden -m-2.5 ml-auto w-8 h-8 bg-[url(../images/ico-plus.svg)] bg-center bg-no-repeat bg-[length:0.75rem] -indent-96;
    }
}

.mypage-manage1-items {
    @apply flex-1 flex flex-col mt-1.5 pt-1.5 divide-y divide-gray2
           md:mt-2 md:pt-2;
}

.mypage-manage1-item {
    @apply flex items-center py-2
           md:py-2.5;
    & .item-name {
        @apply flex-1 truncate mr-2;
    }
    & .item-date {
        @apply flex-none text-[0.8125rem] text-gray1;
    }
    & .item-home {
        @apply flex-none flex gap-1 items-center justify-center -my-0.5 px-2 min-w-15 h-6.5 overflow-hidden border border-gray3 rounded-full bg-white text-xs text-gray1 transition-[background-color,border-color,color] duration-300
               before:w-4 before:h-3 before:bg-center before:bg-no-repeat before:bg-[url(../images/ico-mypage-home.svg)] before:transition-all before:duration-300
               after:hidden after:ml-0.5 after:w-2 after:h-2 after:bg-right-center after:bg-[length:auto_100%] after:bg-[url(../images/ico-mypage-arrow.svg)] after:opacity-50 after:transition-all after:duration-300
               hover:bg-black2 hover:text-white
               hover:before:bg-[url(../images/ico-mypage-home-hover.svg)]
               hover:after:bg-[url(../images/ico-mypage-arrow-white.svg)]
               md:after:block;
        & span {
            @apply hidden
                   md:block;
        }
    }
}

.mypage-manage1-empty {
    @apply flex-1 flex flex-col items-center justify-center flex-wrap py-5.5 px-4 min-h-23 rounded-md bg-[#f9f9f9] text-gray1 text-sm
           md:min-h-29 md:text-[0.9375rem];
    & a {
        @apply btn mt-3 h-8.5 border-gray1 bg-white text-[0.8125rem] text-black2
               after:mt-0.5 after:-mr-1 after:ml-3 after:w-2 after:h-2 after:bg-right-center after:bg-[length:auto_100%] after:bg-[url(../images/ico-mypage-arrow.svg)] after:opacity-50;
    }
}

.mypage-manage2 {
    @apply flex items-center p-3.5 border border-gray3 rounded-2xl text-[0.9375rem] leading-snug
           md:items-stretch md:text-base;
}

.mypage-manage2-icon {
    @apply flex-none flex items-center justify-center mr-4.5 w-[4.625rem] min-h-20 bg-[#f9f9f9]
           md:min-h-23;
}

.mypage-manage2-name {
    @apply flex-1 block text-base break-keep
           md:pt-3;
    & small {
        @apply block mt-2 text-[0.8125rem] font-normal text-gray1;
    }
}


/* 장기요양 상담신청 */
.mypage-consult-toggle {
    @apply btn-primary absolute -top-0.5 right-0 w-19 h-7 text-[0.8125rem] font-medium
           md:hidden;
}

.mypage-consult-desc {
    @apply mt-3 mb-7 px-3 py-2 rounded-md bg-neutral-100 md:mt-5 md:mb-13 md:p-0 md:bg-transparent;

     &.text-with-icon {
        @apply flex items-start justify-start gap-1;
        & .icon-alert { 
            @apply mt-[0.188rem];
        }
    }
}

.mypage-consult-search {
    @apply hidden fixed z-20 top-13 left-0 right-0 bottom-0
           before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-black1/60
           md:block md:static
           md:before:hidden;
    & fieldset {
        @apply relative p-4 pt-16 -mt-px border border-gray3 rounded-b-2xl bg-white bg-no-repeat bg-[url(../images/bg-consult1.jpg),url(../images/bg-consult2.jpg)] bg-[position:left_top,right_top] bg-[length:auto_100%] max-h-[calc(100vh-7.5rem)] overflow-auto
               md:mt-0 md:mx-0 md:py-5 md:px-7.5 md:max-h-none md:rounded-t-2xl md:overflow-visible;
    }
    & legend {
        @apply flex items-center justify-center absolute top-0 left-0 w-full text-center h-12 text-lg font-bold
               md:hidden;
        & + dl {
            @apply mt-0;
        }
    }
    & dl {
        @apply mt-5.5 flex flex-col leading-snug
               md:mt-3.5 md:flex-row md:items-center
               first:mt-0;
        & dt {
            @apply flex-none mb-2.5 font-medium
                   md:mr-4.5 md:mb-0 md:w-25;
        }
        & dd {
            @apply flex-1 flex relative;
        }
    }
    & .form-group {
        @apply flex-1;
    }
    & .form-group-check {
        @apply absolute -top-9 right-0 flex gap-1
               md:static md:flex-none md:ml-2.5 md:gap-1.5;
        & .form-check {
            & .form-check-input {
                @apply absolute w-0 h-0 opacity-0;
            }
            & .form-check-label {
                @apply flex items-center ml-0 px-3 h-8 rounded-md border-gray2 bg-gray2 text-[0.8125rem] text-gray6
                       md:px-3.5 md:h-12 md:text-sm;
            }
        }
    }
    & .search-close {
        @apply absolute top-2 right-2 w-8 h-8 overflow-hidden bg-no-repeat bg-center bg-[url(../images/ico-close.svg)] bg-[length:1.625rem] -indent-96
               md:hidden;
    }
}

.mypage-consult-item-gutter {
    @apply w-4
           md:w-5;
}

.mypage-consult-item {
    @apply mb-4 p-4 w-full border border-gray3 rounded-2xl bg-white leading-tight
           md:mb-5 md:w-[calc(50%-0.625rem)];
    & .item-current, & .item-partner, & .item-date {
        @apply flex mb-1;
        & dt {
            @apply flex-none flex items-center mr-3 py-2.5 px-2 pr-0 w-[7.25em] rounded-md bg-neutral-100 text-xs text-gray6 md:text-[0.8125rem];
        }
        & dd {
            @apply relative flex-1 py-2 text-base font-medium after:absolute after:-bottom-px after:left-0 after:right-0 after:h-px after:bg-gray2;
        }
        & .btn-conselng-info {
            @apply flex items-center gap-1 text-sm text-gray6;
        }
    }
    & .item-partner {
        & dt {
            @apply py-3;
        }
        & dd {
            @apply py-2.5 text-lg break-keep;
        }
        & .history {
            & li {
                @apply flex items-start mt-1.5 md:mt-2;
                & small {
                    @apply px-2.5 py-0.5 border border-neutral-100 rounded-md bg-neutral-100 text-xs text-gray6
                           md:px-3 md:text-[0.8125rem];
                }
                & span {
                    @apply flex-1 ml-1 mt-px py-0.5 text-sm
                           md:mt-0 md:ml-1.5;
                }
            }
        }
    }
    & .item-date {
        & dd {
            @apply border-b-0;
        }
    }
    

    & .item-view {
        @apply flex mb-1;
        & dt {
            @apply  flex items-center mr-3 py-2.5 px-2 pr-0 rounded-md bg-neutral-100 text-xs text-gray6 md:text-[0.8125rem];
        }
        & dd {
            @apply relative flex-1 py-2 text-base font-medium;
        }
    }
}

.item-request {
    @apply flex items-center justify-end mt-1.5 text-xs
           md:mt-2.5 md:text-[0.8125rem];
    & .button {
        @apply flex-1 mr-auto w-35 max-w-42 h-10 rounded-md bg-[#3074FF] text-sm font-bold text-white
               md:flex-1 md:max-w-46;
    }
    & .check1, & .check2 {
        @apply flex-none flex items-center gap-1 relative pl-3 select-none cursor-pointer;
        & input {
            @apply order-2 appearance-none -mt-px w-4 h-4 bg-cover bg-center cursor-pointer;
        }
        & span {
            @apply order-1 leading-none;
        }
    }
    & .check1 {
        & input {
            @apply bg-[url(../images/ico-mypage-recommend.svg)]
                   checked:bg-[url(../images/ico-mypage-recommend-active.svg)];
        }
    }
    & .check2 {
        @apply ml-3
               before:absolute before:top-1/2 before:left-0 before:mt-px before:w-px before:h-3 before:bg-gray1/25 before:-translate-y-1/2;
        & input {
            @apply bg-[url(../images/ico-mypage-interest.svg)]
                   checked:bg-[url(../images/ico-mypage-interest-active.svg)];
        }
    }
}

/* 관심 멤버스 설정 */
.mypage-members-item {
    @apply flex bg-white relative p-4 border border-gray1 rounded-[1rem] transition-all duration-300 select-none leading-tight
           md:p-5;
    & .item-thumb {
        @apply flex-none mr-3 w-25 h-20 rounded object-cover
               sm:w-35 sm:h-25
               md:mr-5 md:w-34 md:h-25;
    }
    & .item-content {
        @apply flex-1;
        & .name {
            @apply pr-6 pb-0.5 text-lg font-bold
                   sm:min-h-[2.5em]
                   md:pb-1.5 md:text-xl;
        }
        & .addr, & .call {
            @apply mt-[0.25em] pl-[1.25em] bg-no-repeat bg-[length:auto_1em] text-sm
                   md:text-[0.9375rem];
        }
        & .addr {
            @apply bg-[url(/html/page/market/assets/images/ico-location.svg)] bg-[left_0.25em_top_0.125em];
        }
        & .call {
            @apply bg-[url(/html/page/market/assets/images/ico-call.svg)] bg-[left_0.05em_top_0.125em];
        }
        & .desc {
            @apply flex items-center justify-between pt-3 mt-3 border-t border-t-gray3 -ml-28
                   sm:ml-0;
        }
        & .time {
            @apply mr-auto pr-1 space-y-1 font-medium leading-tight text-sm tracking-tight
                   xs:tracking-normal
                   md:pr-4 md:text-[0.9375rem];
            & p {
                @apply flex flex-wrap;
            }
            & small {
                @apply block flex-none min-w-[3.75em] mr-1.5 text-sm
                       md:mt-px;
            }
        }
        & .link {
            @apply btn-primary btn-small flex-none;
        }
    }
    & .item-delete {
        @apply absolute top-2 right-4 w-7 h-7 overflow-hidden
               md:w-8 md:h-8;
    }
    & .item-select, & .item-love {
        @apply absolute top-2 right-2 font-bold bg-white leading-tight overflow-hidden;
        & input {
            @apply appearance-none float-right ml-1.5 w-4.5 h-4.5 rounded-full bg-no-repeat bg-right-center bg-[length:auto_100%] bg-gray2
                   md:ml-2 md:w-5 md:h-5;
        }
        & span {
            @apply hidden relative
                   md:-top-px;
        }
    }
    & .item-select {
        & input {
            @apply bg-[url(/html/page/market/assets/images/ico-partner-check.svg)];
        }
    }
    &.is-modal {
        @apply mt-4.5 p-3
               md:p-4;
        & .item-thumb {
            @apply sm:w-30;
        }
        & .name {
            @apply text-base
                   md:text-lg;
        }
    }
    &.is-active {
        @apply border-black2 shadow-[inset_0px_0px_0px_1px_#333];
        & .item-select, & .item-love {
            & input {
                @apply bg-white;
            }
            & span {
                @apply inline-block
                       xs-max:hidden;
            }
        }
        & .item-select {
            & input {
                @apply bg-[url(/html/page/market/assets/images/ico-partner-check-on.svg)];
            }
        }
        & .item-love {
            & input {
                @apply bg-[url(/html/page/market/assets/images/ico-partner-love-on.svg)];
            }
        }
    }
    &.is-disable {
        @apply opacity-70;
    }
}

.mypage-members-search {
    @apply flex items-center flex-wrap -mx-5 p-5 pb-3.5 bg-white bg-[linear-gradient(96deg,_rgba(21,132,185,0.08)_0%,_rgba(119,13,172,0.08)_29%,_rgba(184,13,13,0.08)_54%,_rgba(229,162,10,0.08)_77%,_rgba(67,168,0,0.08)_100%)];
    & > * {
        @apply mb-1.5 ml-1.5
               first:ml-0;
    }
    & .form-control {
        &select {
            @apply w-[calc(50%_-_0.1875rem)]
                   md:w-40;
        }
        &input {
            @apply flex-1 ml-0
                   md:ml-1.5;
        }
    }
}


/* 배송지 관리 */
.mypage-delivery-item {
    @apply flex flex-wrap relative border border-black2 rounded-[1rem] bg-black2;
    & .item-name {
        @apply flex-none flex items-start py-3.5 px-4 w-30 break-keep text-white font-bold leading-snug text-xl
               xs:flex-col
               md:py-4 md:px-5 md:w-38 md:text-2xl
               xs-max:w-full;
        & .label-primary {
            @apply mt-1 mr-2 flex-none border-white
                   md:mt-0 md:mb-2;
            & span {
                @apply bg-black2 text-white;
            }
            & i {
                @apply bg-white text-black2;
            }
        }
    }
    & .item-content {
        @apply flex-1 relative p-4 rounded-[1rem] overflow-hidden bg-white
               sm:pl-7
               md:py-4 md:pl-9 md:pr-5 md:min-h-41;
        & dl {
            @apply flex items-start flex-wrap mt-3 overflow-hidden leading-snug
                    md:mt-4;
            & dt {
                @apply flex-none mt-px w-[5em] text-[0.8125rem] text-right
                        md:mt-0.5 md:text-sm;
            }
            & dd {
                @apply flex-1 ml-4 overflow-hidden
                        md:ml-5;
                & strong {
                    @apply font-medium;
                }
            }
            &.name {
                @apply mt-0 pr-4;
                & dt {
                    @apply mt-1
                            md:mt-[0.3125rem];
                }
                & dd {
                    @apply font-bold text-lg
                            md:text-xl;
                }
            }
            &.addr {
                @apply sm:pr-30
                        md:pr-35;
            }
        }
    }
    & .item-close {
        @apply absolute top-1 right-2 w-7 h-7 overflow-hidden bg-no-repeat bg-center -indent-96 bg-[url(../images/ico-close.svg)] bg-[length:1.25rem]
               sm:top-2
               md:w-8 md:h-8 md:bg-[length:1.5rem];
    }
    & .item-edit {
        @apply mt-3 text-right
               sm:absolute sm:bottom-4 sm:right-4
               md:right-5;
    }
}

.mypage-delivery-item2 {
    @apply select-none flex-wrap relative overflow-hidden px-5 py-4 border border-gray1 rounded-[1rem] leading-snug
           md:flex md:pt-5 md:px-7 md:pb-6;
    & dl {
        & dt {
            @apply mr-3 pt-px text-[0.8125rem] font-medium
                    md:mr-4 md:pt-0.5 md:text-sm;
        }
        & dd {
            @apply text-[0.9125rem]
                    md:text-base;
        }
    }
    & .item-name {
        @apply flex items-center
               md:block md:mr-2 md:w-[30%];
        & dt {
            @apply w-[4em] text-right
                   md:w-auto md:text-left;
        }
        & dd {
            @apply text-[1.375rem] font-bold
                   md:mt-0.5 md:text-2xl;
            & .label-outline-primary {
                @apply align-top mt-0.5
                       md:flex md:mt-1;
            }
        }
    }
    & .item-info {
        @apply flex-1 mt-2 space-y-2
               md:mt-0 md:space-y-3.5;
        & dl {
            @apply flex;
            & dt {
                @apply flex-none text-right w-[4em]
                       md:w-[3em];
            }
        }
    }
    & .item-select {
        @apply absolute top-2 right-2 font-bold bg-white leading-tight overflow-hidden;
        & input {
            @apply appearance-none float-right ml-2 w-5 h-5 bg-no-repeat bg-right-center bg-[length:auto_100%] bg-[url(/html/page/market/assets/images/ico-partner-check.svg)];
        }
        & span {
            @apply hidden;
        }
    }
    &.is-disable {
        @apply opacity-70;
    }
    &.is-active {
        @apply border-black2 shadow-[0px_0px_0px_1px_#333];
        & .item-select {
            & input {
                @apply bg-[url(/html/page/market/assets/images/ico-partner-check-on.svg)];
            }
            & span {
                @apply inline;
            }
        }
    }
}

.text-subtitle {
    @apply flex flex-row items-start gap-1 text-xs text-gray6 tracking-tighter;
}

.rounded-card-gray {
    @apply flex flex-col border border-gray2 rounded-md p-5 bg-white;
}
.mypage-client-mgmts {
    @apply grid md:grid-cols-2 auto-rows-max gap-5 items-start;
}
.mypage-client-item {
    @apply  relative flex flex-col gap-6 mb-4 p-6 w-full h-full min-h-[31.25rem] border border-[#E5E7EB] bg-[#F9F9F9] rounded-2xl leading-tight;

    &.add-item {
       @apply justify-center items-center;
    }

    &.active {
        @apply border-[#FF6800];
    }
    & .icon-flag {
        @apply self-end;
    }
    & .flag {
        @apply self-end relative select-none cursor-pointer;
        & input {
            @apply appearance-none  w-10 h-10 bg-no-repeat bg-cover bg-center cursor-pointer 
            bg-[url(../images/ico-flag.svg)]
            checked:bg-[url(../images/ico-flag-active.svg)];
        }
    }

    & .item-current-header {
        @apply relative flex flex-col items-center justify-center gap-4;
      
    }
    & .item-current {
        @apply flex;
        &:last-of-type {
            & dt, & dd {
                @apply border-b-0 mb-2      ;
            }
        }
        & dt, & dd {
            @apply  border-b border-[#E5E7EB] ;
        }
        & dt {
            @apply flex-none flex items-center mr-2 py-3 px-2 w-[8em] text-xs text-gray6 md:text-[0.8125rem];
        }
        & dd {
            @apply relative flex-1 py-2 text-base font-medium;
        }
        & .recommend {
            @apply flex-none flex items-center relative select-none cursor-pointer;
            & input {
                @apply order-2 appearance-none -mt-px w-4 h-4 bg-cover bg-center cursor-pointer 
                bg-[url(../images/ico-mypage-interest.svg)]
                checked:bg-[url(../images/ico-mypage-interest-active.svg)];
            }
        }
    }
    
    &.view {
        @apply bg-transparent;
    }


}
.mypage-client-details {
    @apply grid md:grid-cols-2 auto-rows-max  gap-5 items-start;
    
    & .mypage-client-detail-item {
        @apply flex flex-col gap-2 h-full;

        & .mypage-client-detail-item-title {
            @apply flex justify-between items-center;
            & > a {
                @apply flex items-center gap-2;
            }
        }
    }
    & .mypage-client-detail-inner {
        @apply border border-[#E5E7EB] rounded-md  p-4 h-full;
    }
}

.mypage-client-item-gutter {
    @apply w-4 md:w-5;
}

.card-bg-gray {
    @apply flex flex-col items-center gap-3 py-10 px-6 w-full border border-[#E5E7EB] bg-[#F9F9F9] rounded-2xl leading-tight md:mb-5;
    & .text-additional {
        @apply text-gray6;
    }
    & .text-date {
        @apply text-gray5 text-sm; 
    }
}
.addr-select {
    @apply grid md:grid-cols-2 md:grid-rows-2 lg:grid-cols-3 lg:grid-rows-1 gap-1;
}

.list-style1 {
    @apply flex flex-col gap-1 bg-[#eee] rounded-md p-5;
    & li {
        @apply relative flex items-start justify-start gap-2 mt-1 pl-2 text-sm;
        &:before {
            content: "";
            @apply absolute top-[0.6rem] left-0 inline-block border-[2px] border-black rounded-[50%] bg-gray-800;
        }
    }
}