@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import url('//fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

@import "../../../../core/style/style.css";

@layer components {
    /******************** input ********************/
    .form-control {
        @apply border-[#dedede] outline-none w-full px-3 xs:px-4 h-11 xs:h-12 rounded-lg xs:rounded-xl xs:text-base;
        &::placeholder {
            @apply text-gray1;
        }
        &select {
            @apply bg-white appearance-none pr-4 xs:pr-5 bg-[right_1rem_top_0.75rem] xs:bg-[right_1.25rem_top_0.875rem] bg-[length:0.75rem_auto] xs:bg-[length:0.875rem_auto];
            background-image: url("data:image/svg+xml,%3Csvg id='Group_Copy_5' data-name='Group Copy 5' xmlns='http://www.w3.org/2000/svg' width='14.142' height='14.142' viewBox='0 0 14.142 14.142'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M1,10A1,1,0,0,1,0,9V1A1,1,0,0,1,2,1V8H9a1,1,0,0,1,0,2Z' transform='translate(0 7.071) rotate(-45)' fill='%23333'/%3E%3C/svg%3E%0A");
        }
        &.large {
            @apply rounded-full h-13 xs:h-15 text-base xs:text-lg;
        }
    }

    .form-check {
        @apply xs:text-base;
        & .form-check-input {
            @apply border-[#dedede];
            &:checked {
                @apply bg-white border-black1;
                &[type="checkbox"] {
                    @apply bg-[length:0.875rem_auto];
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.052' height='10' viewBox='0 0 14.052 10'%3E%3Cpath id='Combined_Shape_Copy_2' data-name='Combined Shape Copy 2' d='M4.752,9.811a1.4,1.4,0,0,1-.373-.268L.41,5.576A1.4,1.4,0,0,1,2.395,3.593L5.435,6.633,11.658.41a1.4,1.4,0,0,1,1.984,1.985L6.447,9.59a1.4,1.4,0,0,1-1.7.222Z' fill='%232e5dea'/%3E%3C/svg%3E%0A");
                }
                &[type="radio"] {
                    @apply bg-black1 shadow-[inset_0_0_0_0.25em_white];
                }
            }
        }
    }

    /******************** button ********************/
    .btn {
        @apply px-4 xs:px-5 min-w-20 xs:min-w-25 h-11 xs:h-12 rounded-lg xs:rounded-xl xs:text-base;
        &.large {
            @apply h-13 xs:h-15 text-base xs:text-lg rounded-full min-w-38 xs:min-w-[11.875rem];
        }
        &.shadow {
            box-shadow: 0.11111111em 0.33333333em 0.5em #0000003E;
        }
    }
    
    .btn-cancel {
        @apply btn bg-white border-white text-[#ABABAB];
        &:hover, &:focus, &:active {
            @apply border-0 bg-white;
        }
    }

    .btn-partner {
        @apply btn bg-no-repeat text-white;
        background-image: linear-gradient(100deg, #7232E7 0%, #538FDD 100%);
        &:hover, &:focus, &:active {
            @apply border-0;
        }
    }
    
    /******************** color ********************/
    .text-success {
        @apply text-[#2E5DEA];
    }
    
    .border-success {
        @apply border-[#2E5DEA];
    }
    
    .bg-success {
        @apply bg-[#2E5DEA];
    }
}

body {
    @apply scrollbars sm:text-base;
    word-break: keep-all;
    overflow: overlay;
    &::-webkit-scrollbar {
        @apply w-3 h-3;
    }
    &::-webkit-scrollbar-thumb {
        @apply rounded-lg border-0.5;
    }
}

#header {
    @apply relative top-0 z-60 px-5 bg-no-repeat leading-tight text-white h-15 md:h-21 text-sm md:text-base;
    background-image: linear-gradient(90deg, #742DE7 0%, #5195DC 100%);
    box-shadow: -2px 1px 5px #00000030;
    & .container {
        @apply flex items-center justify-between relative mx-auto h-full max-w-screen-xl;
        & h1 {
            & a {
                @apply flex items-center space-x-3.5 font-normal;
                & img {
                    @apply h-8 md:h-9;
                }
                & span {
                    @apply hidden xs:block;
                }
            }
        }
        & .request {
            @apply py-1.5 px-4 md:py-2 md:px-5.5 border border-white rounded-full;
        }
    }
}

#container {
    @apply flex-1 px-5 pb-25 pt-13 xs:pt-16 xs:pb-31;
}

#footer {
    @apply w-full border-t border-gray5;
    & hr {
        @apply border-gray1/20;
    }
    & .container {
        @apply relative flex items-start mx-auto px-4 max-w-[1920px] lg:px-5 2xl:px-20;
    }
}

.footer-link, .footer-center {
    @apply relative flex flex-col items-start mx-auto max-w-[1920px];
}

.footer-link {
    @apply z-5 flex-wrap px-4 md:flex-row md:justify-between lg:px-5 2xl:px-20;
}

.footer-menu {
    & ul {
        @apply flex items-center flex-wrap py-2.5 -ml-2.5 text-[0.8125rem] leading-[1.3333333333333] md:-ml-4 md:py-3 md:text-[0.9375rem];
        & li {
            @apply px-1.5 md:px-2;
            & a {
                @apply block p-1 px-1 md:p-2;
            }
        }
    }
}

.footer-family {
    @apply items-center -mx-4 px-4 pt-3 w-[calc(100%_+_2rem)] border-t border-gray1/20 md:flex md:absolute md:top-0 md:p-0 md:right-4 md:ml-0 md:-mr-2.5 md:w-auto md:border-t-0 lg:right-5 2xl:right-20;
    & dt {
        @apply font-bold text-sm leading-tight md:mr-2.5 md:text-[0.9375rem] md:text-[#878787];
        & small {
            @apply text-sm md:block md:text-[0.6875rem];
        }
    }
    & dd {
        @apply -my-1 -ml-2 md:m-0;
        & ul {
            @apply flex items-center md-max:space-x-3;
            & li {
                &:last-child {
                    & [class*="family-link"] {
                        & .bubble {
                            @apply md:left-auto md:right-0 md:translate-x-0 2xl:right-auto 2xl:-left-1/4 2xl:-translate-x-1/2;
                            &::before, &::after {
                                @apply md:left-[88%] 2xl:left-[67%];
                            }
                        }
                    }
                }
            }
        }
        & [class*="family-link"] {
            @apply block relative w-[2.875rem] h-15;
            &::before, &::after {
                @apply content-empty absolute top-0 left-0 block w-full h-full bg-no-repeat bg-center bg-[length:auto_3.75rem] transition-opacity duration-300;
            }
            &::after {
                @apply opacity-0;
            }
            &:hover, &:focus {
                &::before {
                    @apply opacity-0;
                }
                &::after {
                    @apply opacity-100;
                }
                & .bubble {
                    @apply opacity-100 visible;
                }
            }
            & br {
                @apply sm-max:hidden;
            }
            & .bubble {
                @apply hidden absolute bottom-full left-1/2 -mb-1 p-2.5 w-40 rounded-lg border border-gray1 bg-no-repeat bg-white tracking-tight -translate-x-1/2 shadow-[0px_2px_4px_#00000034] transition-all duration-300 opacity-0 invisible md:block md:w-48 md:-left-1/3 2xl:left-1/2;
                & small {
                    @apply block text-xs leading-tight;
                }
                & strong {
                    @apply block text-sm md:text-base;
                }
                &::before, &::after {
                    @apply content-empty absolute left-1/2 top-full w-0 h-0 border-solid border-transparent -translate-x-1/2 md:left-[70%] 2xl:left-1/2;
                }
                &::before {
                    @apply border-1.5 border-b-0 border-t-gray1;
                }
                &::after {
                    @apply border-[0.3125rem] border-b-0 border-t-white -mt-px;
                }
            }
        }
        & .family-link1 {
            &::before {
                @apply bg-[url(../images/ico-footer-family1.png)];
            }
            &::after {
                @apply bg-[url(../images/ico-footer-family1-on.png)];
            }
            & .bubble {
                @apply bg-[url(../images/bg-footer-family1.svg)] bg-[length:55px] bg-[right_-1.3125rem_center];
            }
        }
        & .family-link2 {
            &::before {
                @apply bg-[url(../images/ico-footer-family2.png)];
            }
            &::after {
                @apply bg-[url(../images/ico-footer-family2-on.png)];
            }
            & .bubble {
                @apply bg-[url(../images/bg-footer-family2.png)] bg-[length:55px] bg-[right_center];
            }
        }
        & .family-link3 {
            &::before {
                @apply bg-[url(../images/ico-footer-family3.png)];
            }
            &::after {
                @apply bg-[url(../images/ico-footer-family3-on.png)];
            }
            & .bubble {
                @apply bg-[url(../images/bg-footer-family3.png)] bg-[length:68px] bg-[right_0.25rem_top_0.5rem];
                & strong {
                    @apply pt-1 pb-2.5;
                    & img {
                        @apply md-max:w-19;
                    }
                }
            }
        }
    }
}

.footer-center {
    @apply justify-between p-4 lg:flex-row lg:py-6 lg:px-5 2xl:px-20;
    & dt {
        @apply mb-1 font-bold md:mb-1.5 lg:mb-2.5;
    }
    & dd {
        @apply mt-0.5 leading-snug font-light text-[0.8125rem];
        & p {
            @apply relative mb-0.5 lg:inline-block lg:mb-0 lg:mr-0.5 lg:pr-2;
            &:last-child {
                @apply m-0 p-0;
            }
        }
        & strong {
            @apply font-medium;
        }
    }
}

.footer-company {
    @apply lg:mr-5;
    & dt {
        & a {
            @apply relative pr-5 sm:pointer-events-none;
            &::after {
                @apply content-empty absolute top-1/2 right-0 w-2.5 h-1.5 bg-[length:100%] bg-center -translate-y-1/2 mt-px transition-all duration-300 rotate-0 sm:hidden;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5.751' viewBox='0 0 10 5.751'%3E%3Cpath id='Rectangle_3' daata-name='Rectangle 3' d='M.22,9.78a.753.753,0,0,1,0-1.063L3.937,5,.22,1.283A.752.752,0,0,1,1.283.22L5.531,4.469a.752.752,0,0,1,0,1.063L1.283,9.78a.752.752,0,0,1-1.063,0Z' transform='translate(10 0) rotate(90)' fill='%23999'/%3E%3C/svg%3E%0A");
            }
            &[aria-expanded="true"] {
                &::after {
                    @apply rotate-180;
                }
            }
        }
    }
    & dd {
        & p {
            &::after {
                @apply content-empty hidden absolute top-1/2 right-0 w-px h-[0.9em] bg-gray1 -translate-y-1/2 lg:block;
            }
            &:last-child {
                &::after {
                    @apply hidden;
                }
            }
        }
        & a {
            @apply underline underline-offset-px;
        }
        &.collapse {
            @apply sm:block;
        }
    }
    &:not(:last-child) {
        @apply lg-max:mt-4;
    }
}

.footer-customer {
    @apply flex-none -order-1 lg:order-1;
    & dd {
        & a {
            @apply text-[#F71515];
        }
    }
}

.footer-copyright {
    @apply py-3 px-5 text-xs leading-snug text-center font-serif md:py-4 md:text-sm;
}

.text-title {
    @apply leading-[1.15] font-normal text-center text-black text-[1.875rem] xs:text-4xl md:text-5xl;
    & small {
        @apply block leading-snug mt-1.5 xs:mt-2 text-sm xs:text-base;
    }
}

.text-complate {
    @apply text-center leading-[1.45] text-xl xs:text-2xl md:text-[1.625rem];
    & em {
        @apply text-success not-italic;
    }
    & small {
        @apply block mt-2.5 xs:mt-3 text-base xs:text-lg;
    }
}

.tabs-list {
    @apply flex relative mx-auto max-w-[540px] mt-13 xs:mt-16;
    & li {
        @apply relative z-10 flex-1 text-center;
        & a {
            @apply block relative h-full font-medium leading-[1.45] text-gray1 text-lg xs:text-xl pt-1.5 xs:pt-3 pb-[calc(0.375rem_+_3px)] xs:pb-[calc(0.75rem_+_5px)];
            &::after {
                @apply content-empty block absolute left-0 bottom-0 w-full rounded-[3px] bg-[#DEDEDE] h-[3px] xs:h-[5px];
            }
            &.active {
                @apply text-black2;
                &::after {
                    @apply bg-black2;
                }
            }
        }
    }
    &::after {
        @apply content-empty absolute z-5 bottom-0 left-0 w-full rounded-[3px] bg-[#DEDEDE] h-[3px] xs:h-[5px];
    }
}

.term-agree {
    & dt {
        @apply font-medium leading-[1.45] text-base xs:text-lg;
    }
    & dd {
        @apply border border-[#DEDEDE] text-gray1 mt-1 xs:mt-1.5 py-4 xs:py-5 px-1.5 xs:px-2;
        & > div {
            @apply overflow-auto scroll-smooth aspect-[16/6.6] px-2.5 xs:px-3;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                @apply w-1.5 h-1.5 bg-transparent;
            }
            &::-webkit-scrollbar-thumb {
                @apply rounded-md bg-[#D8D8D8];
            }
            &::-webkit-scrollbar-track {
                @apply bg-transparent;
            }
        }
    }
}

.form-container {
    @apply mx-auto max-w-[480px] mt-10 xs:mt-13;
    & legend {
        @apply pb-1 border-black1 font-medium w-full leading-[1.15] border-b xs:border-b-0.5 mb-6 xs:mb-8.5 text-base xs:text-lg;
        & small {
            @apply font-normal text-success text-xs xs:text-sm;
        }
    }
}

.form-rows {
    @apply mb-5 xs:mb-6;
    &:last-child {
        @apply mb-0;
    }
}

.form-group {
    @apply flex items-center flex-wrap space-x-2 xs:space-x-2.5;
    & .form-control {
        @apply flex-1 w-auto;
    }
}

.form-label {
    @apply inline-block mb-1.5 font-medium leading-[1.45] text-base xs:text-lg;
    & i {
        @apply text-success;
    }
}

.form-desc {
    @apply text-gray1 bg-no-repeat mt-2 xs:mt-2.5 bg-[left_0.1rem_top_0.375rem] bg-[length:0.75rem] xs:bg-[length:0.875rem];
    /* @apply pl-4.5 xs:pl-5.5; */
    /* background-image: url(../images/ico-partner-check-gray.svg); */
    &:first-child {
        @apply mt-0;
    }
    & + .form-desc {
        @apply mt-1;
    }
    &.pass {
        @apply text-[#2e5dea];
        /* background-image: url(../images/ico-partner-check-blue.svg); */
    }
    &.error {
        @apply text-[#DD3C3C];
        /* background-image: url(../images/ico-partner-check-red.svg); */
    }
}

.form-upload {
    & .form-control {
        &[readonly] {
            @apply bg-white border-[#dedede] text-black1 !important;
        }
    }
    & .btn-primary {
        @apply cursor-pointer;
        & input {
            @apply absolute top-0 left-0 w-0 h-0 opacity-0 cursor-pointer select-none pointer-events-none;
        }
    }
}

.btn-group {
    @apply flex justify-center mt-9 xs:mt-11 space-x-2 xs:space-x-2.5;
    & [class*="btn"] {
        @apply flex-shrink min-w-0 w-38 xs:w-[11.875rem];
    }
}

.intro-jumbotron {
    @apply -mt-13 -mx-5 px-7 pt-10 pb-20 bg-no-repeat text-white xs:-mt-16 xs:pt-13 xs:pb-26 md:pt-16 md:pb-32 lg:min-h-[45rem];
    background-image: linear-gradient(114deg, #752DE8 0%, #568BDE 100%);
    & .container {
        @apply mx-auto max-w-7xl bg-no-repeat bg-[length:298px,_auto] lg:bg-[length:372px,_auto] bg-[right_bottom] lg:bg-[right_2.25rem_bottom];
        @apply md-max:bg-none !important;
        background-image: url(../images/img-partner-intro-jumbotron.png);
    }
    & .header {
        @apply flex flex-wrap items-center justify-between mx-auto max-w-7xl;
        & .logo {
            @apply flex-none mr-3;
            & img {
                @apply w-29 md:w-36 lg:w-44;
            }
        }
        & .link {
            @apply flex justify-end break-all my-2 ml-auto space-x-4 md:space-x-6 lg:space-x-8 text-base md:text-lg lg:text-xl;
        }
    }
    & .title {
        @apply mt-13 md:mt-15 lg:mt-17 text-5xl md:text-[2.75rem] lg:text-[3.25rem] xl:text-[3.75rem] leading-[1.15];
    }
    & .desc {
        @apply mt-2.5 md:mt-3 lg:mt-4 text-lg md:text-xl lg:text-2xl;
    }
    & .btns {
        @apply mt-10 md:mt-12 lg:mt-15 space-y-4 sm:flex sm:space-x-5 sm:space-y-0;
        & a {
            @apply flex justify-center items-center w-full h-13 rounded-full bg-white shadow-[0.1em_0.3em_0.45em_#0000003E] text-lg font-medium text-[#6B4FE4] sm:w-48 md:h-15 md:w-60 md:text-xl;
        }
    }
}

.intro-content {
    @apply mt-12 md:pt-15 lg:pt-19 px-2;
    & .container {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-7 md:gap-9 lg:gap-12 xl:gap-15 mx-auto max-w-7xl;
    }
    & dl {
        @apply bg-white bg-no-repeat leading-snug rounded-[1rem] md:rounded-[1.25rem] lg:rounded-[1.5rem];
        @apply pt-7.5 md:pt-9.5 lg:pt-12 pb-46 md:pb-61 lg:pb-76 px-5.5 md:px-7.5 lg:px-9.5;
        @apply bg-[right_1.8rem_bottom_1.65rem] md:bg-[right_2.4rem_bottom_2.2rem] lg:bg-[right_3rem_bottom_2.75rem];
        @apply shadow-[3px_2px_7px_#8B8B8B31] md:shadow-[4px_3px_9px_#8B8B8B31] lg:shadow-[5px_4px_11px_#8B8B8B31];
        & dt {
            @apply font-medium text-3xl md:text-4xl lg:text-[2.375rem] xl:text-[2.625rem];
        }
        & dd {
            @apply mt-4 text-base md:mt-5 md:text-lg lg:mt-6.5 lg:text-xl xl:text-[1.375rem];
        }
        &.image1 {
            @apply bg-[length:auto_118px] md:bg-[length:auto_157px] xl:bg-[length:auto_196px];
            background-image: url(../images/img-partner-intro-content1.png);
        }
        &.image2 {
            @apply bg-[length:auto_98px] md:bg-[length:auto_130px] xl:bg-[length:auto_163px];
            background-image: url(../images/img-partner-intro-content2.png);
        }
        &.image3 {
            @apply bg-[length:auto_128px] md:bg-[length:auto_171px] xl:bg-[length:auto_214px];
            background-image: url(../images/img-partner-intro-content3.png);
        }
        &.image4 {
            @apply bg-[length:auto_132px] md:bg-[length:auto_176px] xl:bg-[length:auto_220px];
            background-image: url(../images/img-partner-intro-content4.png);
        }
    }
}

#maps-container {
    @apply flex-1 flex flex-col min-h-[calc(100vh_-_3.25rem)] md:min-h-[calc(100vh_-_5.25rem)];
}

.maps-content {
    @apply relative flex-1 flex flex-col;
}

.maps-kakao {
    @apply relative z-5 flex-1;
}

.maps-kakao-overlay {
    @apply cursor-default;
    & .content {
        @apply p-6.5 pt-7.5 w-75 rounded-[1rem] bg-white shadow-[4px_3px_6px_#00000055] text-sm text-black2 whitespace-normal break-all;
        & .name {
            @apply flex flex-wrap items-center justify-between;
            & strong {
                @apply flex-1 text-base font-medium;
            }
            & span {
                @apply flex-none pl-2.5 text-gray1;
            }
        }
        & .addr {
            @apply mt-1;
        }
        & .call {
            @apply inline-block mt-2 pl-5 bg-no-repeat bg-[left_center] text-[#666];
            background-image: url(../images/ico-tel-gray.svg);
        }
        & .close {
            @apply absolute top-2 right-2.5 w-7 h-7 overflow-hidden bg-no-repeat bg-center -indent-96 cursor-pointer opacity-50;
            background-image: url(../images/ico-close.svg);
        }
    }
    &::before, &::after {
        @apply block w-0 h-0 border-solid content-empty;
    }
    &::before {
        @apply absolute z-10 bottom-0.5 left-1/2 -translate-x-1/2;
        border-width: 16px 14px 0 14px;
        border-color: #fff transparent transparent transparent;
    }
    &::after {
        @apply relative z-5 -mt-px mx-auto;
        border-width: 17px 15px 0 15px;
        border-color: #999999 transparent transparent transparent;
    }
}

.maps-layer {
    @apply flex flex-col absolute top-0 z-10 max-h-[calc(100%_-_7.5rem)] overflow-hidden bg-white md:top-7 left-0 md:left-[5.5%] w-full md:w-[34.375rem] pt-2 md:pt-5 px-5 md:px-9 rounded-t-none rounded-[1rem] md:rounded-t-[1rem] shadow-[6px_9px_19px_#0000005A];
    & .tabs-list {
        @apply flex-none mt-0 w-full max-w-full;
    }
    & .tab-content {
        @apply flex-1 flex flex-col overflow-hidden mt-5.5 sm:mt-5.5 md:mt-7.5;
        & .tab-pane {
            @apply relative flex-col flex-1 md:px-5 overflow-hidden;
            &.active {
                @apply flex;
            }
        }
    }
}

.maps-layer-search {
    @apply flex-none flex flex-wrap relative z-20 space-x-2;
    & .form-control {
        @apply flex-1 h-9 xs:h-10;
        &select {
            @apply pr-4 xs:pr-5 bg-[right_1rem_top_0.75rem] bg-[length:0.75rem_auto];
        }
    }
    & [class*="btn"] {
        @apply min-w-0 p-0 w-9 h-9 xs:w-10 xs:h-10 overflow-hidden rounded-full bg-no-repeat bg-center -indent-96;
    }
    & .btn-primary {
        background-image: url(../images/ico-search-white.svg);
    }
    & .btn-cancel {
        background-image: url(../images/ico-map-mylocation.svg);
    }
}

.maps-layer-results {
    @apply max-h-full overflow-auto scroll-smooth space-y-5.5 xs:space-y-6.5 duration-700 pr-2 mt-5 xs:mt-6.5;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        @apply w-4.5 h-2 bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
        @apply border-1.5 border-solid border-transparent rounded-full bg-[#d8d8d8] bg-clip-padding;
    }
    &::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
}

.maps-layer-result {
    @apply bg-no-repeat bg-[left_top_0.25rem] text-gray6 space-y-0.5  pl-8 xs:pl-11 bg-[length:1.25rem] xs:bg-[length:auto];
    background-image: url(../images/ico-map-marker.svg);
    & .name {
        @apply flex items-start justify-between;
        & strong {
            @apply text-black text-base xs:text-lg;
        }
        & span {
            @apply font-serif mt-0.5 ml-4 text-gray1;
        }
    }
    & .call {
        @apply inline-block pl-5 bg-no-repeat bg-[left_center] bg-[length:0.875rem] xs:bg-[length:auto];
        background-image: url(../images/ico-tel-gray.svg);
    }
}

.maps-layer-recommend {
    @apply flex items-center;
    & .noimg {
        @apply block relative mr-3 w-20 h-20 sm:mr-5.5 sm:w-25 sm:h-25 rounded-full bg-no-repeat bg-center bg-[#8FCBDD];
        &::before {
            @apply content-empty absolute top-1/2 left-1/2 w-1/2 h-1/2 bg-[length:100%] bg-no-repeat bg-center -translate-x-1/2 -translate-y-1/2 opacity-65;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45'%3E%3Cpath id='Shape' d='M1.875,45V18.75H43.125v5.43a5.216,5.216,0,0,0-2.588-.771c-.1-.005-.2-.008-.291-.008a5.384,5.384,0,0,0-4.5,2.61,10.715,10.715,0,0,0-1.651,5.57,10.872,10.872,0,0,1,3.708-.629,9.236,9.236,0,0,1,3.072.48A3.769,3.769,0,0,1,42.895,32.9a1.694,1.694,0,0,1-.2,1.921,1.906,1.906,0,0,1-1.507.723,2.175,2.175,0,0,1-.7-.12,1.829,1.829,0,0,0-.576-.118.711.711,0,0,0-.567.278.818.818,0,0,0-.174.652c.082.41.565.689.956.852a4.366,4.366,0,0,0,1.668.312,5.209,5.209,0,0,0,1.337-.176v.885a6.132,6.132,0,0,1-1.339.149,5.238,5.238,0,0,1-2-.373c-1.056-.44-1.382-1.046-1.469-1.476a1.672,1.672,0,0,1,.4-1.43,1.588,1.588,0,0,1,1.179-.535,2.661,2.661,0,0,1,.86.164,1.275,1.275,0,0,0,.417.073,1.084,1.084,0,0,0,.942-.55.788.788,0,0,0,.035-.784c-.553-.915-2.375-1.554-4.432-1.554a9.292,9.292,0,0,0-3.583.7l-.053.023-.022.01a8.955,8.955,0,0,0-4.366,4.2,3.015,3.015,0,0,1,1.111-.215c1.415,0,2.722,1.018,3.876,1.917.193.15.374.292.557.429A10.566,10.566,0,0,0,41.863,41.4c.111,0,.224,0,.337-.005a8.2,8.2,0,0,0,.925-.085V45H1.875ZM22.138,27.877V38.542a1.935,1.935,0,0,0,.4,1.329,1.326,1.326,0,0,0,1.023.443,1.358,1.358,0,0,0,1.059-.443,1.951,1.951,0,0,0,.4-1.329V26.307a1.539,1.539,0,0,0-.527-1.365,2.533,2.533,0,0,0-1.424-.354H22.1a3.715,3.715,0,0,0-1.271.158,1.068,1.068,0,0,0-.586.57,8.873,8.873,0,0,0-.432,1.339l-2.246,8.469-2.246-8.469a8.914,8.914,0,0,0-.433-1.339,1.069,1.069,0,0,0-.585-.57,3.715,3.715,0,0,0-1.271-.158h-.97a2.529,2.529,0,0,0-1.424.354,1.539,1.539,0,0,0-.527,1.365V38.542a1.935,1.935,0,0,0,.4,1.335,1.452,1.452,0,0,0,2.083-.005,1.951,1.951,0,0,0,.4-1.329V27.868l2.479,9.851c.075.29.156.6.247.933a3.492,3.492,0,0,0,.332.817,1.7,1.7,0,0,0,.59.607,1.731,1.731,0,0,0,.929.238,1.651,1.651,0,0,0,1.139-.369,1.948,1.948,0,0,0,.564-.817c.1-.294.23-.755.4-1.409l2.477-9.842ZM37.5,11.25V9.191L32.087,0h3.776L45,9.32v2.057A3.735,3.735,0,0,1,41.25,15,3.846,3.846,0,0,1,37.5,11.25Zm-9.375,0V9.191L26.365,0h3.643l5.613,9.379v2.058A3.682,3.682,0,0,1,31.875,15,3.846,3.846,0,0,1,28.125,11.25Zm-9.375,0V9.191L20.714,0h3.571L26.25,9.187v2.059a3.75,3.75,0,1,1-7.5,0Zm-9.374.128V9.32L14.992,0h3.643l-1.76,9.32V11.38a3.752,3.752,0,0,1-7.5,0ZM0,11.378V9.32L9.139,0h3.775L7.5,9.32V11.38a3.752,3.752,0,0,1-7.5,0Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
        &.color1 {
            @apply bg-[#94BFE7];
        }
        &.color2 {
            @apply bg-[#A1B6E9];
        }
        &.color3 {
            @apply bg-[#968EDC];
        }
        &.color4 {
            @apply bg-[#C2A2D7];
        }
    }
    & img {
        @apply mr-3 w-20 h-20 sm:mr-5.5 sm:w-25 sm:h-25 rounded-full object-cover;
    }
    & .partner {
        @apply flex-1;
        & .name {
            @apply text-base sm:text-lg font-medium;
        }
        & .addr {
            @apply text-gray6;
        }
    }
}

.maps-layer-toggle {
    @apply sticky bottom-0 left-0 w-full bg-white overflow-hidden -indent-[999em] h-12 sm:h-16 flex-none;
    &::before {
        @apply content-empty absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-6 h-3.5 bg-cover;
        background-image: url(../images/ico-map-arrow.svg);
    }
    &[aria-expanded="true"] {
        &::before {
            @apply rotate-180;
        }
    }
}