@import url('//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    @apply h-full;
    overflow: overlay;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        @apply w-4.5 h-4.5;
    }
    &::-webkit-scrollbar-thumb {
        @apply rounded-lg border-1.5 border-solid border-transparent bg-[#d8d8d8] transition-all duration-300;
        background-clip: content-box;
        &:hover {
            @apply bg-black2;
        }
    }
}

body {
    @apply flex flex-col;
}

@media screen and (max-width: 1039px) {
    @media screen and (max-height: 480px) {
        html, body {
            min-height: 100vh;
            height: auto;
        }
    }
}

@media screen and (min-width: 1040px) {
    @media screen and (max-height: 750px) {
        html, body {
            min-height: 100vh;
            height: auto;
        }
    }
}

#header {
    @apply absolute z-50 top-3.5 right-3 left-3 lg:top-[3.125rem] lg:right-[3.125rem] lg:left-[3.125rem];
    & h1 {
        @apply w-[5.5625rem] h-5 overflow-hidden bg-no-repeat bg-cover bg-[url(../images/img-header-logo-mobile.svg)] -indent-96 lg:w-[8.375rem] lg:h-7.5 lg:bg-[url(../images/img-header-logo.svg)];
    }
}

#navigation {
    @apply absolute left-0 right-0 bottom-0 z-15 text-[0.8125rem] text-center leading-none text-white lg:left-auto lg:right-12 lg:bottom-14;
    & ul {
        @apply flex;
        & li {
            @apply flex-1 lg:flex-none;
            & a {
                @apply flex items-center justify-center h-[4.375rem] lg:block lg:h-auto;
                & .icon, & .name {
                    & .base {
                        @apply relative lg:transition-all lg:duration-300;
                    }
                    & .hover {
                        @apply absolute top-0 left-0 w-full opacity-0 invisible lg:transition-all lg:duration-500;
                    }
                }
                & .icon {
                    @apply relative mr-2.5 h-10 bg-center lg:mx-auto lg:w-31 lg:h-27;
                    & .base, & .hover {
                        @apply block w-full h-full overflow-hidden bg-no-repeat;
                    }
                }
                & .name {
                    @apply relative rounded-full lg:transition-all lg:duration-300 lg:mx-auto lg:w-25;
                    & .base, & .hover {
                        @apply block lg:py-1.5 lg:px-2;
                    }
                    & .hover {
                        &::after {
                            @apply content-empty inline-block ml-[0.3125rem] w-2.5 h-[0.5625rem] bg-cover bg-[url(../images/ico-navigation-arrow.svg)];
                        }
                    }
                }
                & .bubble {
                    @apply absolute bottom-full px-4 py-5 w-86 min-h-26 rounded bg-white bg-no-repeat text-black2 text-left tracking-tighter translate-y-3 opacity-0 invisible lg:transition-all lg:duration-500;
                    & dt {
                        @apply text-2xl leading-none;
                    }
                    & dd {
                        @apply mt-2.5 leading-snug text-xs;
                    }
                    &::after {
                        @apply content-empty absolute top-full w-0 h-0 border-solid border-t-2.5 border-x-3 border-b-0 border-t-white border-x-transparent border-b-transparent;
                    }
                }
                &.is-hover {
                    & .icon, & .name {
                        & .base {
                            @apply lg:opacity-0 lg:invisible;
                        }
                        & .hover {
                            @apply opacity-100 visible lg-max:hidden;
                        }
                    }
                    & .name {
                        @apply lg:bg-black2;
                    }
                    & .bubble {
                        @apply opacity-100 visible translate-y-0 lg-max:hidden;
                    }
                }
            }
            &:nth-child(1) {
                @apply bg-[#AE7535]/20 lg:bg-transparent;
                & .icon {
                    @apply w-7.5 lg:w-31;
                    & .base {
                        @apply bg-[url(../images/ico-navigation-item1.svg)] bg-cover lg:bg-[left_2.0625rem_top_1.375rem] lg:bg-[length:3.75rem];
                    }
                    & .hover {
                        @apply bg-[url(../images/ico-navigation-item1-on.png)] lg:bg-[left_-1.25rem_top_-1.25rem] lg:bg-[length:9.375rem];
                    }
                }
                & .bubble {
                    @apply -left-28 bg-[url(../images/bg-navigation-item1.svg)] bg-[right_0.625rem_bottom_0.8125rem];
                    &::after {
                        @apply left-1/2 -translate-x-1/2;
                    }
                }
            }
            &:nth-child(2) {
                @apply bg-[#156D53]/20 lg:bg-transparent;
                & .icon {
                    @apply w-10 lg:w-31;
                    & .base, & .hover {
                        @apply bg-cover lg:bg-[length:4.0625rem] lg:bg-[center_top_2rem];
                    }
                    & .base {
                        @apply bg-[url(../images/ico-navigation-item2.svg)];
                    }
                    & .hover {
                        @apply bg-[url(../images/ico-navigation-item2-on.svg)];
                    }
                }
                & .bubble {
                    @apply -right-1 bg-[url(../images/bg-navigation-item2.png)] bg-[right_bottom] bg-[length:146px];
                    &::after {
                        @apply right-14;
                    }
                }
            }
        }
    }
}

#container {
    @apply relative z-5 overflow-hidden flex lg:px-5 lg:pt-5 flex-1;
    & .swiper, & .swiper-wrapper {
        @apply lg:rounded-[1.5rem];
    }
    & .swiper-slide {
        @apply flex flex-col justify-end relative pt-[6.625rem] pb-35 px-4 min-h-90 text-xl leading-snug font-thin text-white bg-cover bg-[center_top] lg:p-[3.125rem] lg:pb-[5.125rem] lg:min-h-[600px] lg:rounded-[1.5rem] lg:text-5xl lg:leading-tight;
        font-variation-settings: "wght" 100;
        &::before {
            @apply content-empty absolute top-0 left-0 right-0 bottom-0 bg-black/20;
        }
        & p {
            @apply relative z-5 pl-6 lg:pl-12;
            &::before {
                @apply content-empty absolute top-0 left-0 bottom-0.5 w-5 border-r border-white bg-no-repeat bg-[url(../images/bg-visual.svg)] bg-center bg-[length:100%] lg:w-[2.4375rem];
            }
        }
        & small {
            @apply block text-xs mb-2.5 leading-none lg:mb-4 lg:text-sm;
        }
        & strong {
            @apply font-medium;
            font-variation-settings: "wght" 500;
        }
        &.slide-visual1 {
            @apply bg-[url(../images/bg-visual1.jpg)];
        }
        &.slide-visual2 {
            @apply bg-[url(../images/bg-visual2.jpg)];
        }
        &.slide-visual3 {
            @apply bg-[url(../images/bg-visual3.jpg)];
        }
        &.slide-visual4 {
            @apply bg-[url(../images/bg-visual4.jpg)] lg:items-center;
            & img {
                @apply relative z-5 mx-auto w-[22.625rem] lg:mx-0 lg:w-[39.875rem];
            }
        }
    }
    & .swiper-custom-progress {
        @apply absolute z-50 bottom-[4.375rem] left-0 right-0 lg:bottom-0;
        & .progress-link {
            @apply flex flex-wrap font-serif leading-[1.15] pl-2 text-white xs:pl-4;
            & li {
                @apply flex-none w-1/4;
                & a {
                    @apply flex opacity-50 transition-opacity duration-500;
                    & sup {
                        @apply top-1 mt-px w-3.5 text-[0.625rem] font-bold;
                    }
                    & i {
                        @apply block mr-1 ml-px w-px bg-white align-top;
                    }
                    & span {
                        @apply inline-block relative pb-1 text-[0.8125rem] align-top lg:text-sm;
                    }
                    & br {
                        @apply xs:hidden;
                    }
                }
                &.is-active {
                    & a {
                        @apply opacity-100 font-bold;
                    }
                }
            }
        }
        & .progress-bar {
            @apply relative pl-2 h-[0.3125rem] bg-white/50 xs:pl-4;
            &::before {
                @apply content-empty block absolute top-0 left-0 w-2 h-full bg-[#FFDA1C] xs:w-4;
            }
            & .steps {
                @apply min-w-[0.9375rem] w-0 h-full bg-gradient-to-r from-[#FFDA1C] to-[#FF3333] bg-[length:100vw] lg:bg-[length:calc(100vw_-_2.5rem)];
            }
        }
    }
}

#description {
    @apply flex items-center justify-center absolute z-20 top-4.5 right-4 text-xs text-center tracking-tight font-light leading-tight text-white lg:static lg:h-20 lg:text-lg lg:text-black2;
    font-variation-settings: "wght" 300;
    & strong {
        @apply font-medium;
        font-variation-settings: "wght" 500;
    }
}

#footer {
    @apply p-6.5 bg-[#2D2D2D] text-center text-xs text-[rgba(255,255,255,0.61)];
    & strong {
        @apply font-medium uppercase text-white;
        font-variation-settings: "wght" 500;
    }
}