/* page wrapper */
#container {
    @apply pb-20
           lg:pb-25;
}


/* page full title */
#page-title {
    @apply mt-5 mx-auto pt-4 pb-1.5 px-2.5 max-w-[1736px] bg-no-repeat bg-[center_top] bg-[url(../images/txt-page-title.svg)] bg-[length:100%_auto] uppercase text-center leading-tight font-bold text-5xl
           sm:pt-5.5 sm:text-7xl
           md:px-5 md:bg-[length:calc(100%_-_2.5rem)_auto] md:text-9xl
           lg:mt-10 lg:pt-11 lg:pb-2 lg:text-[4.5rem]
           xl:pt-13 xl:text-[5.25rem]
           2xl:pt-17 2xl:bg-[length:auto_166px] 2xl:text-[6.25rem];
    & .english {
        @apply font-serif text-7xl
               sm:text-9xl
               md:text-[5.2rem]
               lg:text-[5.85rem]
               xl:text-[6.825rem]
               2xl:text-[8.125rem];
    }
}


/* page header */
#page-header {
    @apply relative mx-auto py-3 px-4 max-w-screen-xl z-20 bg-white
           lg:py-4 lg:px-7
           xl:px-10;
}

.page-header-breadcrumb {
    @apply flex flex-wrap gap-[0.5em] mb-3 leading-tight text-xs
           md:text-[0.8125rem];
    & li {
        @apply relative pr-[0.9em]
               last:pr-0       
               last:after:hidden;
        &::after {
            @apply content-empty absolute top-1/2 right-0 w-[0.5em] h-[0.5em] bg-no-repeat bg-cover bg-center -translate-y-1/2;
            background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='7.072' height='7.072' viewBox='0 0 7.072 7.072'%3E%3Cg id='Rectangle_2' data-name='Rectangle 2' transform='translate(7.072 3.536) rotate(135)' fill='%23d8d8d8' stroke-miterlimit='10'%3E%3Cpath d='M 0.5004000067710876 4.500400066375732 C 0.4999600350856781 4.500400066375732 0.4997600317001343 4.500370025634766 0.4997500479221344 4.500370025634766 L 0.4999000430107117 2.100388050079346 L 0.4999000430107117 4.5 L 0.5004000067710876 4.500400066375732 Z' stroke='none'/%3E%3Cpath d='M 0.5004000067710876 5.000400066375732 C 0.2241000384092331 5.000400066375732 3.318786667705353e-08 4.776299953460693 3.318786667705353e-08 4.5 L 3.318786667705353e-08 0.5004000067710876 C 3.318786667705353e-08 0.2241000384092331 0.2241000384092331 3.318786667705353e-08 0.5004000067710876 3.318786667705353e-08 L 4.5 3.318786667705353e-08 C 4.776299953460693 3.318786667705353e-08 5.000400066375732 0.2241000384092331 5.000400066375732 0.5004000067710876 C 5.000400066375732 0.7758000493049622 4.776299953460693 0.9999000430107117 4.5 0.9999000430107117 L 0.9999000430107117 0.9999000430107117 L 0.9999000430107117 4.5 C 0.9999000430107117 4.776299953460693 0.7758000493049622 5.000400066375732 0.5004000067710876 5.000400066375732 Z' stroke='none' fill='%23979797'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
}

.page-header-title {
    @apply relative;
    & .back {
        @apply btn-icon absolute left-0 bottom-0 flex flex-none overflow-hidden h-7.5 border border-black2 rounded-md bg-[length:0.375rem] bg-[url(../images/ico-angle-left.svg)] -indent-96
               md:h-9.5 md:bg-[length:0.5rem]
               lg:hidden lg:h-12 lg:bg-[length:0.75rem];
    }
    & .subject {
        @apply font-bold truncate text-center leading-tight text-2xl
               md:text-[1.875rem] 
               lg:flex-1 lg:text-left lg:text-5xl;
        & small {
            @apply font-serif text-lg tracking-tight align-middle lg:text-xl;
        }
    }
}

/* page container */
#page-container {
    @apply flex items-start flex-wrap mt-3 mx-auto px-4 max-w-screen-xl
           lg:mt-7 lg:px-7
           xl:px-10;
}

#page-sidenav {
    @apply flex-none fixed z-75 left-0 right-0 bottom-0 flex flex-col overflow-hidden bg-black/70 opacity-0 invisible
           lg:sticky lg:top-15 lg:bottom-auto lg:mr-7 lg:max-h-[calc(100vh_-_120px)] lg:rounded-[1.125rem] lg:bg-white lg:opacity-100 lg:visible lg-max:shadow-none;
    box-shadow: rgba(200,200,200,0.2) 3px 10px 5px, rgba(200,200,200,0.2) 5px 20px 10px, rgba(200,200,200,0.2) 8px 32px 16px, rgba(200,200,200,0.2) 24px 64px 32px, rgba(200,200,200,0.15) 48px 100px 32px;
    &.is-animate {
        @apply duration-500 transition-[opacity,visibility];
    }
    &.is-active {
        @apply opacity-100 visible;
    }
}

.page-sidenav-toggle {
    @apply flex-none flex mt-1 mx-auto w-9.5 h-4 overflow-hidden bg-no-repeat bg-center rounded-full border border-black2 bg-black2 transition-[background-color] duration-300 -indent-96
           after:block after:m-auto after:w-[14px] after:h-[5px] after:bg-no-repeat after:bg-center after:bg-[length:100%] after:bg-[url(../images/ico-compare-arrow2.svg)] after:rotate-180 after:transition-all after:duration-300
           lg:hidden;
    &.is-active {
        @apply bg-white
               after:bg-[url(../images/ico-compare-arrow.svg)];
    }
}

.page-sidenav-container {
    @apply flex ml-auto flex-col px-5 w-full max-w-none h-full overflow-hidden bg-white
           lg:ml-0 lg:py-5 lg:w-[274px] lg:rounded-[1.125rem];  
}

.page-sidenav-scrollbar {
    @apply scrollbars flex-1 px-5 -mx-5 pb-4;
    overflow: overlay;
}

.page-sidenav-group {
    @apply relative pt-5 pb-2 text-[0.9375rem]
           lg:pb-5 lg:text-base
           first:pt-2 last:pb-0;
    & .title {
        @apply mb-2.5 font-bold text-2xl tracking-tight
               lg:text-lg;
    }
    & .scroller {
        @apply relative
               before:hidden before:absolute before:top-0 before:left-1.5 before:w-px before:h-full before:bg-gray1
               lg:before:block;
    }
    & .direction {
        @apply scrollbars relative overflow-visible
               lg:overflow-x-visible lg:overflow-y-scroll lg:max-h-80;
        direction: rtl;
        &::-webkit-scrollbar {
            @apply w-[0.8125rem] h-[0.8125rem];
        }
        &::-webkit-scrollbar-thumb {
            @apply border-1 bg-black2 transition-all duration-300;
        }
    }
    & .content {
        @apply pl-0
               lg:pl-3;
        direction: ltr;
    }
    & .menulist {
        @apply flex flex-wrap gap-2.5
               lg:gap-3;
        & li {
            @apply w-[calc(50%_-_5px)]
                   lg:w-full;
            & a {
                @apply flex items-start relative border py-3 px-3 border-gray1 rounded-md tracking-tight
                       after:hidden after:mt-2.5 after:ml-2 after:flex-1 after:h-1 after:bg-black2 after:rounded-full
                       lg:p-0 lg:border-0;
                & span {
                    @apply block relative z-5 bg-white;
                }
            }
        }
        & .is-active {
            & a {
                @apply border-black2 font-bold shadow-[inset_0px_0px_0px_1px_#333]
                       after:hidden
                       lg:shadow-none
                       lg:after:block;
            }
        }
        & .require {
            & a {
                & span {
                    @apply after:absolute after:-top-0.5 after:-right-2 after:w-1.5 after:h-1.5 after:rounded-full after:bg-[#F51D1D];
                }
            }
        }
    }
    & .form-switch {
        @apply block pl-0 pr-[2.25em] text-base;
        & .form-check-input {
            @apply ml-0 -mr-[2.25em] float-right;
        }
    }
    & .moreview {
        @apply btn-icon absolute left-1/2 top-full -translate-x-1/2 -translate-y-1/2 w-17 h-4 border border-gray1 rounded-full bg-white bg-[length:0.625rem] bg-[url(../images/ico-plus.svg)];
    }
    &.is-active {
        & .direction {
            @apply !max-h-[none];
        }
        & .moreview {
            @apply bg-[url(../images/ico-minus.svg)];
        }
    }
}

#page-content {
    @apply flex-1 w-px mx-auto max-w-[960px];
}

#container {
    &.is-product {
        & #page-container {
            @apply mt-0;
        }
        & .page-sidenav-toggle {
            @apply absolute bottom-3 right-4 mt-0 w-7.5 h-7.5 rounded-md bg-white bg-[length:0.75rem] bg-[url(../images/ico-product-search-toggle.svg)]
                   after:hidden
                   md:w-9.5 md:h-9.5 md:bg-[length:1rem]
                   lg:right-7 lg:w-12 lg:h-12 lg:bg-[length:1.25rem];
            &.is-active {
                @apply bg-black2 bg-[url(../images/ico-close-white.svg)];
            }
        }
        & .page-sidenav-container {
            @apply py-5 w-[274px];
        }
        & .page-sidenav-group {
            @apply pb-5 border-b border-gray2 text-base
                   first:pt-5;
            & .scroller {
                @apply before:block;
            }
            & .direction {
                @apply overflow-x-visible overflow-y-scroll max-h-80;
            }
            & .title {
                @apply mb-5.5 text-lg text-gray1;
            }
            & .content {
                @apply pl-3;
            }
        }
    }
}