html {
    @apply scrollbars scroll-smooth overflow-visible;
}

body {
    @apply block relative w-full h-screen max-h-screen text-sm scrollbars scroll-smooth overflow-x-hidden text-black2
           md:text-base;
    &::-webkit-scrollbar {
        @apply w-3 h-3;
    }
    &::-webkit-scrollbar-thumb {
        @apply rounded-lg border-0.5;
    }
}

/* banner */
#banner {
    @apply hidden -mt-[3.125rem] bg-[#485EB2] leading-[1.16] text-center font-medium text-white
           md:-mt-14;
    & .container {
        @apply relative mx-auto px-4 max-w-screen-xl
               lg:px-7
               xl:px-10;
    }
    & img {
        @apply mx-auto h-[3.125rem] md:h-14;
    }
    & button {
        @apply absolute top-1/2 right-4 w-5 h-5 rounded-full bg-white/20 bg-no-repeat bg-center bg-[length:74%] bg-[url(../images/ico-close2-white.svg)] -translate-y-1/2
               lg:right-7 lg:w-5.5 lg:h-5.5
               xl:right-10;
    }
}

/* header */
#header {
    @apply relative top-0 left-0 z-80 w-full min-h-20 bg-white
           md:min-h-[6.1875rem]
           lg:min-h-[7.625rem];
}

#utility {
    @apply flex items-start relative mx-auto px-4 max-w-screen-xl
           lg:px-7
           xl:px-10;
    & .global-logo {
        & a {
            @apply pt-2 pb-1.5
                   md:pt-4 md:pb-2.5
                   lg:pt-7 lg:pb-4;
        }
    }
    & .utility-menu {
        @apply hidden gap-5 absolute right-0 leading-tight text-sm text-gray1
               md:top-3
               lg:right-7
               lg:flex xl:right-10;
    }
}

#navigation {
    @apply top-0 left-0 w-full border-b border-b-gray3 bg-white;
    & .container {
        @apply flex relative mx-auto pl-4 pr-13 max-w-screen-xl
               md:pr-15
               lg:px-7
               xl:px-10;
    }
    & .navigation-allmenu {
        @apply flex items-center gap-3 py-3;
        & i {
            @apply block w-4.5 h-3.5 bg-no-repeat bg-cover bg-center bg-[url(../images/ico-navigation-menu.svg)];
        }
        & span {
            @apply hidden lg:block;
        }
    }
    & .navigation-submenu {
        @apply flex-1 overflow-hidden whitespace-nowrap;
        & ul {
            @apply flex relative ml-3 overflow-auto
                   before:hidden before:absolute before:top-1/2 before:left-0 before:mt-px before:w-px before:h-[1em] before:bg-gray1 before:-translate-y-1/2
                   lg:ml-4 lg:pl-6
                   lg:before:block
                   xl:ml-6.5 xl:pl-[3.125rem];
            &::-webkit-scrollbar {
                @apply w-0 h-0;
            }
            &::-webkit-scrollbar-thumb {
                @apply border-transparent bg-transparent;
            }
        }
        & li {
            @apply mr-1
                   md:mr-7
                   xl:mr-15
                   last:mr-0;
        }
        & a {
            @apply block py-3 px-2;
        }
    }
    & .navigation-search {
        @apply absolute top-0 right-2
               md:right-1
               lg:block lg:-top-7 lg:right-45 lg:w-60
               xl:right-47 xl:w-70;
        & .search-toggle {
            @apply w-10 h-10 overflow-hidden bg-no-repeat bg-center bg-[url(../images/ico-navigation-search.svg)] bg-[length:1rem] -indent-96
                   md:w-12 md:h-12 md:bg-[length:1.25rem]
                   lg:hidden;
        }
        & .search-form {
            @apply hidden relative lg:!block;
        }
        & .form-field {
            @apply flex border-b border-b-black2;
            & legend {
                @apply sr-only;
            }
            & input {
                @apply flex-1 min-w-0 h-7.5 text-[0.9375rem];
            }
            & button[type="Submit"] {
                @apply w-7.5 h-7.5 overflow-hidden bg-no-repeat bg-center bg-[length:60%] bg-[url(../images/ico-navigation-search.svg)] -indent-96;
            }
        }
        & .form-current {
            @apply hidden scrollbars flex-1
                   lg:shadow-[0px_4px_8px_#00000033];
        }
        & .current-title {
            @apply flex items-center justify-between px-4 py-3.5 pb-1.5 text-sm font-bold;
            & a {
                @apply font-normal text-[0.8125rem] text-gray1 underline;
            }
        }
        & .current-items {
            @apply flex flex-col overflow-auto;
        }
    }
    & .navigation-util {
        @apply flex absolute -top-8 gap-1 right-3
               md:gap-1.5 md:-top-11
               lg:-top-8 lg:right-7
               xl:right-10;
        & [class*="util-item"] {
            @apply block w-8 h-8 overflow-hidden bg-no-repeat bg-center -indent-96
                   md:w-9 md:h-9
                   lg:w-10 lg:h-10;
        }
        & .util-item1 {
            @apply bg-[length:65%] bg-[url(../images/ico-user.svg)];
        }
        & .util-item2 {
            @apply bg-[length:65%] bg-[url(../images/ico-attent-equal.svg)];
        }
        & .util-item3 {
            @apply bg-[length:80%] bg-[url(../images/ico-cart.svg)];
        }
    }
}

.is-banner {
    & #banner {
        @apply block mt-0;
    }
    & #header {
        @apply min-h-31
               md:min-h-[9.6875rem]
               lg:min-h-[11.1875rem];
    }
}

.is-scroll {
    & #navigation {
        @apply fixed;
        & .navigation-allmenu {
            @apply md:!py-4;
        }
        & .navigation-submenu {
            & a {
                @apply lg:!py-4;
            }
        }
        & .navigation-search {
            @apply lg:!top-3;
        }
        & .navigation-util {
            @apply lg:!top-2;
        }
    }
}